In [1]:
empty_list = []

In [2]:
empty_list

[]

In [3]:
list_str = ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

list_str

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [4]:
type(list_str)

list

In [5]:
list_int = [5, 7, 8, 9, 20, 40]

list_int

[5, 7, 8, 9, 20, 40]

In [6]:
list_float = [5.5, 7.8, 8.5, 9.2, 20.3, 40.6]

list_float

[5.5, 7.8, 8.5, 9.2, 20.3, 40.6]

In [7]:
list_bool = [True, False]

list_bool

[True, False]

In [8]:
mixed_list = ['Nissan Sentra', 1, 2.5, True]

mixed_list

['Nissan Sentra', 1, 2.5, True]

In [9]:
cars_list = ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [10]:
print(cars_list[0])

Toyota Camry

In [11]:
print(cars_list[1])

print(cars_list[2])

print(cars_list[3])

Honda Accord
Honda Civic
Toyota Corolla

In [12]:
print(cars_list[4])

IndexError: ignored

In [13]:
len(cars_list)

4

In [14]:
print("car at index 2: ", cars_list[2])

car at index 2:  Honda Civic

In [15]:
print(cars_list[3])

Toyota Corolla

In [16]:
print(cars_list[1, 2])

TypeError: ignored

In [17]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [18]:
print(cars_list[-1])

Toyota Corolla

In [19]:
print(cars_list[-2])

print(cars_list[-3])

print(cars_list[-4])

Honda Civic
Honda Accord
Toyota Camry

In [20]:
print(cars_list[-5])

IndexError: ignored

In [21]:
cars_list[-2]

'Honda Civic'

In [22]:
len(cars_list)

4

In [23]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [24]:
cars_list[3] = 'Nissan Sentra'

print("New car at index 3 is: ", cars_list[3])

cars_list

New car at index 3 is:  Nissan Sentra

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Nissan Sentra']

In [25]:
cars_list[2] = 'Hyundai Elantra'

cars_list

['Toyota Camry', 'Honda Accord', 'Hyundai Elantra', 'Nissan Sentra']

In [26]:
cars_list = ['Toyota Camry', 'Honda Accord',
             'Honda Civic', 'Toyota Corolla']

cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [27]:
cars_list[4] = 'Hyundai Elantra'

cars_list

IndexError: ignored

In [28]:
cars_list.append('Hyundai Elantra')

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra']

In [29]:
cars_list.append('Nissan Sentra','Ford Fusion')

cars_list

TypeError: ignored

In [30]:
len(cars_list)

5

In [ ]:
cars_list.insert(6, 'Nissan Sentra')

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Sentra']

In [31]:
len(cars_list)

5

In [ ]:
cars_list.insert(5, 'Nissan Altima')

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra']

In [32]:
cars_list.extend(['Kia Optima', 'Kia Soul'])

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Kia Optima',
 'Kia Soul']

In [33]:
cars_list2 = ['Hennessey Venom GT', 'Bugatti Veyron', 'Koenigsegg Agera R']

cars_list2

['Hennessey Venom GT', 'Bugatti Veyron', 'Koenigsegg Agera R']

In [34]:
complete_cars_list = cars_list + cars_list2

complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R']

In [35]:
cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Kia Optima',
 'Kia Soul']

In [36]:
complete_cars_list.index('Honda Civic')

2

In [37]:
complete_cars_list.index('honda Civic')

ValueError: ignored

In [38]:
complete_cars_list.index('Hyundai Elantra')

4

In [39]:
complete_cars_list.remove('Hyundai Elantra')

complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R']

In [40]:
complete_cars_list.index('Hyundai Elantra')

ValueError: ignored

In [41]:
complete_cars_list += ['Chevrolet Cruze', 'Chevrolet Malibu']

complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R',
 'Chevrolet Cruze',
 'Chevrolet Malibu']

In [42]:
complete_cars_list.sort()

complete_cars_list

['Bugatti Veyron',
 'Chevrolet Cruze',
 'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Toyota Camry',
 'Toyota Corolla']

In [44]:
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Bugatti Veyron']

In [43]:
complete_cars_list.reverse()

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Bugatti Veyron']

In [45]:
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Bugatti Veyron']

In [47]:
complete_cars_list.pop()

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu']

In [46]:
complete_cars_list.pop()

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze']

In [48]:
complete_cars_list.append('Nissan Altima')

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [49]:
complete_cars_list.count('honda Civic')

0

In [50]:
complete_cars_list.count('Honda Civic')

1

In [51]:
complete_cars_list.count('Nissan Altima')

1

In [52]:
set(complete_cars_list)

{'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 'Toyota Camry',
 'Toyota Corolla'}

In [53]:
print(cars_list)

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla', 'Hyundai Elantra', 'Kia Optima', 'Kia Soul']

In [54]:
cars_list.clear()

In [55]:
cars_list

[]

In [56]:
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [57]:
new_cars_list = complete_cars_list.copy()

In [58]:
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [59]:
new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [60]:
del complete_cars_list

In [62]:
complete_cars_list

NameError: ignored

In [63]:
new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [64]:
another_cars_list = new_cars_list

another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [65]:
another_cars_list.remove('Hennessey Venom GT')

In [66]:
another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [67]:
new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [68]:
new_cars_list.remove('Hennessey Venom GT')

ValueError: ignored

In [69]:
new_cars_list.remove('Nissan Sentra')

new_cars_list

ValueError: ignored

In [70]:
another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [71]:
# START FROM HERE #

In [ ]:
list_num = [20, 70, 80, 50, 30, 60, 40]

list_num

[20, 70, 80, 50, 30, 60, 40]

In [ ]:
max(list_num)

80

In [ ]:
min(list_num)

20

In [ ]:
len(list_num)

7

In [ ]:
list_num.sort()

list_num

[20, 30, 40, 50, 60, 70, 80]

In [ ]:
list_num.append(25)

list_num

[20, 30, 40, 50, 60, 70, 80, 25]

In [ ]:
sorted_list_num = sorted(list_num)

In [ ]:
sorted_list_num

[20, 25, 30, 40, 50, 60, 70, 80]

In [ ]:
list_num

[20, 30, 40, 50, 60, 70, 80, 25]

In [ ]:
sum(list_num)

375

In [ ]:
list_num *= 2

In [ ]:
list_num

[20, 30, 40, 50, 60, 70, 80, 25, 20, 30, 40, 50, 60, 70, 80, 25]

In [ ]:
list_num *= 2.0

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
all([0])

False

In [ ]:
all([1])

True

In [ ]:
all([0, 1])

False

In [ ]:
all(list_num)

True

In [ ]:
new_num_list = []

all(new_num_list)

True

In [ ]:
any([0])

False

In [ ]:
any([1])

True

In [ ]:
any([0,1])

True

In [ ]:
any(list_num)

True

In [ ]:
any(new_num_list)

False

In [ ]:
my_car_list = ['Toyota Corolla', 'Toyota Camry',
               'Nissan Altima', 'Kia Soul',
               'Kia Optima', 'Honda Civic']
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [ ]:
len(my_car_list)

6

In [ ]:
my_car_list[4]

'Kia Optima'

In [ ]:
my_car_list[5]

'Honda Civic'

In [ ]:
my_car_list[-2]

'Kia Optima'

In [ ]:
my_car_list[-4]

'Nissan Altima'

In [ ]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [ ]:
my_car_list[0:4]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul']

In [ ]:
my_car_list[0:2]

['Toyota Corolla', 'Toyota Camry']

In [ ]:
my_car_list[0:6]

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [ ]:
my_car_list[0:7]

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [ ]:
my_car_list[7:]

[]

In [ ]:
my_car_list[5:6]

['Honda Civic']

In [ ]:
my_car_list[3:6]

['Kia Soul', 'Kia Optima', 'Honda Civic']

In [ ]:
my_car_list[:3]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima']

In [ ]:
my_car_list[3:]

['Kia Soul', 'Kia Optima', 'Honda Civic']

In [ ]:
my_car_list[0:-4]

['Toyota Corolla', 'Toyota Camry']

In [ ]:
my_car_list[-4:-1]

['Nissan Altima', 'Kia Soul', 'Kia Optima']

In [ ]:
my_car_list[-2:-4]

[]

In [ ]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [ ]:
my_car_list[0:5:]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optima']

In [ ]:
my_car_list[::2]

['Toyota Corolla', 'Nissan Altima', 'Kia Optima']

In [ ]:
my_car_list[0:5:2]

['Toyota Corolla', 'Nissan Altima', 'Kia Optima']

In [ ]:
my_car_list[2:5:2]

['Nissan Altima', 'Kia Optima']

In [ ]:
my_car_list[0:5:3]

['Toyota Corolla', 'Kia Soul']

In [ ]:
my_car_list[1:4:2]

['Toyota Camry', 'Kia Soul']

In [ ]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [ ]:
my_car_list[::-1]

['Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Nissan Altima',
 'Toyota Camry',
 'Toyota Corolla']

In [ ]:
my_car_list[2:0:-1]

['Nissan Altima', 'Toyota Camry']

In [ ]:
my_car_list[4:1:-1]

['Kia Optima', 'Kia Soul', 'Nissan Altima']

In [ ]:
my_car_list[-4:0:-1]

['Nissan Altima', 'Toyota Camry']

In [ ]:
my_car_list[::-2]

['Honda Civic', 'Kia Soul', 'Toyota Camry']

In [ ]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [ ]:
print(my_car_list)

len(my_car_list)

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optima', 'Honda Civic']

6

In [ ]:
my_car_list[6:-1] = ['Ford Focus','Dodge Charger']

my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Ford Focus',
 'Dodge Charger']

In [ ]:
print(my_car_list)

len(my_car_list)

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optima', 'Honda Civic', 'Ford Focus', 'Dodge Charger']

8

In [ ]:
'Ford Focus' in my_car_list

True

In [ ]:
my_car_list.pop(-2)

'Ford Focus'

In [ ]:
'Ford Focus' in my_car_list

False

In [ ]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Dodge Charger']

In [ ]:
my_car_list = ['Toyota Corolla', 'Toyota Camry',
               'Nissan Altima', 'Kia Soul',
               'Kia Optima', 'Honda Civic']
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [ ]:
len(my_car_list)

6

In [ ]:
my_car_list[4]

'Kia Optima'

In [ ]:
my_car_list[5]

'Honda Civic'

In [ ]:
my_car_list[-2]

'Kia Optima'

In [ ]:
my_car_list[-4]

'Nissan Altima'

In [ ]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [ ]:
my_car_list[0:4]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul']

In [ ]:
my_car_list[0:2]

['Toyota Corolla', 'Toyota Camry']

In [ ]:
my_car_list[0:6]

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [ ]:
my_car_list[0:7]

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [ ]:
my_car_list[7:]

[]

In [ ]:
my_car_list[5:6]

['Honda Civic']

In [ ]:
my_car_list[3:6]

['Kia Soul', 'Kia Optima', 'Honda Civic']

In [ ]:
my_car_list[:3]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima']

In [ ]:
my_car_list[3:]

['Kia Soul', 'Kia Optima', 'Honda Civic']

In [ ]:
my_car_list[0:-4]

['Toyota Corolla', 'Toyota Camry']

In [ ]:
my_car_list[-4:-1]

['Nissan Altima', 'Kia Soul', 'Kia Optima']

In [ ]:
my_car_list[-2:-4]

[]

In [ ]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [ ]:
my_car_list[0:5:]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optima']

In [ ]:
my_car_list[::2]

['Toyota Corolla', 'Nissan Altima', 'Kia Optima']

In [ ]:
my_car_list[0:5:2]

['Toyota Corolla', 'Nissan Altima', 'Kia Optima']

In [ ]:
my_car_list[2:5:2]

['Nissan Altima', 'Kia Optima']

In [ ]:
my_car_list[0:5:3]

['Toyota Corolla', 'Kia Soul']

In [ ]:
my_car_list[1:4:2]

['Toyota Camry', 'Kia Soul']

In [ ]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [ ]:
my_car_list[::-1]

['Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Nissan Altima',
 'Toyota Camry',
 'Toyota Corolla']

In [ ]:
my_car_list[2:0:-1]

['Nissan Altima', 'Toyota Camry']

In [ ]:
my_car_list[4:1:-1]

['Kia Optima', 'Kia Soul', 'Nissan Altima']

In [ ]:
my_car_list[-4:0:-1]

['Nissan Altima', 'Toyota Camry']

In [ ]:
my_car_list[::-2]

['Honda Civic', 'Kia Soul', 'Toyota Camry']

In [ ]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [ ]:
print(my_car_list)

len(my_car_list)

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optima', 'Honda Civic']

6

In [ ]:
my_car_list[6:-1] = ['Ford Focus','Dodge Charger']

my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Ford Focus',
 'Dodge Charger']

In [ ]:
print(my_car_list)

len(my_car_list)

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optima', 'Honda Civic', 'Ford Focus', 'Dodge Charger']

8

In [ ]:
'Ford Focus' in my_car_list

True

In [ ]:
my_car_list.pop(-2)

'Ford Focus'

In [ ]:
'Ford Focus' in my_car_list

False

In [ ]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Dodge Charger']

In [ ]:
print('World')

World

In [ ]:
x = 'World'

x

'World'

In [ ]:
x[0]

'W'

In [ ]:
x[3]

'l'

In [ ]:
x[6]

IndexError: string index out of range

In [ ]:
x[0] = 'B'

TypeError: 'str' object does not support item assignment

In [ ]:
a, b, c, d, e = x

print(a)

W

In [ ]:
a, b, c, d, e

('W', 'o', 'r', 'l', 'd')

In [ ]:
a, b, c, d = x

ValueError: too many values to unpack (expected 4)

In [ ]:
a, b,_ ,_ ,_ = x

print(b)

o

In [ ]:
input('How are you?: ')

How are you?: ok

'ok'

In [ ]:
place = input('Where are you from?: ')

Where are you from?: New York City

In [ ]:
place

'New York City'

In [ ]:
len(place)

13

In [ ]:
place[9:]

'City'

In [ ]:
place[-4:]

'City'

In [ ]:
place[4:-4]

'York '

In [ ]:
place[0:8:2]

'NwYr'

In [ ]:
place[4:-4]

'York '

In [ ]:
place[::1]

'New York City'

In [ ]:
place[::-1]

'ytiC kroY weN'

In [ ]:
place[:8]

'New York'

In [ ]:
city = place[:8]

In [ ]:
del city

In [ ]:
city

NameError: name 'city' is not defined

In [ ]:
print(place.startswith('N'))

True

In [ ]:
print(place.startswith('n'))

False

In [ ]:
print(place.endswith('y'))

True

In [ ]:
print(place.endswith('City'))

True

In [ ]:
place.count('y')

1

In [ ]:
lower_place = place.lower()

lower_place

'new york city'

In [ ]:
upper_place = place.upper()

upper_place

'NEW YORK CITY'

In [ ]:
upper_place.count('Y')

2

In [ ]:
lower_place == upper_place

False

In [ ]:
place == upper_place

False

In [ ]:
place.find('C')

9

In [ ]:
place.find('York')

4

In [ ]:
place.index('Y')

4

In [ ]:
place.index('c')

ValueError: substring not found

In [ ]:
place.find('c')

-1

In [ ]:
split_place = place.split('k')

split_place

['New Yor', ' City']

In [ ]:
place.count(' ')

2

In [ ]:
split_place = place.split(' ')

In [ ]:
split_place

['New', 'York', 'City']

In [ ]:
len(split_place)

3

In [ ]:
join_char = ','

join_char.join(split_place)

'New,York,City'

In [ ]:
join_char1 = ' '

join_char1.join(split_place)

'New York City'

In [ ]:
"|".join(split_place)

'New|York|City'

In [ ]:
print('World')

World

In [ ]:
x = 'World'

x

'World'

In [ ]:
x[0]

'W'

In [ ]:
x[3]

'l'

In [ ]:
x[6]

IndexError: string index out of range

In [ ]:
x[0] = 'B'

TypeError: 'str' object does not support item assignment

In [ ]:
a, b, c, d, e = x

print(a)

W

In [ ]:
a, b, c, d, e

('W', 'o', 'r', 'l', 'd')

In [ ]:
a, b, c, d = x

ValueError: too many values to unpack (expected 4)

In [ ]:
a, b,_ ,_ ,_ = x

print(b)

o

In [ ]:
input('How are you?: ')

How are you?: ok

'ok'

In [ ]:
place = input('Where are you from?: ')

Where are you from?: New York City

In [ ]:
place

'New York City'

In [ ]:
len(place)

13

In [ ]:
place[9:]

'City'

In [ ]:
place[-4:]

'City'

In [ ]:
place[4:-4]

'York '

In [ ]:
place[0:8:2]

'NwYr'

In [ ]:
place[4:-4]

'York '

In [ ]:
place[::1]

'New York City'

In [ ]:
place[::-1]

'ytiC kroY weN'

In [ ]:
place[:8]

'New York'

In [ ]:
city = place[:8]

In [ ]:
del city

In [ ]:
city

NameError: name 'city' is not defined

In [ ]:
print(place.startswith('N'))

True

In [ ]:
print(place.startswith('n'))

False

In [ ]:
print(place.endswith('y'))

True

In [ ]:
print(place.endswith('City'))

True

In [ ]:
place.count('y')

1

In [ ]:
lower_place = place.lower()

lower_place

'new york city'

In [ ]:
upper_place = place.upper()

upper_place

'NEW YORK CITY'

In [ ]:
upper_place.count('Y')

2

In [ ]:
lower_place == upper_place

False

In [ ]:
place == upper_place

False

In [ ]:
place.find('C')

9

In [ ]:
place.find('York')

4

In [ ]:
place.index('Y')

4

In [ ]:
place.index('c')

ValueError: substring not found

In [ ]:
place.find('c')

-1

In [ ]:
split_place = place.split('k')

split_place

['New Yor', ' City']

In [ ]:
place.count(' ')

2

In [ ]:
split_place = place.split(' ')

In [ ]:
split_place

['New', 'York', 'City']

In [ ]:
len(split_place)

3

In [ ]:
join_char = ','

join_char.join(split_place)

'New,York,City'

In [ ]:
join_char1 = ' '

join_char1.join(split_place)

'New York City'

In [ ]:
"|".join(split_place)

'New|York|City'

In [ ]:
my_string = "Hello Python World"

print (my_string[0:18])

Hello Python World

In [ ]:
print (my_string[0:6])

Hello

In [ ]:
print (my_string[6:18])

Python World

In [ ]:
print (my_string[6:12])

Python

In [ ]:
my_string = "Hello Python World"
print(my_string[::2])

HloPto ol

In [ ]:
my_string = "Hello Python World"
print(my_string[0:18:1])

Hello Python World

In [ ]:
my_string = "Hello Python World"
print(my_string[0:18:2])

HloPto ol

In [ ]:
my_string = "Hello Python World"
print(my_string[18:0:-2])

drWnhy le

In [ ]:
my_string[4::-1]

'olleH'

In [ ]:
my_string = "Hello Python World"
print (my_string[::-1])

dlroW nohtyP olleH

In [ ]:
my_string = "Hello Python World"

some_string = my_string.split( )
some_string

['Hello', 'Python', 'World']

In [ ]:
my_string = "hello python world"

my_string.upper()

'HELLO PYTHON WORLD'

In [ ]:
"HELLO PYTHON WORLD".isupper()

True

In [ ]:
my_string = "HELLO PYTHON WORLD"

my_string

'HELLO PYTHON WORLD'

In [ ]:
my_string.lower()

'hello python world'

In [ ]:
my_tuple = ()

my_tuple

()

In [ ]:
type(my_tuple)

tuple

In [ ]:
print(type(my_tuple))

<class 'tuple'>

In [ ]:
int_tuple = (1, 2, 3)

print(int_tuple)

(1, 2, 3)

In [ ]:
str_tuple = ("Hello", "Python")

print(str_tuple)

('Hello', 'Python')

In [ ]:
print(int_tuple , str_tuple)

(1, 2, 3) ('Hello', 'Python')

In [ ]:
combined_tuple = int_tuple + str_tuple

print(combined_tuple)

(1, 2, 3, 'Hello', 'Python')

In [ ]:
int_tuple += (10,)

print(int_tuple)

(1, 2, 3, 10)

In [ ]:
print(str_tuple * 3)

('Hello', 'Python', 'Hello', 'Python', 'Hello', 'Python')

In [ ]:
mixed_tuple = (1, "Hello", 3.4)

print(mixed_tuple)

(1, 'Hello', 3.4)

In [ ]:
my_tuple = 1, "Hello", 3.4

print(my_tuple)

(1, 'Hello', 3.4)

In [ ]:
a, b, c = my_tuple

print(a)
print(b)
print(c)

1
Hello
3.4

In [ ]:
nested_tuple = (1, 2, 3, (4, 5, 6))

print(nested_tuple)

(1, 2, 3, (4, 5, 6))

In [ ]:
mixed_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

print(mixed_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [ ]:
my_tuple = ('p','e','r','m','i','t')

my_tuple

('p', 'e', 'r', 'm', 'i', 't')

In [ ]:
print(my_tuple[0])

p

In [ ]:
print(my_tuple[5])

t

In [ ]:
print(my_tuple[6])

IndexError: tuple index out of range

In [ ]:
mixed_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

mixed_tuple

('mouse', [8, 4, 6], (1, 2, 3))

In [ ]:
print (mixed_tuple[0])

mouse

In [ ]:
print (mixed_tuple[0][3])

s

In [ ]:
print (mixed_tuple['s'])

TypeError: tuple indices must be integers or slices, not str

In [ ]:
print (mixed_tuple[1])

[8, 4, 6]

In [ ]:
print (mixed_tuple[1][0])

8

In [ ]:
nested_tuple = mixed_tuple[2]

print (nested_tuple)

(1, 2, 3)

In [ ]:
print (mixed_tuple[2][2])

3

In [ ]:
my_tuple = ('E','l','e','p','h','a','n','t')

print(my_tuple[1:])

('l', 'e', 'p', 'h', 'a', 'n', 't')

In [ ]:
print(my_tuple[2:4])

('e', 'p')

In [ ]:
print(my_tuple[::2])

('E', 'e', 'h', 'n')

In [ ]:
print(my_tuple[-1])

t

In [ ]:
print(my_tuple[-3])

a

In [ ]:
print(my_tuple[::-1])

('t', 'n', 'a', 'h', 'p', 'e', 'l', 'E')

In [ ]:
my_tuple = ('H','e','l','l','o')

my_tuple

('H', 'e', 'l', 'l', 'o')

In [ ]:
print(my_tuple.index('H'))

0

In [ ]:
print(my_tuple.index('o'))

4

In [ ]:
my_tuple = ('H','e','l','l','o')

my_tuple

('H', 'e', 'l', 'l', 'o')

In [ ]:
print('e' in my_tuple)

True

In [ ]:
print('t' in my_tuple)

False

In [ ]:
print('e' not in my_tuple)

False

In [ ]:
my_tuple = ('p','y','t','h','o','n')

len(my_tuple)

6

In [ ]:
int_tuple = (1, 4, 9)

len(int_tuple)

3

In [ ]:
mixed_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

len(mixed_tuple)

3

In [ ]:
max(my_tuple)

'y'

In [ ]:
max(int_tuple)

9

In [ ]:
max(mixed_tuple)

TypeError: '>' not supported between instances of 'list' and 'str'

In [ ]:
min(my_tuple)

'h'

In [ ]:
min(int_tuple)

1

In [ ]:
int_tuple = (1, 4, 9, 9)

sum(int_tuple)

23

In [ ]:
int_tuple = (1, 4, 9, 9)

list(int_tuple)

[1, 4, 9, 9]

In [ ]:
int_tuple = (1, 4, 9, 9)

set(int_tuple)

{1, 4, 9}

In [ ]:
immutable_tuple_1 = (0, 1, 2, 3) 

immutable_tuple_1

(0, 1, 2, 3)

In [ ]:
immutable_tuple_1 [0] = 4

print(immutable_tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
immutable_tuple_2 = (4, 2, 3, (6, 5))

immutable_tuple_2

(4, 2, 3, (6, 5))

In [ ]:
immutable_tuple_2[0]

4

In [ ]:
immutable_tuple_2[0] = 9

TypeError: 'tuple' object does not support item assignment

In [ ]:
immutable_tuple_2 = (4, 2, 3, [6, 5])

immutable_tuple_2

(4, 2, 3, [6, 5])

In [ ]:
immutable_tuple_2[3]

[6, 5]

In [ ]:
immutable_tuple_2[3][1] = 100

print(immutable_tuple_2)

(4, 2, 3, [6, 100])

In [ ]:
my_tuple = ('p','y','t','h','o','n')

my_tuple

('p', 'y', 't', 'h', 'o', 'n')

In [ ]:
del my_tuple[3]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
del my_tuple

In [ ]:
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [ ]:
tuple_a = (1, 2, 3, 4, 5)

tuple_b = ('a', 'b', 'c', 'd', 'e')

In [ ]:
zipped = zip(tuple_a, tuple_b)

print(zipped)

<zip object at 0x105273808>

In [ ]:
result = tuple(zipped)

print (result)

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'))

In [ ]:
tuple_x, tuple_y = zip(*result)

In [ ]:
print('tuple_x :',tuple_x)

print('tuple_y :',tuple_y)

tuple_x : (1, 2, 3, 4, 5)
tuple_y : ('a', 'b', 'c', 'd', 'e')

In [ ]:
list_a = [6, 7, 8, 9, 10]

list_b = ['a', 'e', 'i', 'o', 'u']

In [ ]:
zipped_list = zip(list_a, list_b)

In [ ]:
result = list(zipped_list)

print(result)

[(6, 'a'), (7, 'e'), (8, 'i'), (9, 'o'), (10, 'u')]

In [ ]:
a = ("John", "Charles", "Mike")

b = ("Manager", "Supervisor", "Engineer")

x = zip(a, b)

In [ ]:
print(dict(x))

{'John': 'Manager', 'Charles': 'Supervisor', 'Mike': 'Engineer'}

In [ ]:
numbers_list = [1, 2, 3]

str_list = ['one', 'two', 'three']

numbers_tuple = ('ONE', 'TWO', 'THREE', 'FOUR')

result = zip(numbers_list, numbers_tuple)

In [ ]:
print(result)

<zip object at 0x1053181c8>

In [ ]:
result_set = set(result)

print(result_set)

{(2, 'TWO'), (3, 'THREE'), (1, 'ONE')}

In [ ]:
result = zip(numbers_list, str_list, numbers_tuple)

In [ ]:
result_set = set(result)

print(result_set)

{(1, 'one', 'ONE'), (3, 'three', 'THREE'), (2, 'two', 'TWO')}

In [ ]:
num_list = [1, 2.5, 'num', True]

print(num_list)

[1, 2.5, 'num', True]

In [ ]:
type(num_list)

list

In [ ]:
type(num_list[1])

float

In [ ]:
type(num_list[3])

bool

In [ ]:
num_t = (1, 2.5, 'num', True)

num_t

(1, 2.5, 'num', True)

In [ ]:
type(num_t)

tuple

In [ ]:
type(num_t[2])

str

In [ ]:
my_dictionary = {"a":25, 
                 "b":3.4, 
                 "c":20}

my_dictionary

{'a': 25, 'b': 3.4, 'c': 20}

In [ ]:
type(my_dictionary)

dict

In [ ]:
a = {5, 2, 3, '1', 4, 4}
a

{'1', 2, 3, 4, 5}

In [ ]:
type(a)

set