In [1]:
empty_dict = {}

In [2]:
empty_dict

{}

In [3]:
bike_owners = {"James" : "Ducati Monster 1200",
               "Jacob" : "Ducati Scrambler 1100",
               "William" : "BMW S 1000 RR",
               "Aiden" : "Harley Davidson"}
bike_owners

{'James': 'Ducati Monster 1200',
 'Jacob': 'Ducati Scrambler 1100',
 'William': 'BMW S 1000 RR',
 'Aiden': 'Harley Davidson'}

In [4]:
bike_owners["James"]

'Ducati Monster 1200'

In [5]:
bike_owners["Aiden"]

'Harley Davidson'

In [6]:
bike_owners["BMW S 1000 R"]

KeyError: 'BMW S 1000 R'

In [7]:
int_dict = {1 : 45, 2 : 55, 3 : 65}

int_dict

{1: 45, 2: 55, 3: 65}

In [8]:
int_dict[2]

55

In [9]:
int_dict = {1 : 45, 2 : 55, 3 : 85, 3 : 75}

int_dict

{1: 45, 2: 55, 3: 75}

In [10]:
student_details = {"Henry" : 1995, 
                   "Samuel" : 1999, 
                   "Ingrid" :2005}

student_details

{'Henry': 1995, 'Samuel': 1999, 'Ingrid': 2005}

In [11]:
student_details.keys()

dict_keys(['Henry', 'Samuel', 'Ingrid'])

In [12]:
"Samuel" in student_details.keys()

True

In [13]:
"Andrew" in student_details.keys()

False

In [14]:
"Henry" in student_details.keys()

True

In [15]:
student_details.values()

dict_values([1995, 1999, 2005])

In [16]:
mixed_dict = {False: "Daniel", 
              "Aria": [1,2,3], 
              "Jacob": True}

mixed_dict

{False: 'Daniel', 'Aria': [1, 2, 3], 'Jacob': True}

In [17]:
mixed_dict["Aria"]

[1, 2, 3]

In [18]:
mixed_dict[False]

'Daniel'

In [19]:
bike_details = {"bike_owner" : "James Smith" ,
                "bike_model" : "Ducati Monster 1200" ,
                "bike_price" : 28140 ,
                "engine_displacement" : 1197}
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 28140,
 'engine_displacement': 1197}

In [20]:
bike_details['num_cylinders'] = 2

In [21]:
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 28140,
 'engine_displacement': 1197,
 'num_cylinders': 2}

In [22]:
bike_details['bike_price'] = 29140

In [23]:
bike_details['bike_price']

29140

In [24]:
bike_details.get('bike_price')

29140

In [25]:
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 29140,
 'engine_displacement': 1197,
 'num_cylinders': 2}

In [26]:
del bike_details["engine_displacement"]

In [27]:
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 29140,
 'num_cylinders': 2}

In [1]:
fruit_qty = {}

fruit_qty

{}

In [2]:
fruit_qty['Banana'] = 50

fruit_qty['Apple'] = 78

fruit_qty['Apricot'] = 40

In [3]:
fruit_qty

{'Banana': 50, 'Apple': 78, 'Apricot': 40}

In [4]:
fruit_qty['Orange'] = 70
fruit_qty['Avocado'] = 30

fruit_qty

{'Banana': 50, 'Apple': 78, 'Apricot': 40, 'Orange': 70, 'Avocado': 30}

In [5]:
fruit_qty['Apricot']

40

In [6]:
fruit_qty['Watermelon']

KeyError: 'Watermelon'

In [7]:
fruit_qty['Watermelon'] = 10

fruit_qty

{'Banana': 50,
 'Apple': 78,
 'Apricot': 40,
 'Orange': 70,
 'Avocado': 30,
 'Watermelon': 10}

In [8]:
fruit_qty['Watermelon']

10

In [9]:
fruit_qty_consumed = {'Banana': [50, 60, 40, 55],
                      'Apple': [78, 86, 80, 60], 
                      'Apricot': [40, 70, 30, 55],
                      'Orange': [70, 80, 60, 65],
                      'Avocado': [30, 50, 40, 45]}

In [10]:
fruit_qty_consumed

{'Banana': [50, 60, 40, 55],
 'Apple': [78, 86, 80, 60],
 'Apricot': [40, 70, 30, 55],
 'Orange': [70, 80, 60, 65],
 'Avocado': [30, 50, 40, 45]}

In [11]:
fruit_qty_consumed['Orange']

[70, 80, 60, 65]

In [12]:
fruit_qty_consumed['Orange'][3]

65

In [13]:
fruit_qty_consumed['Avocado']

[30, 50, 40, 45]

In [14]:
fruit_qty_consumed['Avocado'][3] = 50

In [15]:
fruit_qty_consumed['Avocado']

[30, 50, 40, 50]

In [16]:
fruit_qty_consumed = {
                'Banana': {'Fri': 70, 'Sat': 80, 'Sun': 95},
                'Apple': {'Fri': 90, 'Sat': 95, 'Sun': 110},
                'Apricot': {'Fri': 70, 'Sat': 85, 'Sun': 95},
                'Orange': {'Fri': 80, 'Sat': 90, 'Sun': 100},
                'Avocado': {'Fri': 60, 'Sat': 70, 'Sun': 80}
}

In [17]:
fruit_qty_consumed

{'Banana': {'Fri': 70, 'Sat': 80, 'Sun': 95},
 'Apple': {'Fri': 90, 'Sat': 95, 'Sun': 110},
 'Apricot': {'Fri': 70, 'Sat': 85, 'Sun': 95},
 'Orange': {'Fri': 80, 'Sat': 90, 'Sun': 100},
 'Avocado': {'Fri': 60, 'Sat': 70, 'Sun': 80}}

In [18]:
fruit_qty_consumed['Apple']

{'Fri': 90, 'Sat': 95, 'Sun': 110}

In [19]:
fruit_qty_consumed['Apricot']['Sun']

95

In [20]:
fruit_qty_consumed['Apricot']['Mon']

KeyError: 'Mon'

In [1]:
bike_details = {"bike_owner" : "James Smith" ,
                "bike_model" : "Ducati Monster 1200" ,
                "bike_price" : 28140 ,
                "engine_displacement" : 1197}

bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 28140,
 'engine_displacement': 1197}

In [2]:
len(bike_details)

4

In [3]:
len(bike_details.keys())

4

In [4]:
len(bike_details.values())

4

In [5]:
sorted(bike_details)

['bike_model', 'bike_owner', 'bike_price', 'engine_displacement']

In [6]:
sorted(bike_details, reverse=True)

['engine_displacement', 'bike_price', 'bike_owner', 'bike_model']

In [7]:
sorted(bike_details.values())

TypeError: '<' not supported between instances of 'int' and 'str'

In [8]:
bike_details.keys()

dict_keys(['bike_owner', 'bike_model', 'bike_price', 'engine_displacement'])

In [9]:
bike_details.items()

dict_items([('bike_owner', 'James Smith'), ('bike_model', 'Ducati Monster 1200'), ('bike_price', 28140), ('engine_displacement', 1197)])

In [10]:
copy_bike_details = bike_details.copy()

In [11]:
copy_bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 28140,
 'engine_displacement': 1197}

In [12]:
copy_bike_details.pop('engine_displacement')

1197

In [13]:
copy_bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 28140}

In [14]:
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 28140,
 'engine_displacement': 1197}

In [15]:
copy_bike_details.pop('engine_displacement')

KeyError: 'engine_displacement'

In [16]:
copy_bike_details.popitem()

('bike_price', 28140)

In [17]:
copy_bike_details

{'bike_owner': 'James Smith', 'bike_model': 'Ducati Monster 1200'}

In [18]:
dict_age = {"Ethan": 54,"Sofia": 50}

new_dict_age = {"Ethan": 55,"Harper": 58}

In [19]:
dict_age.update(new_dict_age)

dict_age

{'Ethan': 55, 'Sofia': 50, 'Harper': 58}

In [20]:
copy_bike_details

{'bike_owner': 'James Smith', 'bike_model': 'Ducati Monster 1200'}

In [21]:
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 28140,
 'engine_displacement': 1197}

In [22]:
bike_details.clear()

In [23]:
bike_details

{}

In [24]:
del copy_bike_details

In [25]:
copy_bike_details

NameError: name 'copy_bike_details' is not defined

In [1]:
set_string = {"Emma", "Olivia", "Ava", "Mia"}

set_string

{'Ava', 'Emma', 'Mia', 'Olivia'}

In [2]:
print(set_string)

{'Mia', 'Ava', 'Olivia', 'Emma'}

In [3]:
empty_set = set()

empty_set

set()

In [4]:
print(type(empty_set))

<class 'set'>

In [5]:
mixed_set = {"Emma", 5, 1.5, True}

In [6]:
mixed_set

{1.5, 5, 'Emma', True}

In [7]:
mixed_set1 = {"Emma", 5, 1.5 ,True, (1,2,3)}

mixed_set1

{(1, 2, 3), 1.5, 5, 'Emma', True}

In [8]:
set_list = {1, 2, 3, [4, 5, 6]}

TypeError: unhashable type: 'list'

In [9]:
set_dict = {1, 2, 3, {4: "Emma"}}

TypeError: unhashable type: 'dict'

In [10]:
set_tuple = {1, 2, 3, (4, 5, 6)}

set_tuple

{(4, 5, 6), 1, 2, 3}

In [11]:
student_set = {"Emma", "Olivia", "Ava", "Mia", "Emma", "Ava"} 

student_set

{'Ava', 'Emma', 'Mia', 'Olivia'}

In [12]:
set_int = {1, 3, 4, 5, 6, 2, 5, 3, 4}

set_int

{1, 2, 3, 4, 5, 6}

In [13]:
student_set

{'Ava', 'Emma', 'Mia', 'Olivia'}

In [14]:
student_set[1]

TypeError: 'set' object does not support indexing

In [15]:
set_1 = {1, 3, 4, 8, 'a', 6, 2, 10, 3, 4}

set_1

{1, 10, 2, 3, 4, 6, 8, 'a'}

In [16]:
set_1.add(9)

set_1

{1, 10, 2, 3, 4, 6, 8, 9, 'a'}

In [17]:
set_1.add(9.5)

set_1

{1, 10, 2, 3, 4, 6, 8, 9, 9.5, 'a'}

In [18]:
set_1.add(9)

set_1

{1, 10, 2, 3, 4, 6, 8, 9, 9.5, 'a'}

In [19]:
teachers_set = {"Emma", "Olivia", "Ava", "Mia", "Avery", "Jacob", "Daniel"}

teachers_set

{'Ava', 'Avery', 'Daniel', 'Emma', 'Jacob', 'Mia', 'Olivia'}

In [20]:
len(teachers_set)

7

In [21]:
max(teachers_set)

'Olivia'

In [22]:
min(teachers_set)

'Ava'

In [23]:
teachers_set.discard('Emma')

teachers_set

{'Ava', 'Avery', 'Daniel', 'Jacob', 'Mia', 'Olivia'}

In [24]:
teachers_set.remove('Mia')

teachers_set

{'Ava', 'Avery', 'Daniel', 'Jacob', 'Olivia'}

In [25]:
teachers_set.discard('Mia')

In [26]:
teachers_set.remove('Mia')

KeyError: 'Mia'

In [27]:
teachers_set.clear()

In [28]:
teachers_set

set()

In [1]:
number1 = {1, 2, 3, 4, 5}

number2 = {4, 5, 6, 7, 8}

number3 = {7, 8, 9, 10, 11}

In [2]:
number1.union(number2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [3]:
number_union = number1.union(number2, number3)

number_union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [4]:
student_set_1 = {"Ava", "Emma", "James"}

student_set_2 = {"James", "Mia", "Olivia"}

student_set_3 = {"Olivia", "Sarah", "Sofia"}

In [5]:
student_set_1.union(student_set_2, student_set_3)

{'Ava', 'Emma', 'James', 'Mia', 'Olivia', 'Sarah', 'Sofia'}

In [6]:
print(number1)

print(number2)

print(number3)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{7, 8, 9, 10, 11}

In [7]:
number2.intersection(number1)

{4, 5}

In [8]:
print(number1)

print(number2)

print(number3)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{7, 8, 9, 10, 11}

In [9]:
number1.difference(number2)

{1, 2, 3}

In [10]:
diff_set = student_set_1.difference(student_set_2)

diff_set

{'Ava', 'Emma'}

In [11]:
print(number1)

print(number2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [12]:
number1.intersection_update(number2)

number1

{4, 5}

In [13]:
number2

{4, 5, 6, 7, 8}

In [14]:
student_set_1, student_set_2, student_set_3

({'Ava', 'Emma', 'James'},
 {'James', 'Mia', 'Olivia'},
 {'Olivia', 'Sarah', 'Sofia'})

In [15]:
student_set_1.intersection_update(student_set_2)

student_set_1

{'James'}

In [16]:
student_set_2

{'James', 'Mia', 'Olivia'}

In [17]:
student_set_1 = {"Ava", "Emma", "James"}
student_set_2 = {"James", "Mia", "Olivia"}
student_set_3 = {"Olivia", "Sarah", "Sofia"}

In [18]:
student_set_1.difference_update(student_set_2)

student_set_1

{'Ava', 'Emma'}

In [19]:
{1, 2, 3}.isdisjoint({4, 5, 6})

True

In [20]:
{1, 2, 3}.isdisjoint({1, 5, 6})

False

In [21]:
number1.isdisjoint(number2)

False

In [22]:
{10, 20}.issubset({10, 20, 30})

True

In [23]:
{10, 20, 30}.issuperset({10, 20})

True

In [24]:
number1.issuperset(number2)

False

In [1]:
car_matrix = [['Hennessey Venom GT', 1244 ],
              ['SSC Ultimate Aero', 1287],
              ['Zenvo ST1', 1100]]

car_matrix

[['Hennessey Venom GT', 1244],
 ['SSC Ultimate Aero', 1287],
 ['Zenvo ST1', 1100]]

In [2]:
len(car_matrix)

3

In [3]:
len(car_matrix[1])

2

In [4]:
len(car_matrix[2])

2

In [5]:
car_matrix[1][0]

'SSC Ultimate Aero'

In [6]:
car_matrix[1][1]

1287

In [7]:
car_matrix[2][0]

'Zenvo ST1'

In [8]:
car_matrix[1][2]

IndexError: list index out of range

In [9]:
len(car_matrix[1])

2

In [10]:
car_matrix[2][0:2]

['Zenvo ST1', 1100]

In [11]:
car_matrix[1][0:2]

['SSC Ultimate Aero', 1287]

In [12]:
my_list = ['Leo', 18,
           'Aaron', 25,
           'Easton', 34,
           'Jordan', 30]

my_list

['Leo', 18, 'Aaron', 25, 'Easton', 34, 'Jordan', 30]

In [13]:
tuple(my_list)

('Leo', 18, 'Aaron', 25, 'Easton', 34, 'Jordan', 30)

In [14]:
my_list1 = [['Leo', 18],
            ['Aaron', 25],
            ['Easton', 34],
            ['Jordan', 30]]

my_list1

[['Leo', 18], ['Aaron', 25], ['Easton', 34], ['Jordan', 30]]

In [15]:
tuple(my_list1)

(['Leo', 18], ['Aaron', 25], ['Easton', 34], ['Jordan', 30])

In [16]:
students_list = [[1, 'Caleb', 2, 'Leo'],
                 [3, 'Easton', 4, 'Jordan']]

In [17]:
students_list

[[1, 'Caleb', 2, 'Leo'], [3, 'Easton', 4, 'Jordan']]

In [18]:
dict(students_list)

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [19]:
students_list_2 = [[1,'Caleb'], [2,'Leo'],
                   [3,'Easton'], [4,'Jordan']]

students_list_2

[[1, 'Caleb'], [2, 'Leo'], [3, 'Easton'], [4, 'Jordan']]

In [20]:
dict(students_list_2)

{1: 'Caleb', 2: 'Leo', 3: 'Easton', 4: 'Jordan'}

In [21]:
students_list_3 = [[1, 'Caleb'],
                   [2, 'Leo'],
                   [3, 'Easton'],
                   [4, 'Jordan','Adam']]

In [22]:
dict(students_list_3)

ValueError: dictionary update sequence element #3 has length 3; 2 is required

In [23]:
students_list_4 = [[1, 'Caleb'],
                   [2, 'Leo'],
                   [3, 'Easton'],
                   [4, ['Jordan', 'Adam']]]

In [24]:
dict(students_list_4)

{1: 'Caleb', 2: 'Leo', 3: 'Easton', 4: ['Jordan', 'Adam']}

In [25]:
car_matrix

[['Hennessey Venom GT', 1244],
 ['SSC Ultimate Aero', 1287],
 ['Zenvo ST1', 1100]]

In [26]:
car_matrix_dict = dict(car_matrix)

In [27]:
car_matrix_dict

{'Hennessey Venom GT': 1244, 'SSC Ultimate Aero': 1287, 'Zenvo ST1': 1100}

In [28]:
car_matrix.pop()

['Zenvo ST1', 1100]

In [29]:
car_matrix

[['Hennessey Venom GT', 1244], ['SSC Ultimate Aero', 1287]]

In [30]:
car_matrix.clear()

In [31]:
car_matrix

[]

In [32]:
car_matrix_dict

{'Hennessey Venom GT': 1244, 'SSC Ultimate Aero': 1287, 'Zenvo ST1': 1100}

In [33]:
car_names = list(car_matrix_dict)

In [34]:
car_names

['Hennessey Venom GT', 'SSC Ultimate Aero', 'Zenvo ST1']

In [35]:
car_hp = list(car_matrix_dict.values())

In [36]:
car_hp

[1244, 1287, 1100]

In [1]:
car_matrix = [['Hennessey Venom GT', 1244 ],
              ['SSC Ultimate Aero', 1287],
              ['Zenvo ST1', 1100]]

car_matrix

[['Hennessey Venom GT', 1244],
 ['SSC Ultimate Aero', 1287],
 ['Zenvo ST1', 1100]]

In [2]:
len(car_matrix)

3

In [3]:
len(car_matrix[1])

2

In [4]:
len(car_matrix[2])

2

In [5]:
car_matrix[1][0]

'SSC Ultimate Aero'

In [6]:
car_matrix[1][1]

1287

In [7]:
car_matrix[2][0]

'Zenvo ST1'

In [8]:
car_matrix[1][2]

IndexError: list index out of range

In [9]:
len(car_matrix[1])

2

In [10]:
car_matrix[2][0:2]

['Zenvo ST1', 1100]

In [11]:
car_matrix[1][0:2]

['SSC Ultimate Aero', 1287]

In [12]:
my_list = ['Leo', 18,
           'Aaron', 25,
           'Easton', 34,
           'Jordan', 30]

my_list

['Leo', 18, 'Aaron', 25, 'Easton', 34, 'Jordan', 30]

In [13]:
tuple(my_list)

('Leo', 18, 'Aaron', 25, 'Easton', 34, 'Jordan', 30)

In [14]:
my_list1 = [['Leo', 18],
            ['Aaron', 25],
            ['Easton', 34],
            ['Jordan', 30]]

my_list1

[['Leo', 18], ['Aaron', 25], ['Easton', 34], ['Jordan', 30]]

In [15]:
tuple(my_list1)

(['Leo', 18], ['Aaron', 25], ['Easton', 34], ['Jordan', 30])

In [16]:
students_list = [[1, 'Caleb', 2, 'Leo'],
                 [3, 'Easton', 4, 'Jordan']]

In [17]:
students_list

[[1, 'Caleb', 2, 'Leo'], [3, 'Easton', 4, 'Jordan']]

In [18]:
dict(students_list)

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [19]:
students_list_2 = [[1,'Caleb'], [2,'Leo'],
                   [3,'Easton'], [4,'Jordan']]

students_list_2

[[1, 'Caleb'], [2, 'Leo'], [3, 'Easton'], [4, 'Jordan']]

In [20]:
dict(students_list_2)

{1: 'Caleb', 2: 'Leo', 3: 'Easton', 4: 'Jordan'}

In [21]:
students_list_3 = [[1, 'Caleb'],
                   [2, 'Leo'],
                   [3, 'Easton'],
                   [4, 'Jordan','Adam']]

In [22]:
dict(students_list_3)

ValueError: dictionary update sequence element #3 has length 3; 2 is required

In [23]:
students_list_4 = [[1, 'Caleb'],
                   [2, 'Leo'],
                   [3, 'Easton'],
                   [4, ['Jordan', 'Adam']]]

In [24]:
dict(students_list_4)

{1: 'Caleb', 2: 'Leo', 3: 'Easton', 4: ['Jordan', 'Adam']}

In [25]:
car_matrix

[['Hennessey Venom GT', 1244],
 ['SSC Ultimate Aero', 1287],
 ['Zenvo ST1', 1100]]

In [26]:
car_matrix_dict = dict(car_matrix)

In [27]:
car_matrix_dict

{'Hennessey Venom GT': 1244, 'SSC Ultimate Aero': 1287, 'Zenvo ST1': 1100}

In [28]:
car_matrix.pop()

['Zenvo ST1', 1100]

In [29]:
car_matrix

[['Hennessey Venom GT', 1244], ['SSC Ultimate Aero', 1287]]

In [30]:
car_matrix.clear()

In [31]:
car_matrix

[]

In [32]:
car_matrix_dict

{'Hennessey Venom GT': 1244, 'SSC Ultimate Aero': 1287, 'Zenvo ST1': 1100}

In [33]:
car_names = list(car_matrix_dict)

In [34]:
car_names

['Hennessey Venom GT', 'SSC Ultimate Aero', 'Zenvo ST1']

In [35]:
car_hp = list(car_matrix_dict.values())

In [36]:
car_hp

[1244, 1287, 1100]