In [1]:
empty_list = []

In [2]:
empty_list

[]

In [3]:
list_str = ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

list_str

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [4]:
type(list_str)

list

In [5]:
list_int = [5, 7, 8, 9, 20, 40]

list_int

[5, 7, 8, 9, 20, 40]

In [6]:
list_float = [5.5, 7.8, 8.5, 9.2, 20.3, 40.6]

list_float

[5.5, 7.8, 8.5, 9.2, 20.3, 40.6]

In [7]:
list_bool = [True, False]

list_bool

[True, False]

In [8]:
mixed_list = ['Nissan Sentra', 1, 2.5, True]

mixed_list

['Nissan Sentra', 1, 2.5, True]

In [9]:
cars_list = ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [10]:
print(cars_list[0])

Toyota Camry

In [11]:
print(cars_list[1])

print(cars_list[2])

print(cars_list[3])

Honda Accord
Honda Civic
Toyota Corolla

In [12]:
print(cars_list[4])

IndexError: list index out of range

In [13]:
len(cars_list)

4

In [14]:
print("car at index 2: ", cars_list[2])

car at index 2:  Honda Civic

In [15]:
print(cars_list[3])

Toyota Corolla

In [16]:
print(cars_list[1, 2])

TypeError: list indices must be integers or slices, not tuple

In [17]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [18]:
print(cars_list[-1])

Toyota Corolla

In [19]:
print(cars_list[-2])

print(cars_list[-3])

print(cars_list[-4])

Honda Civic
Honda Accord
Toyota Camry

In [20]:
print(cars_list[-5])

IndexError: list index out of range

In [21]:
cars_list[-2]

'Honda Civic'

In [22]:
len(cars_list)

4

In [23]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [24]:
cars_list[3] = 'Nissan Sentra'

print("New car at index 3 is: ", cars_list[3])

cars_list

New car at index 3 is:  Nissan Sentra

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Nissan Sentra']

In [25]:
cars_list[2] = 'Hyundai Elantra'

cars_list

['Toyota Camry', 'Honda Accord', 'Hyundai Elantra', 'Nissan Sentra']

In [1]:
cars_list = ['Toyota Camry', 'Honda Accord',
             'Honda Civic', 'Toyota Corolla']

cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [2]:
cars_list[4] = 'Hyundai Elantra'

cars_list

IndexError: list assignment index out of range

In [3]:
cars_list.append('Hyundai Elantra')

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra']

In [4]:
cars_list.append('Nissan Sentra','Ford Fusion')

cars_list

TypeError: append() takes exactly one argument (2 given)

In [5]:
len(cars_list)

5

In [6]:
cars_list.insert(6, 'Nissan Sentra')

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Sentra']

In [7]:
len(cars_list)

6

In [8]:
cars_list.insert(5, 'Nissan Altima')

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra']

In [9]:
cars_list.extend(['Kia Optima', 'Kia Soul'])

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul']

In [10]:
cars_list2 = ['Hennessey Venom GT', 'Bugatti Veyron', 'Koenigsegg Agera R']

cars_list2

['Hennessey Venom GT', 'Bugatti Veyron', 'Koenigsegg Agera R']

In [11]:
complete_cars_list = cars_list + cars_list2

complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R']

In [12]:
cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul']

In [13]:
complete_cars_list.index('Honda Civic')

2

In [14]:
complete_cars_list.index('honda Civic')

ValueError: 'honda Civic' is not in list

In [15]:
complete_cars_list.index('Hyundai Elantra')

4

In [16]:
complete_cars_list.remove('Hyundai Elantra')

complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R']

In [17]:
complete_cars_list.index('Hyundai Elantra')

ValueError: 'Hyundai Elantra' is not in list

In [18]:
complete_cars_list += ['Chevrolet Cruze', 'Chevrolet Malibu']

complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R',
 'Chevrolet Cruze',
 'Chevrolet Malibu']

In [19]:
complete_cars_list.sort()

complete_cars_list

['Bugatti Veyron',
 'Chevrolet Cruze',
 'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 'Nissan Sentra',
 'Toyota Camry',
 'Toyota Corolla']

In [20]:
complete_cars_list.reverse()

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Bugatti Veyron']

In [21]:
complete_cars_list.pop()

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze']

In [22]:
complete_cars_list.pop()

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu']

In [23]:
complete_cars_list.append('Nissan Altima')

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [24]:
complete_cars_list.count('honda Civic')

0

In [25]:
complete_cars_list.count('Honda Civic')

1

In [26]:
complete_cars_list.count('Nissan Altima')

2

In [27]:
set(complete_cars_list)

{'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 'Nissan Sentra',
 'Toyota Camry',
 'Toyota Corolla'}

In [28]:
print(cars_list)

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla', 'Hyundai Elantra', 'Nissan Altima', 'Nissan Sentra', 'Kia Optima', 'Kia Soul']

In [29]:
cars_list.clear()

In [30]:
cars_list

[]

In [31]:
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [32]:
new_cars_list = complete_cars_list.copy()

In [33]:
del complete_cars_list

In [34]:
complete_cars_list

NameError: name 'complete_cars_list' is not defined

In [35]:
new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [36]:
another_cars_list = new_cars_list

another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [37]:
another_cars_list.remove('Hennessey Venom GT')

In [38]:
another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [39]:
new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [40]:
new_cars_list.remove('Hennessey Venom GT')

ValueError: list.remove(x): x not in list

In [41]:
new_cars_list.remove('Nissan Sentra')

new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [42]:
another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [1]:
cars_list = ['Toyota Camry', 'Honda Accord',
             'Honda Civic', 'Toyota Corolla']

cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [2]:
cars_list[4] = 'Hyundai Elantra'

cars_list

IndexError: list assignment index out of range

In [3]:
cars_list.append('Hyundai Elantra')

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra']

In [4]:
cars_list.append('Nissan Sentra','Ford Fusion')

cars_list

TypeError: append() takes exactly one argument (2 given)

In [5]:
len(cars_list)

5

In [6]:
cars_list.insert(6, 'Nissan Sentra')

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Sentra']

In [7]:
len(cars_list)

6

In [8]:
cars_list.insert(5, 'Nissan Altima')

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra']

In [9]:
cars_list.extend(['Kia Optima', 'Kia Soul'])

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul']

In [10]:
cars_list2 = ['Hennessey Venom GT', 'Bugatti Veyron', 'Koenigsegg Agera R']

cars_list2

['Hennessey Venom GT', 'Bugatti Veyron', 'Koenigsegg Agera R']

In [11]:
complete_cars_list = cars_list + cars_list2

complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R']

In [12]:
cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul']

In [13]:
complete_cars_list.index('Honda Civic')

2

In [14]:
complete_cars_list.index('honda Civic')

ValueError: 'honda Civic' is not in list

In [15]:
complete_cars_list.index('Hyundai Elantra')

4

In [16]:
complete_cars_list.remove('Hyundai Elantra')

complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R']

In [17]:
complete_cars_list.index('Hyundai Elantra')

ValueError: 'Hyundai Elantra' is not in list

In [18]:
complete_cars_list += ['Chevrolet Cruze', 'Chevrolet Malibu']

complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R',
 'Chevrolet Cruze',
 'Chevrolet Malibu']

In [19]:
complete_cars_list.sort()

complete_cars_list

['Bugatti Veyron',
 'Chevrolet Cruze',
 'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 'Nissan Sentra',
 'Toyota Camry',
 'Toyota Corolla']

In [20]:
complete_cars_list.reverse()

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Bugatti Veyron']

In [21]:
complete_cars_list.pop()

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze']

In [22]:
complete_cars_list.pop()

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu']

In [23]:
complete_cars_list.append('Nissan Altima')

complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [24]:
complete_cars_list.count('honda Civic')

0

In [25]:
complete_cars_list.count('Honda Civic')

1

In [26]:
complete_cars_list.count('Nissan Altima')

2

In [27]:
set(complete_cars_list)

{'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 'Nissan Sentra',
 'Toyota Camry',
 'Toyota Corolla'}

In [28]:
print(cars_list)

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla', 'Hyundai Elantra', 'Nissan Altima', 'Nissan Sentra', 'Kia Optima', 'Kia Soul']

In [29]:
cars_list.clear()

In [30]:
cars_list

[]

In [31]:
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [32]:
new_cars_list = complete_cars_list.copy()

In [33]:
del complete_cars_list

In [34]:
complete_cars_list

NameError: name 'complete_cars_list' is not defined

In [35]:
new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [36]:
another_cars_list = new_cars_list

another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [37]:
another_cars_list.remove('Hennessey Venom GT')

In [38]:
another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [39]:
new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [40]:
new_cars_list.remove('Hennessey Venom GT')

ValueError: list.remove(x): x not in list

In [41]:
new_cars_list.remove('Nissan Sentra')

new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [42]:
another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [1]:
list_num = [20, 70, 80, 50, 30, 60, 40]

list_num

[20, 70, 80, 50, 30, 60, 40]

In [2]:
max(list_num)

80

In [3]:
min(list_num)

20

In [4]:
len(list_num)

7

In [5]:
list_num.sort()

list_num

[20, 30, 40, 50, 60, 70, 80]

In [6]:
list_num.append(25)

list_num

[20, 30, 40, 50, 60, 70, 80, 25]

In [7]:
sorted_list_num = sorted(list_num)

In [8]:
sorted_list_num

[20, 25, 30, 40, 50, 60, 70, 80]

In [9]:
list_num

[20, 30, 40, 50, 60, 70, 80, 25]

In [10]:
sum(list_num)

375

In [11]:
list_num *= 2

In [12]:
list_num

[20, 30, 40, 50, 60, 70, 80, 25, 20, 30, 40, 50, 60, 70, 80, 25]

In [13]:
list_num *= 2.0

TypeError: can't multiply sequence by non-int of type 'float'

In [14]:
all([0])

False

In [15]:
all([1])

True

In [16]:
all([0, 1])

False

In [17]:
all(list_num)

True

In [18]:
new_num_list = []

all(new_num_list)

True

In [19]:
any([0])

False

In [20]:
any([1])

True

In [21]:
any([0,1])

True

In [22]:
any(list_num)

True

In [23]:
any(new_num_list)

False

In [1]:
my_car_list = ['Toyota Corolla', 'Toyota Camry',
               'Nissan Altima', 'Kia Soul',
               'Kia Optima', 'Honda Civic']
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [2]:
len(my_car_list)

6

In [3]:
my_car_list[4]

'Kia Optima'

In [4]:
my_car_list[5]

'Honda Civic'

In [5]:
my_car_list[-2]

'Kia Optima'

In [6]:
my_car_list[-4]

'Nissan Altima'

In [7]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [8]:
my_car_list[0:4]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul']

In [9]:
my_car_list[0:2]

['Toyota Corolla', 'Toyota Camry']

In [10]:
my_car_list[0:6]

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [11]:
my_car_list[0:7]

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [12]:
my_car_list[7:]

[]

In [13]:
my_car_list[5:6]

['Honda Civic']

In [14]:
my_car_list[3:6]

['Kia Soul', 'Kia Optima', 'Honda Civic']

In [15]:
my_car_list[:3]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima']

In [16]:
my_car_list[3:]

['Kia Soul', 'Kia Optima', 'Honda Civic']

In [17]:
my_car_list[0:-4]

['Toyota Corolla', 'Toyota Camry']

In [18]:
my_car_list[-4:-1]

['Nissan Altima', 'Kia Soul', 'Kia Optima']

In [19]:
my_car_list[-2:-4]

[]

In [20]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [21]:
my_car_list[0:5:]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optima']

In [22]:
my_car_list[::2]

['Toyota Corolla', 'Nissan Altima', 'Kia Optima']

In [23]:
my_car_list[0:5:2]

['Toyota Corolla', 'Nissan Altima', 'Kia Optima']

In [24]:
my_car_list[2:5:2]

['Nissan Altima', 'Kia Optima']

In [25]:
my_car_list[0:5:3]

['Toyota Corolla', 'Kia Soul']

In [26]:
my_car_list[1:4:2]

['Toyota Camry', 'Kia Soul']

In [27]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [28]:
my_car_list[::-1]

['Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Nissan Altima',
 'Toyota Camry',
 'Toyota Corolla']

In [29]:
my_car_list[2:0:-1]

['Nissan Altima', 'Toyota Camry']

In [30]:
my_car_list[4:1:-1]

['Kia Optima', 'Kia Soul', 'Nissan Altima']

In [31]:
my_car_list[-4:0:-1]

['Nissan Altima', 'Toyota Camry']

In [32]:
my_car_list[::-2]

['Honda Civic', 'Kia Soul', 'Toyota Camry']

In [33]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [34]:
print(my_car_list)

len(my_car_list)

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optima', 'Honda Civic']

6

In [35]:
my_car_list[6:-1] = ['Ford Focus','Dodge Charger']

my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Ford Focus',
 'Dodge Charger']

In [36]:
print(my_car_list)

len(my_car_list)

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optima', 'Honda Civic', 'Ford Focus', 'Dodge Charger']

8

In [37]:
'Ford Focus' in my_car_list

True

In [38]:
my_car_list.pop(-2)

'Ford Focus'

In [39]:
'Ford Focus' in my_car_list

False

In [40]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Dodge Charger']

In [1]:
my_car_list = ['Toyota Corolla', 'Toyota Camry',
               'Nissan Altima', 'Kia Soul',
               'Kia Optima', 'Honda Civic']
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [2]:
len(my_car_list)

6

In [3]:
my_car_list[4]

'Kia Optima'

In [4]:
my_car_list[5]

'Honda Civic'

In [5]:
my_car_list[-2]

'Kia Optima'

In [6]:
my_car_list[-4]

'Nissan Altima'

In [7]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [8]:
my_car_list[0:4]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul']

In [9]:
my_car_list[0:2]

['Toyota Corolla', 'Toyota Camry']

In [10]:
my_car_list[0:6]

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [11]:
my_car_list[0:7]

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [12]:
my_car_list[7:]

[]

In [13]:
my_car_list[5:6]

['Honda Civic']

In [14]:
my_car_list[3:6]

['Kia Soul', 'Kia Optima', 'Honda Civic']

In [15]:
my_car_list[:3]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima']

In [16]:
my_car_list[3:]

['Kia Soul', 'Kia Optima', 'Honda Civic']

In [17]:
my_car_list[0:-4]

['Toyota Corolla', 'Toyota Camry']

In [18]:
my_car_list[-4:-1]

['Nissan Altima', 'Kia Soul', 'Kia Optima']

In [19]:
my_car_list[-2:-4]

[]

In [20]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [21]:
my_car_list[0:5:]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optima']

In [22]:
my_car_list[::2]

['Toyota Corolla', 'Nissan Altima', 'Kia Optima']

In [23]:
my_car_list[0:5:2]

['Toyota Corolla', 'Nissan Altima', 'Kia Optima']

In [24]:
my_car_list[2:5:2]

['Nissan Altima', 'Kia Optima']

In [25]:
my_car_list[0:5:3]

['Toyota Corolla', 'Kia Soul']

In [26]:
my_car_list[1:4:2]

['Toyota Camry', 'Kia Soul']

In [27]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [28]:
my_car_list[::-1]

['Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Nissan Altima',
 'Toyota Camry',
 'Toyota Corolla']

In [29]:
my_car_list[2:0:-1]

['Nissan Altima', 'Toyota Camry']

In [30]:
my_car_list[4:1:-1]

['Kia Optima', 'Kia Soul', 'Nissan Altima']

In [31]:
my_car_list[-4:0:-1]

['Nissan Altima', 'Toyota Camry']

In [32]:
my_car_list[::-2]

['Honda Civic', 'Kia Soul', 'Toyota Camry']

In [33]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [34]:
print(my_car_list)

len(my_car_list)

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optima', 'Honda Civic']

6

In [35]:
my_car_list[6:-1] = ['Ford Focus','Dodge Charger']

my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Ford Focus',
 'Dodge Charger']

In [36]:
print(my_car_list)

len(my_car_list)

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optima', 'Honda Civic', 'Ford Focus', 'Dodge Charger']

8

In [37]:
'Ford Focus' in my_car_list

True

In [38]:
my_car_list.pop(-2)

'Ford Focus'

In [39]:
'Ford Focus' in my_car_list

False

In [40]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Dodge Charger']

In [1]:
print('World')

World

In [2]:
x = 'World'

x

'World'

In [3]:
x[0]

'W'

In [4]:
x[3]

'l'

In [5]:
x[6]

IndexError: string index out of range

In [6]:
x[0] = 'B'

TypeError: 'str' object does not support item assignment

In [7]:
a, b, c, d, e = x

print(a)

W

In [8]:
a, b, c, d, e

('W', 'o', 'r', 'l', 'd')

In [9]:
a, b, c, d = x

ValueError: too many values to unpack (expected 4)

In [10]:
a, b,_ ,_ ,_ = x

print(b)

o

In [11]:
input('How are you?: ')

How are you?: ok

'ok'

In [12]:
place = input('Where are you from?: ')

Where are you from?: New York City

In [13]:
place

'New York City'

In [14]:
len(place)

13

In [15]:
place[9:]

'City'

In [16]:
place[-4:]

'City'

In [17]:
place[4:-4]

'York '

In [18]:
place[0:8:2]

'NwYr'

In [19]:
place[4:-4]

'York '

In [20]:
place[::1]

'New York City'

In [21]:
place[::-1]

'ytiC kroY weN'

In [22]:
place[:8]

'New York'

In [23]:
city = place[:8]

In [24]:
del city

In [25]:
city

NameError: name 'city' is not defined

In [26]:
print(place.startswith('N'))

True

In [27]:
print(place.startswith('n'))

False

In [28]:
print(place.endswith('y'))

True

In [29]:
print(place.endswith('City'))

True

In [30]:
place.count('y')

1

In [31]:
lower_place = place.lower()

lower_place

'new york city'

In [32]:
upper_place = place.upper()

upper_place

'NEW YORK CITY'

In [33]:
upper_place.count('Y')

2

In [34]:
lower_place == upper_place

False

In [35]:
place == upper_place

False

In [36]:
place.find('C')

9

In [37]:
place.find('York')

4

In [38]:
place.index('Y')

4

In [39]:
place.index('c')

ValueError: substring not found

In [40]:
place.find('c')

-1

In [41]:
split_place = place.split('k')

split_place

['New Yor', ' City']

In [42]:
place.count(' ')

2

In [43]:
split_place = place.split(' ')

In [44]:
split_place

['New', 'York', 'City']

In [45]:
len(split_place)

3

In [46]:
join_char = ','

join_char.join(split_place)

'New,York,City'

In [47]:
join_char1 = ' '

join_char1.join(split_place)

'New York City'

In [48]:
"|".join(split_place)

'New|York|City'

In [1]:
print('World')

World

In [2]:
x = 'World'

x

'World'

In [3]:
x[0]

'W'

In [4]:
x[3]

'l'

In [5]:
x[6]

IndexError: string index out of range

In [6]:
x[0] = 'B'

TypeError: 'str' object does not support item assignment

In [7]:
a, b, c, d, e = x

print(a)

W

In [8]:
a, b, c, d, e

('W', 'o', 'r', 'l', 'd')

In [9]:
a, b, c, d = x

ValueError: too many values to unpack (expected 4)

In [10]:
a, b,_ ,_ ,_ = x

print(b)

o

In [11]:
input('How are you?: ')

How are you?: ok

'ok'

In [12]:
place = input('Where are you from?: ')

Where are you from?: New York City

In [13]:
place

'New York City'

In [14]:
len(place)

13

In [15]:
place[9:]

'City'

In [16]:
place[-4:]

'City'

In [17]:
place[4:-4]

'York '

In [18]:
place[0:8:2]

'NwYr'

In [19]:
place[4:-4]

'York '

In [20]:
place[::1]

'New York City'

In [21]:
place[::-1]

'ytiC kroY weN'

In [22]:
place[:8]

'New York'

In [23]:
city = place[:8]

In [24]:
del city

In [25]:
city

NameError: name 'city' is not defined

In [26]:
print(place.startswith('N'))

True

In [27]:
print(place.startswith('n'))

False

In [28]:
print(place.endswith('y'))

True

In [29]:
print(place.endswith('City'))

True

In [30]:
place.count('y')

1

In [31]:
lower_place = place.lower()

lower_place

'new york city'

In [32]:
upper_place = place.upper()

upper_place

'NEW YORK CITY'

In [33]:
upper_place.count('Y')

2

In [34]:
lower_place == upper_place

False

In [35]:
place == upper_place

False

In [36]:
place.find('C')

9

In [37]:
place.find('York')

4

In [38]:
place.index('Y')

4

In [39]:
place.index('c')

ValueError: substring not found

In [40]:
place.find('c')

-1

In [41]:
split_place = place.split('k')

split_place

['New Yor', ' City']

In [42]:
place.count(' ')

2

In [43]:
split_place = place.split(' ')

In [44]:
split_place

['New', 'York', 'City']

In [45]:
len(split_place)

3

In [46]:
join_char = ','

join_char.join(split_place)

'New,York,City'

In [47]:
join_char1 = ' '

join_char1.join(split_place)

'New York City'

In [48]:
"|".join(split_place)

'New|York|City'

In [1]:
my_string = "Hello Python World"

print (my_string[0:18])

Hello Python World

In [2]:
print (my_string[0:6])

Hello

In [3]:
print (my_string[6:18])

Python World

In [4]:
print (my_string[6:12])

Python

In [5]:
my_string = "Hello Python World"
print(my_string[::2])

HloPto ol

In [6]:
my_string = "Hello Python World"
print(my_string[0:18:1])

Hello Python World

In [7]:
my_string = "Hello Python World"
print(my_string[0:18:2])

HloPto ol

In [8]:
my_string = "Hello Python World"
print(my_string[18:0:-2])

drWnhy le

In [9]:
my_string[4::-1]

'olleH'

In [10]:
my_string = "Hello Python World"
print (my_string[::-1])

dlroW nohtyP olleH

In [11]:
my_string = "Hello Python World"

some_string = my_string.split( )
some_string

['Hello', 'Python', 'World']

In [12]:
my_string = "hello python world"

my_string.upper()

'HELLO PYTHON WORLD'

In [13]:
"HELLO PYTHON WORLD".isupper()

True

In [14]:
my_string = "HELLO PYTHON WORLD"

my_string

'HELLO PYTHON WORLD'

In [15]:
my_string.lower()

'hello python world'

In [1]:
my_tuple = ()

my_tuple

()

In [2]:
type(my_tuple)

tuple

In [3]:
print(type(my_tuple))

<class 'tuple'>

In [4]:
int_tuple = (1, 2, 3)

print(int_tuple)

(1, 2, 3)

In [5]:
str_tuple = ("Hello", "Python")

print(str_tuple)

('Hello', 'Python')

In [6]:
print(int_tuple , str_tuple)

(1, 2, 3) ('Hello', 'Python')

In [7]:
combined_tuple = int_tuple + str_tuple

print(combined_tuple)

(1, 2, 3, 'Hello', 'Python')

In [8]:
int_tuple += (10,)

print(int_tuple)

(1, 2, 3, 10)

In [9]:
print(str_tuple * 3)

('Hello', 'Python', 'Hello', 'Python', 'Hello', 'Python')

In [10]:
mixed_tuple = (1, "Hello", 3.4)

print(mixed_tuple)

(1, 'Hello', 3.4)

In [11]:
my_tuple = 1, "Hello", 3.4

print(my_tuple)

(1, 'Hello', 3.4)

In [12]:
a, b, c = my_tuple

print(a)
print(b)
print(c)

1
Hello
3.4

In [13]:
nested_tuple = (1, 2, 3, (4, 5, 6))

print(nested_tuple)

(1, 2, 3, (4, 5, 6))

In [14]:
mixed_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

print(mixed_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [15]:
my_tuple = ('p','e','r','m','i','t')

my_tuple

('p', 'e', 'r', 'm', 'i', 't')

In [16]:
print(my_tuple[0])

p

In [17]:
print(my_tuple[5])

t

In [18]:
print(my_tuple[6])

IndexError: tuple index out of range

In [19]:
mixed_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

mixed_tuple

('mouse', [8, 4, 6], (1, 2, 3))

In [20]:
print (mixed_tuple[0])

mouse

In [21]:
print (mixed_tuple[0][3])

s

In [22]:
print (mixed_tuple['s'])

TypeError: tuple indices must be integers or slices, not str

In [23]:
print (mixed_tuple[1])

[8, 4, 6]

In [24]:
print (mixed_tuple[1][0])

8

In [25]:
nested_tuple = mixed_tuple[2]

print (nested_tuple)

(1, 2, 3)

In [26]:
print (mixed_tuple[2][2])

3

In [27]:
my_tuple = ('E','l','e','p','h','a','n','t')

print(my_tuple[1:])

('l', 'e', 'p', 'h', 'a', 'n', 't')

In [28]:
print(my_tuple[2:4])

('e', 'p')

In [29]:
print(my_tuple[::2])

('E', 'e', 'h', 'n')

In [30]:
print(my_tuple[-1])

t

In [31]:
print(my_tuple[-3])

a

In [32]:
print(my_tuple[::-1])

('t', 'n', 'a', 'h', 'p', 'e', 'l', 'E')

In [33]:
my_tuple = ('H','e','l','l','o')

my_tuple

('H', 'e', 'l', 'l', 'o')

In [34]:
print(my_tuple.index('H'))

0

In [35]:
print(my_tuple.index('o'))

4

In [36]:
my_tuple = ('H','e','l','l','o')

my_tuple

('H', 'e', 'l', 'l', 'o')

In [37]:
print('e' in my_tuple)

True

In [38]:
print('t' in my_tuple)

False

In [39]:
print('e' not in my_tuple)

False

In [40]:
my_tuple = ('p','y','t','h','o','n')

len(my_tuple)

6

In [41]:
int_tuple = (1, 4, 9)

len(int_tuple)

3

In [42]:
mixed_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

len(mixed_tuple)

3

In [43]:
max(my_tuple)

'y'

In [44]:
max(int_tuple)

9

In [45]:
max(mixed_tuple)

TypeError: '>' not supported between instances of 'list' and 'str'

In [46]:
min(my_tuple)

'h'

In [47]:
min(int_tuple)

1

In [48]:
int_tuple = (1, 4, 9, 9)

sum(int_tuple)

23

In [49]:
int_tuple = (1, 4, 9, 9)

list(int_tuple)

[1, 4, 9, 9]

In [50]:
int_tuple = (1, 4, 9, 9)

set(int_tuple)

{1, 4, 9}

In [1]:
immutable_tuple_1 = (0, 1, 2, 3) 

immutable_tuple_1

(0, 1, 2, 3)

In [2]:
immutable_tuple_1 [0] = 4

print(immutable_tuple)

TypeError: 'tuple' object does not support item assignment

In [3]:
immutable_tuple_2 = (4, 2, 3, (6, 5))

immutable_tuple_2

(4, 2, 3, (6, 5))

In [4]:
immutable_tuple_2[0]

4

In [5]:
immutable_tuple_2[0] = 9

TypeError: 'tuple' object does not support item assignment

In [6]:
immutable_tuple_2 = (4, 2, 3, [6, 5])

immutable_tuple_2

(4, 2, 3, [6, 5])

In [7]:
immutable_tuple_2[3]

[6, 5]

In [8]:
immutable_tuple_2[3][1] = 100

print(immutable_tuple_2)

(4, 2, 3, [6, 100])

In [9]:
my_tuple = ('p','y','t','h','o','n')

my_tuple

('p', 'y', 't', 'h', 'o', 'n')

In [10]:
del my_tuple[3]

TypeError: 'tuple' object doesn't support item deletion

In [11]:
del my_tuple

In [12]:
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [13]:
tuple_a = (1, 2, 3, 4, 5)

tuple_b = ('a', 'b', 'c', 'd', 'e')

In [14]:
zipped = zip(tuple_a, tuple_b)

print(zipped)

<zip object at 0x105273808>

In [15]:
result = tuple(zipped)

print (result)

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'))

In [16]:
tuple_x, tuple_y = zip(*result)

In [17]:
print('tuple_x :',tuple_x)

print('tuple_y :',tuple_y)

tuple_x : (1, 2, 3, 4, 5)
tuple_y : ('a', 'b', 'c', 'd', 'e')

In [18]:
list_a = [6, 7, 8, 9, 10]

list_b = ['a', 'e', 'i', 'o', 'u']

In [19]:
zipped_list = zip(list_a, list_b)

In [20]:
result = list(zipped_list)

print(result)

[(6, 'a'), (7, 'e'), (8, 'i'), (9, 'o'), (10, 'u')]

In [21]:
a = ("John", "Charles", "Mike")

b = ("Manager", "Supervisor", "Engineer")

x = zip(a, b)

In [22]:
print(dict(x))

{'John': 'Manager', 'Charles': 'Supervisor', 'Mike': 'Engineer'}

In [23]:
numbers_list = [1, 2, 3]

str_list = ['one', 'two', 'three']

numbers_tuple = ('ONE', 'TWO', 'THREE', 'FOUR')

result = zip(numbers_list, numbers_tuple)

In [24]:
print(result)

<zip object at 0x1053181c8>

In [25]:
result_set = set(result)

print(result_set)

{(2, 'TWO'), (3, 'THREE'), (1, 'ONE')}

In [26]:
result = zip(numbers_list, str_list, numbers_tuple)

In [27]:
result_set = set(result)

print(result_set)

{(1, 'one', 'ONE'), (3, 'three', 'THREE'), (2, 'two', 'TWO')}

In [1]:
num_list = [1, 2.5, 'num', True]

print(num_list)

[1, 2.5, 'num', True]

In [2]:
type(num_list)

list

In [3]:
type(num_list[1])

float

In [4]:
type(num_list[3])

bool

In [5]:
num_t = (1, 2.5, 'num', True)

num_t

(1, 2.5, 'num', True)

In [6]:
type(num_t)

tuple

In [7]:
type(num_t[2])

str

In [8]:
my_dictionary = {"a":25, 
                 "b":3.4, 
                 "c":20}

my_dictionary

{'a': 25, 'b': 3.4, 'c': 20}

In [9]:
type(my_dictionary)

dict

In [10]:
a = {5, 2, 3, '1', 4, 4}
a

{'1', 2, 3, 4, 5}

In [11]:
type(a)

set