### IntroducingForLoops

##### Syntax of the For Loop

* for variable in sequence:<br>
	statements
    
    
 A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [1]:
for letter in ['H', 'e', 'l', 'l', 'o']:
    print(letter)

H
e
l
l
o

strings are iterable objects, they contain a sequence of characters

In [2]:
for letter in "Hello":
    print(letter)

H
e
l
l
o

In [3]:
my_string = "Hello World"

for char in my_string:
    print (char)

H
e
l
l
o

W
o
r
l
d

In [4]:
for digit in "10":
    print (digit)

1
0

Integer is not a iterable

In [5]:
for digit in 10:
    print (digit)

TypeError: ignored

Print each country

In [6]:
for country in "Germany", "India", "Israel":
    print(country)

Germany
India
Israel

Iterating over Tuple

In [7]:
dogs = ("Pug", "Doberman", "Golden Retriever")

In [8]:
for dog in dogs:
    print("It's a", dog)

It's a Pug
It's a Doberman
It's a Golden Retriever

built-in function `enumerate()`adds a counter to an iterable and returns it in a form of enumerate object

A lot of times when dealing with iterators, we also get a need to keep a count of iterations. Python eases the programmersâ€™ task by providing a built-in function enumerate() for this task.
Enumerate() method adds a counter to an iterable and returns it in a form of enumerate object.

In [9]:
dog_weight = (("Pug", 20),
              ("Doberman", 80),
              ("Golden Retriever", 55))


for i, (dog, weight) in enumerate(dog_weight):
    print("The dog at index %d is a %s and it weighs %s pounds" % (i, dog, weight))

The dog at index 0 is a Pug and it weighs 20 pounds
The dog at index 1 is a Doberman and it weighs 80 pounds
The dog at index 2 is a Golden Retriever and it weighs 55 pounds

Iterating over List

In [10]:
friends = ["John", "Sam", "Jill"]

for friend in friends:
    print("Happy New Year,", friend)

Happy New Year, John
Happy New Year, Sam
Happy New Year, Jill

The purpose of zip() is to map the similar index of multiple containers so that they can be used just using as single entity.

In [11]:
student_scores = {'John': 80, 
                  'Sam': 60, 
                  'Jill': 50, 
                  'Bob': 96}  

student_scores

{'Bob': 96, 'Jill': 50, 'John': 80, 'Sam': 60}

Iterating over dictionary

Iterating over keys

In [12]:
for student in student_scores:
    print(student)

John
Sam
Jill
Bob

Using `.keys` function we can get all keys in dictionary

In [13]:
student_scores.keys()

dict_keys(['John', 'Sam', 'Jill', 'Bob'])

In [14]:
for student in student_scores.keys():
    print(student)

John
Sam
Jill
Bob

Using `.value` function we can get all values in dictionary

In [15]:
for score in student_scores.values():
    print(score)

80
60
50
96

Using `[]` we can get all keys and values in a dictionary<br>
Print each key value pair in dictionary

In [16]:
for key in student_scores:
    print("Key value pair -", key, ":", student_scores[key])

Key value pair - John : 80
Key value pair - Sam : 60
Key value pair - Jill : 50
Key value pair - Bob : 96

Using `.items` function we can get keys and value list of tuple

In [17]:
for key_value in student_scores.items():
    print (key_value)

('John', 80)
('Sam', 60)
('Jill', 50)
('Bob', 96)

Giving two variables (first variable will hold fist field in the Dictionary
and second variable will hold second field in the Dictionary)

In [18]:
for student, score in student_scores.items():
    print ("Student:", student, "\tScore:", score)

Student: John 	Score: 80
Student: Sam 	Score: 60
Student: Jill 	Score: 50
Student: Bob 	Score: 96

Let's see another example for iterating over dictionary.

program to perform a division using for loops:

In [19]:
numbers = [4, 6, 9, 10]

for num in numbers:
    quotient = num // 2
    
    print(quotient, "is the quotient of", num, "/ 2" )

2 is the quotient of 4 / 2
3 is the quotient of 6 / 2
4 is the quotient of 9 / 2
5 is the quotient of 10 / 2

program that prints each item and its corresponding type from the following list.

In [20]:
mixed_list = [145, 10.5, 1+3j,
              True, "Python",
              (0, 1),[2, -5],
              {"Class":"V", "Section":"A"}]

for item in mixed_list:
    print ("Type of ", item, " is ", type(item))

Type of  145  is  <class 'int'>
Type of  10.5  is  <class 'float'>
Type of  (1+3j)  is  <class 'complex'>
Type of  True  is  <class 'bool'>
Type of  Python  is  <class 'str'>
Type of  (0, 1)  is  <class 'tuple'>
Type of  [2, -5]  is  <class 'list'>
Type of  {'Class': 'V', 'Section': 'A'}  is  <class 'dict'>

Print squares of all numbers present in a list

In [21]:
num_list = [2, 4, 6, 8]         

square = 0 

for val in num_list:         
    square = val ** 2  
    
    print ("Square of", val, "is", square)

Square of 2 is 4
Square of 4 is 16
Square of 6 is 36
Square of 8 is 64

program to find lenght of a function with out using len function.

In [22]:
string = input("Enter a string: ")

count = 0

for i in string:
    count = count + 1
    
print(count)

Enter a string: python
6

#### For Loop with else

In [23]:
numbers = [2, 3, 5, 7]

for num in numbers:
    print(num)
    
else:    
    print("No more items left in the list.")

2
3
5
7
No more items left in the list.

In [24]:
characters = {"a", "b", "c", "d"}

for letter in characters:
    print(letter)
    
else:
    print("No more characters left ")

d
b
a
c
No more characters left

Print the Bristol city is available or not in us_cities list

Using append attribute to add cities near new york to the list us_cities.

In [25]:
us_cities = ["New York", "Nashville", "Seattle"]

for city in us_cities:
    
    if city == "New York":
        
        print("New York is present in the list")

New York is present in the list

Add an even number in the list to show that the nested if statement works

In [26]:
numbers = [11, 33, 55, 39, 2, 55, 75, 37, 22, 23, 41, 13]

for num in numbers:
    
    if num % 2 == 0:
        
        print("The list contains an even number:", num)

The list contains an even number: 2
The list contains an even number: 22

Finding out which year is leap year and which year is not leap in list

In [27]:
years = [2016, 2017, 2018, 2019, 2020]

for year in years:
    
    if year % 4 == 0:
        
        print(year, "is a leap year")
        
    else:
        print(year, "is not a leap year")

2016 is a leap year
2017 is not a leap year
2018 is not a leap year
2019 is not a leap year
2020 is a leap year

#### Nested loops

Loop over Lists of lists

Nested for loops can be useful for iterating through items within lists composed of lists.

In [28]:
names = [["Mary", "Linda", "Jessica"],
         ["James", "Jacob", "William"]]

for sublist in names:
    print(sublist)

['Mary', 'Linda', 'Jessica']
['James', 'Jacob', 'William']

In [29]:
for sublist in names:
    for name in sublist:
        print(name)

Mary
Linda
Jessica
James
Jacob
William

In [30]:
colors_list = ["Red", "Green", "Blue"]
objects_list = ["Pen", "Marker", "Pencil"]

for color in colors_list:
    for obj in objects_list:
        
        print (color, obj)

Red Pen
Red Marker
Red Pencil
Green Pen
Green Marker
Green Pencil
Blue Pen
Blue Marker
Blue Pencil

### TheRangeFunctionInForLoop

To loop through a set of code a specified number of times, we can use the range() function

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

The `range(n)` function can be considered a shorthand for `0,1,2,....n-1`.<br>

In [31]:
my_range = range(5)

my_range

range(0, 5)

In [32]:
tuple(my_range)

(0, 1, 2, 3, 4)

In [33]:
list(my_range)

[0, 1, 2, 3, 4]

The Range start with 5, and stop with 10

In [34]:
list(range(5, 10))

[5, 6, 7, 8, 9]

Here we can use negative values also

In [35]:
list(range(-5, 5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

Here calling `range()` with float will not work

In [36]:
for i in range (3.3):
    print (i)

TypeError: ignored

Here calling `range()` with string will not work

In [37]:
for i in range ("C","Y"):
    print(i)

TypeError: ignored

The `range()` function returns a sequence of numbers.  Starting from `0` by default and ends at a specified number.

In [38]:
for i in range(6):
    print(i)

0
1
2
3
4
5

program to print "hello" 5 times

In [39]:
for i in range (3):
    print ("Hello")

Hello
Hello
Hello

Here we are replacing value of the `i` variable with `_`

In [40]:
for _ in range(3):
    print("Hello")

Hello
Hello
Hello

In [41]:
for i in range (2 ** 2):
    print ("python")

python
python
python
python

Here we are giving starting value by adding a parameter: `range(5,10)`<br>
Example of exclusive `range()`

In [42]:
for num in range (5, 10):
    print("number:", num)

number: 5
number: 6
number: 7
number: 8
number: 9

Print the number to the power two with given range

In [43]:
for i in range(5, 8):
    print(i, "square is", i ** 2)
    
print("End of loop")

5 square is 25
6 square is 36
7 square is 49
End of loop

Example of inclusive `range()`, Print all numbers from 5 to 10, and print a message when the loop has ended:

In [44]:
for val in range (5, 10 + 1):
    print (val)
    
print ("the loop has ended")

5
6
7
8
9
10
the loop has ended

Reversing the order using built-in reversed function:

In [45]:
x = range(5)

for i in reversed(x):
    print (i)

4
3
2
1
0

Reversing string

In [46]:
for i in reversed("welcome"):
    print (i)

e
m
o
c
l
e
w

Range `(begin , end , stride)`or `(start, stop, step)` returns an iterable that integers starting with `begin`, up to but not including `end`.  If specified, `stride` indicates and amount to skip between values.<br>
Omitted, it defaults to 1:

In [47]:
list(range(5, 10, 1))

[5, 6, 7, 8, 9]

In [48]:
x = list(range(5, 10, 2))
print(x)

[5, 7, 9]

We can specify the `step` (including a negative `step`) as the third argument

In [49]:
tuple(range(5, -10, -2))

(5, 3, 1, -1, -3, -5, -7, -9)

In [50]:
list(range(-2, -10, -2))

[-2, -4, -6, -8]

In [51]:
start = -2
stop = -10
step = -2

for number in range (start, stop, step):
    print (number)

-2
-4
-6
-8

If step is positive, then you move through a series of increasing numbers.
Increment the sequence with 2 (default is 1):

In [52]:
for x in range (2, 20, 2):
    print (x, end = ', ')

2, 4, 6, 8, 10, 12, 14, 16, 18,

5 to 1 descending order:<br>
Range (start_value, end_value, step).

Write a Python program that accepts a word from the user and reverse it<br>
to get this below code https://www.w3resource.com/python-exercises/python-conditional-exercise-5.php

practice makes a man perfect

In [53]:
word = input("Input a word to reverse: ")

len_word = len(word)

for char in range(len_word-1, -1, -1):
    
    print(word[char], end = "")
    
print("\n")

Input a word to reverse: Schweinsteiger
regietsniewhcS

Using `len()` function to get the length of elements

In [54]:
months = ["Jan", "Feb", "Mar", "Apr"]


for index in range(len(months)):
    print (index, months[index])

0 Jan
1 Feb
2 Mar
3 Apr

Printing the sum of first 5 natural numbers

In [55]:
value = 0                

for num in range(1, 6):  
    value = value + num  
    
print (value)

15

Here we are created empty list and we added numbers in that list using append attribute

In [56]:
integers = []

for i in range (10):
    integers.append(i)
    
print (integers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### If, else in foor loop

In [57]:
for val in range(5):
    print (val)
    
else:
    print ("The loop has completed execution")

0
1
2
3
4
The loop has completed execution

In [58]:
for i in range (1, 10):
    
    if i % 2 == 0:
        print("The number %s is divisible by 2" % i)
        
    else:
        print("The number %s is not divisible by 2" % i)

The number 1 is not divisible by 2
The number 2 is divisible by 2
The number 3 is not divisible by 2
The number 4 is divisible by 2
The number 5 is not divisible by 2
The number 6 is divisible by 2
The number 7 is not divisible by 2
The number 8 is divisible by 2
The number 9 is not divisible by 2

In [59]:
num_list = []

for i in range(1, 21):
    
    if (i%3==0 or i%5==0):
        num_list.append(i)
        
print(num_list)

[3, 5, 6, 9, 10, 12, 15, 18, 20]

Print program to find numbers between 100 and 301 where each digit of a number is an even number.  The numbers obtained should be printed in a comma-separated sequence

In [60]:
items = []

for i in range(100, 301):
    
    num_str = str(i)
    first_digit = int(num_str[0])
    second_digit = int(num_str[1])
    third_digit = int(num_str[2])
    
    if (first_digit % 2 == 0) and (second_digit % 2 == 0) and (third_digit % 2 == 0):
        items.append(num_str)
        
print( ", ".join(items))

200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288

### If, elif and else statement in for loop

In [61]:
for i in range(1, 16):
    
    if i % 3 == 0 and i % 5 == 0:
        print(i,"is divisible by both 3 and 5")
    elif i % 3 == 0:
        print(i,"is divisible by 3")
    elif i % 5 == 0:
        print(i,"is divisible by 5")

3 is divisible by 3
5 is divisible by 5
6 is divisible by 3
9 is divisible by 3
10 is divisible by 5
12 is divisible by 3
15 is divisible by both 3 and 5

### Nested ForLoop

A nested loop is a loop inside a loop

Here we have nested loop means simply we have a loop (outer loop) that has inside its commands annother loop(inner loop).

Pattern program

In [63]:
num = int(input("Enter the number of rows:"))

for i in range(num): 
    for j in range(i):
        
         print(i, end = " ") 
    print()

Enter the number of rows:6

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [65]:
num = int(input("Enter the number of rows:"))

for i in range(num):
    for x in range (i):
        
        print ("*", end = " ") 
    print()

Enter the number of rows:5

*
* *
* * *
* * * *

In [66]:
num = int(input("Enter the number of rows:"))

for i in range(num, 0, -1):
    for x in range(i):
        
        print ("*", end = " ") 
    print()

Enter the number of rows:6
* * * * * *
* * * * *
* * * *
* * *
* *
*

Here we a block of code you want to run x number of times, then a block of code within that code which you want to run y number of times

In [67]:
for x in range (1, 4):
    for y in range (5, 8):
        
        print("%d * %d = %d" % (x, y, x * y))

1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21

{:2d} in the format function makes sure that you have always have space for two digits.

create a table like structure having multiples of 1 to 9

In [71]:
for num1 in range(1, 10):
    print("num =", num1, ":", end = " ")
    
    for num_2 in range(1, 10):
        print("{:2d}".format(num1 * num_2), end = " ")
        
    print()

num = 1 :  1  2  3  4  5  6  7  8  9
num = 2 :  2  4  6  8 10 12 14 16 18
num = 3 :  3  6  9 12 15 18 21 24 27
num = 4 :  4  8 12 16 20 24 28 32 36
num = 5 :  5 10 15 20 25 30 35 40 45
num = 6 :  6 12 18 24 30 36 42 48 54
num = 7 :  7 14 21 28 35 42 49 56 63
num = 8 :  8 16 24 32 40 48 56 64 72
num = 9 :  9 18 27 36 45 54 63 72 81