### 1. Strings

In [1]:
old_str = "Python"

old_str

'Python'

In [2]:
new_str = old_str

print (old_str)
print (new_str)

Python
Python

In [3]:
new_str[2]

't'

In [4]:
new_str[2] ='T'

TypeError: ignored

In [5]:
import copy

In [6]:
first_str = 'Will'

first_str

'Will'

In [7]:
second_str = copy.copy(first_str)

print("First string: ", first_str)

print("Second string: ", second_str)

First string:  Will
Second string:  Will

In [8]:
second_str = 'Smith'

print("First string: ", first_str)
print("Second string: ", second_str)

First string:  Will
Second string:  Smith

In [9]:
first_str = 'Johnny'

first_str

'Johnny'

In [10]:
second_str = copy.deepcopy(first_str)

print("First string: ", first_str)
print("Second string: ", second_str)

First string:  Johnny
Second string:  Johnny

In [11]:
second_str = 'Depp'

print("First string: ",first_str)
print("Second string: ", second_str)

First string:  Johnny
Second string:  Depp

### 2. List

In [12]:
names = ["Sara", "David", "Warner", "Sandy"]

names

['Sara', 'David', 'Warner', 'Sandy']

In [13]:
new_names = names

print("Original:", names)
print("Copy:", new_names)

Original: ['Sara', 'David', 'Warner', 'Sandy']
Copy: ['Sara', 'David', 'Warner', 'Sandy']

In [14]:
names[1]

'David'

In [15]:
new_names[1] = 'Ridley'

print("Original:", names)
print("Modified:", new_names)

Original: ['Sara', 'Ridley', 'Warner', 'Sandy']
Modified: ['Sara', 'Ridley', 'Warner', 'Sandy']

In [16]:
import copy

In [17]:
companies = ["hackerearth", "google", "facebook"]

companies

['hackerearth', 'google', 'facebook']

In [18]:
new_companies = copy.copy(companies)

print('Original:', companies)
print('Modified:', new_companies)

Original: ['hackerearth', 'google', 'facebook']
Modified: ['hackerearth', 'google', 'facebook']

In [19]:
new_companies[1]

'google'

In [20]:
new_companies[1] = 'microsoft'

print('Original:', companies)
print('Modified:', new_companies)

Original: ['hackerearth', 'google', 'facebook']
Modified: ['hackerearth', 'microsoft', 'facebook']

In [21]:
old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

old_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [22]:
new_list = copy.copy(old_list)

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
New list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [23]:
old_list[1][1]

5

In [24]:
old_list[1][1] = 'Five'

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 2, 3], [4, 'Five', 6], [7, 8, 9]]
New list: [[1, 2, 3], [4, 'Five', 6], [7, 8, 9]]

In [25]:
new_list[2].append('Ten')

print ('Original:', old_list)
print ('Modified:', new_list)

Original: [[1, 2, 3], [4, 'Five', 6], [7, 8, 9, 'Ten']]
Modified: [[1, 2, 3], [4, 'Five', 6], [7, 8, 9, 'Ten']]

In [26]:
old_list.append([10, 11, 12])

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 2, 3], [4, 'Five', 6], [7, 8, 9, 'Ten'], [10, 11, 12]]
New list: [[1, 2, 3], [4, 'Five', 6], [7, 8, 9, 'Ten']]

In [27]:
names = ["Sara", "David", "Warner", "Sandy"]

names

['Sara', 'David', 'Warner', 'Sandy']

In [28]:
new_names = names.copy()

print("Original:", names)
print("Modified:", new_names)

Original: ['Sara', 'David', 'Warner', 'Sandy']
Modified: ['Sara', 'David', 'Warner', 'Sandy']

In [29]:
new_names[1]

'David'

In [30]:
new_names[1] = 'Ridley'

print('Original:', names)
print('Modified:', new_names)

Original: ['Sara', 'David', 'Warner', 'Sandy']
Modified: ['Sara', 'Ridley', 'Warner', 'Sandy']

In [31]:
import copy

In [32]:
companies = ["hackerearth", "google", "facebook"]

companies

['hackerearth', 'google', 'facebook']

In [33]:
new_companies = copy.deepcopy(companies)

print('Original:', companies)
print('Modified:', new_companies)

Original: ['hackerearth', 'google', 'facebook']
Modified: ['hackerearth', 'google', 'facebook']

In [34]:
new_companies[1]

'google'

In [35]:
new_companies[1] = 'microsoft'

print('Original:', companies)
print('Modified:', new_companies)

Original: ['hackerearth', 'google', 'facebook']
Modified: ['hackerearth', 'microsoft', 'facebook']

In [36]:
old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

old_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [37]:
new_list = copy.deepcopy(old_list)

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
New list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [38]:
old_list[1][2]

6

In [39]:
old_list[1][2] = 'Six'

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 2, 3], [4, 5, 'Six'], [7, 8, 9]]
New list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [40]:
companies

['hackerearth', 'google', 'facebook']

In [41]:
new_companies = companies[:]

new_companies

['hackerearth', 'google', 'facebook']

In [42]:
new_companies[0] = 'skillsoft'

print('Original:', companies)
print('Modified:', new_companies)

Original: ['hackerearth', 'google', 'facebook']
Modified: ['skillsoft', 'google', 'facebook']

### 3. Tuples

In [43]:
fruits = ("apple", "banana", "cherry")

fruits

('apple', 'banana', 'cherry')

In [44]:
new_fruits = fruits

print("Original:", fruits)
print("Modified:", new_fruits)

Original: ('apple', 'banana', 'cherry')
Modified: ('apple', 'banana', 'cherry')

In [45]:
new_fruits[2]

'cherry'

In [46]:
new_fruits[2] = "orange"

TypeError: ignored

In [47]:
fruits = ("apple", ["banana", "cherry"], "blackcurrant")

fruits

('apple', ['banana', 'cherry'], 'blackcurrant')

In [48]:
new_fruits = fruits

print("Original:", fruits)
print("Modified:", new_fruits)

Original: ('apple', ['banana', 'cherry'], 'blackcurrant')
Modified: ('apple', ['banana', 'cherry'], 'blackcurrant')

In [49]:
new_fruits[1][0]

'banana'

In [50]:
new_fruits[1][0] = 'orange'

print("Original:", fruits)
print("Modified:", new_fruits)

Original: ('apple', ['orange', 'cherry'], 'blackcurrant')
Modified: ('apple', ['orange', 'cherry'], 'blackcurrant')

In [51]:
import copy

In [52]:
bikes = ('Honda', 'Suzuki', 'Triumph', ['Kawasaki', 'Ducati'])

bikes

('Honda', 'Suzuki', 'Triumph', ['Kawasaki', 'Ducati'])

In [53]:
new_bikes = copy.copy(bikes)

print('Original:', bikes)
print('Modified:', new_bikes)

Original: ('Honda', 'Suzuki', 'Triumph', ['Kawasaki', 'Ducati'])
Modified: ('Honda', 'Suzuki', 'Triumph', ['Kawasaki', 'Ducati'])

In [54]:
new_bikes[3][0]

'Kawasaki'

In [55]:
new_bikes[3][0] = 'Dodge'

print('Original:', bikes)
print('Modified:', new_bikes)

Original: ('Honda', 'Suzuki', 'Triumph', ['Dodge', 'Ducati'])
Modified: ('Honda', 'Suzuki', 'Triumph', ['Dodge', 'Ducati'])

In [56]:
new_bikes = copy.deepcopy(bikes)

print('Original:', bikes)
print('Modified:', new_bikes)

Original: ('Honda', 'Suzuki', 'Triumph', ['Dodge', 'Ducati'])
Modified: ('Honda', 'Suzuki', 'Triumph', ['Dodge', 'Ducati'])

In [57]:
new_bikes[3][0] = 'Harley Davidson'

print('Original:', bikes)
print('Modified:', new_bikes)

Original: ('Honda', 'Suzuki', 'Triumph', ['Dodge', 'Ducati'])
Modified: ('Honda', 'Suzuki', 'Triumph', ['Harley Davidson', 'Ducati'])

### 4. Dictionary

In [58]:
months = {'jan': 1, 'feb': 2, 'march': 3, 'april':4}

months

{'april': 4, 'feb': 2, 'jan': 1, 'march': 3}

In [59]:
new_months = months

print("Original:", months)
print("Modified:", new_months)

Original: {'jan': 1, 'feb': 2, 'march': 3, 'april': 4}
Modified: {'jan': 1, 'feb': 2, 'march': 3, 'april': 4}

In [60]:
new_months['feb']

2

In [61]:
new_months['feb'] = 'FEB'

print("Original:", months)
print("Modified:", new_months)

Original: {'jan': 1, 'feb': 'FEB', 'march': 3, 'april': 4}
Modified: {'jan': 1, 'feb': 'FEB', 'march': 3, 'april': 4}

In [62]:
import copy

In [63]:
employees = {"Alison" : 2007, "Bart" : 2008, "Cathy" : 2009, "Dan" : 2010} 

employees

{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}

In [64]:
employees_copy = copy.copy(employees)

print(employees)
print(employees_copy)

{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}
{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}

In [65]:
employees["Alison"]

2007

In [66]:
employees_copy["Alison"] = 2005

print(employees)
print(employees_copy)

{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}
{'Alison': 2005, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}

In [67]:
orig_dict = {'one':1, 'two':2, 'three':3, 'four':[1, 2, 3, 4.0]}

orig_dict

{'four': [1, 2, 3, 4.0], 'one': 1, 'three': 3, 'two': 2}

In [68]:
new_dict = copy.copy(orig_dict)

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4.0]}
Modified: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4.0]}

In [69]:
new_dict['four'][3]

4.0

In [70]:
new_dict['four'][3] = 'FOUR'

print ('Original:',orig_dict)
print ('Modified:',new_dict)

Original: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 'FOUR']}
Modified: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 'FOUR']}

In [71]:
new_dict['four'].append(5)

print ('Original:',orig_dict) 
print ('Modified:',new_dict)

Original: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 'FOUR', 5]}
Modified: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 'FOUR', 5]}

In [72]:
orig_dict = {'one':1, 'two':2, 'three': {'zero':0, 'one':1}, 'four':4}

orig_dict

{'four': 4, 'one': 1, 'three': {'one': 1, 'zero': 0}, 'two': 2}

In [73]:
new_dict = copy.copy(orig_dict)

print(orig_dict)
print(new_dict)

{'one': 1, 'two': 2, 'three': {'zero': 0, 'one': 1}, 'four': 4}
{'one': 1, 'two': 2, 'three': {'zero': 0, 'one': 1}, 'four': 4}

In [74]:
new_dict['three']['zero']

0

In [75]:
new_dict['three']['zero'] = 'ZERO'

print(orig_dict)
print(new_dict)

{'one': 1, 'two': 2, 'three': {'zero': 'ZERO', 'one': 1}, 'four': 4}
{'one': 1, 'two': 2, 'three': {'zero': 'ZERO', 'one': 1}, 'four': 4}

In [76]:
orig_dict = {'one':1, 'two':2, 'three': {0, 1, 2}, 'four':4}

orig_dict

{'four': 4, 'one': 1, 'three': {0, 1, 2}, 'two': 2}

In [77]:
new_dict = copy.copy(orig_dict)

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}
Modified: {'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}

In [78]:
new_dict['three']

{0, 1, 2}

In [79]:
new_dict['three'].add(3)

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': {0, 1, 2, 3}, 'four': 4}
Modified: {'one': 1, 'two': 2, 'three': {0, 1, 2, 3}, 'four': 4}

In [80]:
months = {'jan': 1, 'feb': 2, 'march': 3, 'april':4}

months

{'april': 4, 'feb': 2, 'jan': 1, 'march': 3}

In [81]:
new_months = months.copy()

print("Original:", months)
print("Modified:", new_months)

Original: {'jan': 1, 'feb': 2, 'march': 3, 'april': 4}
Modified: {'jan': 1, 'feb': 2, 'march': 3, 'april': 4}

In [82]:
new_months['feb']

2

In [83]:
new_months['feb'] = 'FEB'

print("Original:", months)
print("Modified:", new_months)

Original: {'jan': 1, 'feb': 2, 'march': 3, 'april': 4}
Modified: {'jan': 1, 'feb': 'FEB', 'march': 3, 'april': 4}

In [84]:
import copy

In [85]:
employees = {"Alison" : 2007, "Bart" : 2008, "Cathy" : 2009, "Dan" : 2010} 

employees

{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}

In [86]:
employees_copy = copy.deepcopy(employees)

print(employees)
print(employees_copy)

{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}
{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}

In [87]:
employees["Alison"]

2007

In [88]:
employees["Alison"] = 2011

print(employees)
print(employees_copy)

{'Alison': 2011, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}
{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}

In [89]:
orig_dict = {'one':1, 'two':2, 'three':3, 'four':[1, 2, 3, 4.0]}

orig_dict

{'four': [1, 2, 3, 4.0], 'one': 1, 'three': 3, 'two': 2}

In [90]:
new_dict = copy.deepcopy(orig_dict)

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4.0]}
Modified: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4.0]}

In [91]:
new_dict['four'][3]

4.0

In [92]:
new_dict['four'][3] = 'FOUR'

print ('Original:', orig_dict) 
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4.0]}
Modified: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 'FOUR']}

In [93]:
new_dict['four'].append(5)

print ('Original:', orig_dict) 
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4.0]}
Modified: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 'FOUR', 5]}

In [94]:
orig_dict = {'one':1, 'two':2, 'three': {'zero':0, 'one':1}, 'four':4}

orig_dict

{'four': 4, 'one': 1, 'three': {'one': 1, 'zero': 0}, 'two': 2}

In [95]:
new_dict = copy.deepcopy(orig_dict)

print(orig_dict)
print(new_dict)

{'one': 1, 'two': 2, 'three': {'zero': 0, 'one': 1}, 'four': 4}
{'one': 1, 'two': 2, 'three': {'zero': 0, 'one': 1}, 'four': 4}

In [96]:
new_dict['three']['zero']

0

In [97]:
new_dict['three']['zero'] = 'ZERO'

print(orig_dict)
print(new_dict)

{'one': 1, 'two': 2, 'three': {'zero': 0, 'one': 1}, 'four': 4}
{'one': 1, 'two': 2, 'three': {'zero': 'ZERO', 'one': 1}, 'four': 4}

In [98]:
orig_dict = {'one':1, 'two':2, 'three':{0,1,2}, 'four':4}
orig_dict

{'four': 4, 'one': 1, 'three': {0, 1, 2}, 'two': 2}

In [99]:
new_dict = copy.deepcopy(orig_dict)

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}
Modified: {'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}

In [100]:
new_dict['three']

{0, 1, 2}

In [101]:
new_dict['three'].add('THREE')

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}
Modified: {'one': 1, 'two': 2, 'three': {0, 1, 2, 'THREE'}, 'four': 4}

### 5. Sets

In [102]:
set_1 = {'c++', 'php', 'java', 'python'}

set_1

{'c++', 'java', 'php', 'python'}

In [103]:
set_2 = set_1

print("Original:", set_1)
print("Modified:", set_2)

Original: {'python', 'java', 'php', 'c++'}
Modified: {'python', 'java', 'php', 'c++'}

In [104]:
set_2.add('sql')

print("Original:", set_1)
print("Modified:", set_2)

Original: {'sql', 'python', 'c++', 'php', 'java'}
Modified: {'sql', 'python', 'c++', 'php', 'java'}

In [105]:
set_2.pop()

'sql'

In [106]:
print("Original:", set_1)
print("Modified:", set_2)

Original: {'python', 'c++', 'php', 'java'}
Modified: {'python', 'c++', 'php', 'java'}

In [107]:
set_2[2]

TypeError: ignored

In [108]:
set_2[2] = 'ruby'

TypeError: ignored

In [109]:
set_1 = {'c++', 'php', ['java', 'python'], 'sql'}

set_1

TypeError: ignored

In [110]:
set_1 = {'c++', 'php', ('java', 'python'), 'sql'}

set_1

{('java', 'python'), 'c++', 'php', 'sql'}

In [111]:
set_2 = set_1

print("Original:", set_1)
print("Modified:", set_2)

Original: {('java', 'python'), 'sql', 'php', 'c++'}
Modified: {('java', 'python'), 'sql', 'php', 'c++'}

In [112]:
import copy

In [113]:
teachers_set = {"Ava", "Mia", "Jacob", "Daniel"}

teachers_set

{'Ava', 'Daniel', 'Jacob', 'Mia'}

In [114]:
new_teachers_set = copy.copy(teachers_set)

print(teachers_set)
print(new_teachers_set)

{'Mia', 'Ava', 'Jacob', 'Daniel'}
{'Mia', 'Ava', 'Jacob', 'Daniel'}

In [115]:
teachers_set.add("Emma")

print(teachers_set)
print(new_teachers_set)

{'Jacob', 'Emma', 'Daniel', 'Ava', 'Mia'}
{'Mia', 'Ava', 'Jacob', 'Daniel'}

In [116]:
new_teachers_set.remove("Ava")

print(teachers_set)
print(new_teachers_set)

{'Jacob', 'Emma', 'Daniel', 'Ava', 'Mia'}
{'Mia', 'Jacob', 'Daniel'}

In [117]:
teachers_set = {"Ava", "Mia", "Jacob", "Daniel"}

teachers_set

{'Ava', 'Daniel', 'Jacob', 'Mia'}

In [118]:
new_teachers_set = copy.deepcopy(teachers_set)

print(teachers_set)
print(new_teachers_set)

{'Mia', 'Ava', 'Jacob', 'Daniel'}
{'Mia', 'Ava', 'Jacob', 'Daniel'}

In [119]:
teachers_set.add("Emma")

print(teachers_set)
print(new_teachers_set)

{'Jacob', 'Emma', 'Daniel', 'Ava', 'Mia'}
{'Mia', 'Ava', 'Jacob', 'Daniel'}

In [120]:
teachers_set.remove("Ava")

print(teachers_set)
print(new_teachers_set)

{'Jacob', 'Emma', 'Daniel', 'Mia'}
{'Mia', 'Ava', 'Jacob', 'Daniel'}