In [1]:
print("My name is John")
print("I live in Boston")
print("I am a data analyst and I love what I do!")

My name is John
I live in Boston
I am a data analyst and I love what I do!

In [2]:
def my_introduction():
    print("My name is John")
    print("I live in Boston")
    print("I am a data analyst and I love what I do!")

In [3]:
my_introduction()

My name is John
I live in Boston
I am a data analyst and I love what I do!

In [4]:
my_introduction()

My name is John
I live in Boston
I am a data analyst and I love what I do!

In [5]:
def hello_world():
    print("Welcome to Python!")

print("This is outside the function")

This is outside the function

In [6]:
hello_world()

Welcome to Python!

In [7]:
my_new_function()

NameError: ignored

In [8]:
def my_new_function():
    print("This is now defined")
    
my_new_function()

This is now defined

In [9]:
def will_not_work_function():
print("This indentation is all wrong")

IndentationError: ignored

In [10]:
def will_work_function():
    print("This indentation is all right!")
    
    if 10 > 5:
        print("Well 10 is greater than 5")

In [11]:
will_work_function()

This indentation is all right!
Well 10 is greater than 5

In [12]:
def a_more_complicated_function():
    for i in range(10):
        print("i is now: ", i)

In [13]:
## TODO while recording, show that tab autocomplete works
a_more_complicated_function()

i is now:  0
i is now:  1
i is now:  2
i is now:  3
i is now:  4
i is now:  5
i is now:  6
i is now:  7
i is now:  8
i is now:  9

In [14]:
def _Functions_Can_Be_NamedLikeThis_123():
    print('This works!')
    
_Functions_Can_Be_NamedLikeThis_123()

This works!

In [15]:
def 123this_does_not_work():
    print('This does not work')

SyntaxError: ignored

In [16]:
def documented_function():
    """ This function does something that is well documented """
    print("Hello")

In [17]:
documented_function

In [18]:
documented_function.__doc__

' This function does something that is well documented '

In [19]:
another_function = documented_function

In [20]:
another_function

In [21]:
another_function()

Hello

In [22]:
documented_function()

Hello

In [23]:
name = "John"
city = "Toronto"

In [24]:
def introduction():
    print("My name is: ", name)
    print("I live in: ", city)

In [25]:
introduction()

My name is:  John
I live in:  Toronto

In [26]:
name = "Lily"
city = "New York"

In [27]:
introduction()

My name is:  Lily
I live in:  New York

In [28]:
name = "Lily"
city = "Seattle"

In [29]:
introduction()

My name is:  Lily
I live in:  Seattle

In [30]:
"a" + 2

TypeError: ignored

In [31]:
def function_with_error():
    result = "a" + 2
    
    print(result)

In [32]:
function_with_error()

TypeError: ignored

In [33]:
def my_introduction():
    print("Hello, my name is Harry")
    print("I live and work in Dallas")

In [34]:
my_introduction()

Hello, my name is Harry
I live and work in Dallas

In [35]:
def introduction(name):
    print("Hello, my name is", name)
    print("I live and work in Dallas")

In [36]:
introduction("Lily")

Hello, my name is Lily
I live and work in Dallas

In [37]:
introduction("Henry")

Hello, my name is Henry
I live and work in Dallas

In [38]:
def general_introduction(name, city):
    print("Hello, my name is", name)
    print("I live and work in", city)

In [39]:
general_introduction("Lily", "San Francisco")

Hello, my name is Lily
I live and work in San Francisco

In [40]:
general_introduction("John", "Dublin")

Hello, my name is John
I live and work in Dublin

In [41]:
general_introduction("Dublin", "John")

Hello, my name is Dublin
I live and work in John

In [42]:
my_introduction("Lily")

TypeError: ignored

In [43]:
introduction("Lily", "San Francisco")

TypeError: ignored

In [44]:
general_introduction("Lily")

TypeError: ignored

In [45]:
def square(x):
    
    print("The square of", x, "is", x*x)

In [46]:
square(3)

The square of 3 is 9

In [47]:
square(10001)

The square of 10001 is 100020001

In [48]:
square("James")

TypeError: ignored

In [49]:
num = 25

square(num)

The square of 25 is 625

In [50]:
another_num = 100

square(num)
square(another_num)

The square of 25 is 625
The square of 100 is 10000

In [51]:
salary = 1000
expense = 300

def my_savings(a, b):
    print("My total savings:", salary - expense)

In [52]:
my_savings(1000, 300)

My total savings: 700

In [53]:
my_savings(1200, 400)

My total savings: 700

In [54]:
def my_actual_savings(a, b):
    print("My actual savings:", a - b)

In [55]:
my_actual_savings(1200, 400)

My actual savings: 800

In [56]:
salary = 2000
expense = 700

def calculate_savings(salary, expense):
     print("My savings are:", salary - expense)

In [57]:
calculate_savings()

TypeError: ignored

In [58]:
calculate_savings(salary, expense)

My savings are: 1300

In [59]:
calculate_savings(3000, 1000)

My savings are: 2000

In [60]:
total_salary = 4000
total_expense = 2500

calculate_savings(total_salary, total_expense)

My savings are: 1500

In [61]:
def print_many_times(string, times):
    
    for i in range(times):
        print(string)

In [62]:
print_many_times("Skillsoft", 5)

Skillsoft
Skillsoft
Skillsoft
Skillsoft
Skillsoft

In [63]:
print_many_times(5, "Skillsoft")

TypeError: ignored

In [64]:
def print_many_times_with_doc(string, times):
    
    """
        Prints the specified string the specified number of times
        
        The first argument is the string you want printed, the second
        argument is the number of times you want the string printed
        
        Parameters (both required):
        string(str): The string to be printed
        times(int): The number of times the string should be printed
        
        Returns:
        No return value
    
    """
    
    for i in range(times):
        print(string)

In [65]:
print_many_times_with_doc.__doc__

'\n        Prints the specified string the specified number of times\n        \n        The first argument is the string you want printed, the second\n        argument is the number of times you want the string printed\n        \n        Parameters (both required):\n        string(str): The string to be printed\n        times(int): The number of times the string should be printed\n        \n        Returns:\n        No return value\n    \n    '

In [66]:
print(print_many_times_with_doc.__doc__)

        Prints the specified string the specified number of times

        The first argument is the string you want printed, the second
        argument is the number of times you want the string printed

        Parameters (both required):
        string(str): The string to be printed
        times(int): The number of times the string should be printed

        Returns:
        No return value

In [67]:
def print_higher_number(a, b):
    
    if a > b:
        print("Higher number is", a)
    else:
        print("Higher number is", b)

In [68]:
print_higher_number(10, 5)

Higher number is 10

In [69]:
print_higher_number(10, 20)

Higher number is 20

In [70]:
def print_higher_number_with_error(a, b):
    
    if a > b:
        print("Higher number is", a)
    else:
        print("Higher number is", b)
        result = b + "a"

In [71]:
print_higher_number_with_error(10, 5)

Higher number is 10

In [72]:
print_higher_number_with_error(10, 20)

Higher number is 20

TypeError: ignored

In [73]:
def multiply(num_1, num_2, num_3):
    
    print("Multiplication result: ", num_1 * num_2 * num_3)

In [74]:
multiply(1, 2.3, 4)

Multiplication result:  9.2

In [75]:
multiply(1, 2.3, 4, 10)

TypeError: ignored

In [76]:
def length(some_list):
    
    count = 0
    for element in some_list:
        count += 1
        
    print("The length of the list is", count)

In [77]:
num_list = [4, 6, 12 ,7, 2, 9, 23]

length(num_list)

The length of the list is 7

In [78]:
cars_list = ["Toyota", "Honda", "Hyundai", "Ford"]

length(cars_list)

The length of the list is 4

In [79]:
length([4.5, 7.8, 3.3])

The length of the list is 3

In [80]:
len(num_list)

7

In [81]:
len(cars_list)

4

In [82]:
num_cars = len(cars_list)

num_cars

4

In [83]:
num_cars = length(cars_list)

The length of the list is 4

In [84]:
num_cars

In [85]:
print(num_cars)

None

In [86]:
def subtract(num_1, num_2):

    result = num_1 - num_2

In [87]:
subtract(10, 7.7)

In [88]:
r = subtract(100, 50)

In [89]:
print(r)

None

In [90]:
type(r)

NoneType

In [91]:
def subtract_returns_none_by_default(num_1, num_2):

    result = num_1 - num_2
    
    return None

In [92]:
r = subtract_returns_none_by_default(100, 50)

print(r)

None

In [93]:
type(r)

NoneType

In [94]:
def subtract_returns_a_result(num_1, num_2):

    result = num_1 - num_2
    
    return result

In [95]:
r = subtract_returns_a_result(100, 50)

print(r)

50

In [96]:
def length(some_list):
    
    count = 0
    for element in some_list:
        count += 1
        
    print("The length of the list is", count)
    
    return count

In [97]:
l = length([100, 200, 300])

The length of the list is 3

In [98]:
l

3

In [99]:
print(l)

3

In [100]:
def find_max_in_list(some_list):
    
    max_element = some_list[0]
    
    length = len(some_list)
    
    for i in range(1, length):

        if some_list[i] > max_element:
                max_element = some_list[i]
    
    return max_element

In [101]:
num_list = [5, 4, 6, 7, 2, 10, 11, 3]

In [102]:
max_element = find_max_in_list(num_list)

print(max_element)

11

In [103]:
num_list.append(24)

In [104]:
max_element = find_max_in_list(num_list)

print(max_element)

24

In [105]:
def empty_return(x, y):
    total = x + y

    return

In [106]:
result = empty_return(10, 20)

In [107]:
print(result)

None

In [108]:
type(result)

NoneType

In [109]:
def add_sub(x, y):

    add_result = x + y
    sub_result = x - y
    
    return add_result, sub_result

In [110]:
add_sub(5, 4)

(9, 1)

In [111]:
result = add_sub(5, 4)

result

(9, 1)

In [112]:
result_1, result_2 = add_sub(5, 4)

In [113]:
result_1

9

In [114]:
result_2

1

In [115]:
result_1, _ = add_sub(5, 4)

result_1

9

In [116]:
_, result_2 = add_sub(5, 4)

result_2

1

In [117]:
def positive_or_negative(num):
    
    if num > 0:
        return "Positive!"
    
    else:
        return "Zero or negative"

In [118]:
positive_or_negative(20)

'Positive!'

In [119]:
positive_or_negative(-10)

'Zero or negative'

In [120]:
def positive_negative_zero(num):
    
    if num > 0:
        return "Positive!"
    
    elif num < 0:
        return "Negative!"
    
    else:
        return "Zero"

In [121]:
positive_negative_zero(90)

'Positive!'

In [122]:
positive_negative_zero(-90)

'Negative!'

In [123]:
positive_negative_zero(0)

'Zero'

In [124]:
def positive_negative_zero_forgotreturn(num):
    
    if num > 0:
        return "Positive!"
    
    elif num < 0:
        return "Negative!"

In [125]:
positive_negative_zero_forgotreturn(90)

'Positive!'

In [126]:
positive_negative_zero_forgotreturn(-10)

'Negative!'

In [127]:
positive_negative_zero_forgotreturn(0)

In [128]:
empty_list = []

find_max_in_list(empty_list)

IndexError: ignored

In [129]:
def find_max_in_list(some_list):
    
    if len(some_list) == 0:
        print("Zero element list!")
        
        return None
    
    max_element = some_list[0]
    
    length = len(some_list)
    
    for i in range(1, length):

        if some_list[i] > max_element:
                max_element = some_list[i]
    
    return max_element

In [130]:
find_max_in_list(empty_list)

Zero element list!

In [131]:
def find_first_capital_letter(some_string):
    
    capital_letter = None
    
    for ch in some_string:
        if ch.upper() == ch and ch != " ":
            capital_letter = ch
            break
    
    if capital_letter is None:
        return "No capital letters found"
    else:
        return "First capital letter " + capital_letter

In [132]:
find_first_capital_letter("how Are you")

'First capital letter A'

In [133]:
find_first_capital_letter("how are you")

'No capital letters found'

In [134]:
def create_dictionary_representation(name, age, occupation):
    
    dictionary = {
        "name": name,
        "age": age,
        "occupation": occupation
    }
    
    return dictionary

In [135]:
info_dictionary = create_dictionary_representation("John", 35, "Engineer")

In [136]:
info_dictionary

{'age': 35, 'name': 'John', 'occupation': 'Engineer'}

In [137]:
def generate_list(name, num_elements):
    
    return_list = []

    for i in range(num_elements):
        return_list.append(name)
        
    return return_list

In [138]:
some_list = generate_list("Iris", 5)

some_list

['Iris', 'Iris', 'Iris', 'Iris', 'Iris']

In [139]:
some_list = generate_list("Louise", 3)

some_list

['Louise', 'Louise', 'Louise']

In [140]:
def generate_list(name, num_elements):
    
    print("Generate list using list comprehension")
    return_list = [name for i in range(num_elements)]
        
    return return_list

In [141]:
some_list = generate_list("Daisy", 4)

some_list

Generate list using list comprehension

['Daisy', 'Daisy', 'Daisy', 'Daisy']

In [142]:
def generate_list(name, num_elements):
        
    return [name for i in range(num_elements)]

In [143]:
some_list = generate_list("Sunflower", 4)

some_list

['Sunflower', 'Sunflower', 'Sunflower', 'Sunflower']

In [144]:
def add(a, b):
    return a + b

def sub(a, b):
    return a - b

def mul(a, b):
    return a * b

def div(a, b):
    return a / b

In [145]:
def calculate(a, b, operator):
    
    if operator == "add":
        return add(a, b) 

    if operator == "sub":
        return sub(a, b)
    
    if operator == "mul":
        return mul(a, b) 
    
    if operator == "div":
        return div(a, b)

In [146]:
calculate(10, 5, "add")

15

In [147]:
calculate(10, 5, "mul")

50

In [148]:
calculate(10, 5, "div")

2.0

In [149]:
calculate(10, 5, "meaningless")

In [150]:
def find_first_capital_letter(some_string):
    
    capital_letter = None
    
    for ch in some_string:
        if ch.upper() == ch and ch != " ":
            capital_letter = ch
            break
    
    if capital_letter is None:
        return "No capital letters found"
    else:
        return "First capital letter " + capital_letter

In [151]:
find_first_capital_letter("how Are you")

'First capital letter A'

In [152]:
find_first_capital_letter("how are you")

'No capital letters found'

In [153]:
def introduction(name, city):
    print("Hello, my name is", name)
    print("I live and work in", city)

In [154]:
introduction()

TypeError: ignored

In [155]:
introduction("Rose")

TypeError: ignored

In [156]:
introduction("Rose", "San Jose")

Hello, my name is Rose
I live and work in San Jose

In [157]:
def sum_of(num_1, num_2, num_3):
    return (num_1 + num_2 + num_3)

sum_of(25, 34)

TypeError: ignored

In [158]:
def total_score(math, physics, chemistry, biology):
    
    print("Math:", math, "Physics:", physics, "Chemistry:", chemistry, "Biology:", biology)
    return math + physics + chemistry + biology

In [159]:
total_score(100, 56, 34, 99)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [160]:
total_score(math=100, physics=56, chemistry=34, biology=99)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [161]:
total_score(math=100, physics=56, chem=34, biology=99)

TypeError: ignored

In [162]:
total_score(ma=100, phy=56, chemistry=34, biology=99)

TypeError: ignored

In [163]:
total_score(100, physics=56, chemistry=34, biology=99)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [164]:
total_score(100, 56, chemistry=34, biology=99)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [165]:
total_score(100, 56, 34, biology=99)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [166]:
total_score(math=100, 56, chemistry=34, biology=99)

SyntaxError: ignored

In [167]:
total_score(math=100, physics=56, 34, biology=99)

SyntaxError: ignored

In [168]:
total_score(math=100, physics=56, chemistry=34, 99)

SyntaxError: ignored

In [169]:
total_score(biology=99, math=100, chemistry=34, physics=56)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [170]:
total_score(chemistry=34, biology=99, math=100, physics=56)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [171]:
total_score(34, biology=99, math=100, physics=56)

TypeError: ignored

In [172]:
total_score(physics=34, biology=99, chemistry=100, physics=56)

SyntaxError: ignored

In [173]:
def print_student_details(name, school, math, physics, chemistry, biology):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school)
    print("Score: ", total)

In [174]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99)

Name:  Alice
School:  Columbia
Score:  339

In [175]:
print_student_details("Columbia", "Alice", 
                      math=100, physics=76, chemistry=64, biology=99)

Name:  Columbia
School:  Alice
Score:  339

In [176]:
print_student_details(name="Alice", school="Columbia", 
                      math=100, physics=76, chemistry=64, biology=99)

Name:  Alice
School:  Columbia
Score:  339

In [177]:
num_list = [3, 6, 1, 9, 5, 7]

sorted(num_list)

[1, 3, 5, 6, 7, 9]

In [178]:
sorted(num_list, reverse=False)

[1, 3, 5, 6, 7, 9]

In [179]:
sorted(num_list, reverse=True)

[9, 7, 6, 5, 3, 1]

In [180]:
print("Alice", "Peter", "Greg")

Alice Peter Greg

In [181]:
print("Alice", "Peter", "Greg", sep="|")

Alice|Peter|Greg

In [182]:
print("Alice", "Peter", "Greg", sep="|", end="*****")

Alice|Peter|Greg*****

In [183]:
def print_student_details(name, school, 
                          math, physics, chemistry, biology, 
                          enrolled):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Score: ", total)

In [184]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99, 
                      enrolled=True)

Name:  Alice
School:  Columbia Enrolled:  True
Score:  339

In [185]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99)

TypeError: ignored

In [186]:
def print_student_details(name, school, 
                          math, physics, chemistry, biology, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Score: ", total)

In [187]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99, 
                      enrolled=True)

Name:  Alice
School:  Columbia Enrolled:  True
Score:  339

In [188]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99, 
                      enrolled=False)

Name:  Alice
School:  Columbia Enrolled:  False
Score:  339

In [189]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99)

Name:  Alice
School:  Columbia Enrolled:  False
Score:  339

In [190]:
def print_student_details(name, school, 
                          math, physics, chemistry, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Biology: ", biology)
    print("Score: ", total)

In [191]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99)

Name:  Alice
School:  Columbia Enrolled:  False
Biology:  99
Score:  339

In [192]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64)

Name:  Alice
School:  Columbia Enrolled:  False
Biology:  50
Score:  290

In [193]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76)

TypeError: ignored

In [194]:
def print_student_details(name, school, 
                          math, physics, chemistry=50, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ", total)

In [195]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64)

Name:  Alice
School:  Columbia Enrolled:  False
Chemistry:  64
Biology:  50
Score:  290

In [196]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76)

Name:  Alice
School:  Columbia Enrolled:  False
Chemistry:  50
Biology:  50
Score:  276

In [197]:
def print_student_details(name, school, 
                          math=50, physics, chemistry=50, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ", total)

SyntaxError: ignored

In [198]:
def print_student_details(name, school="Harvard", 
                          math, physics, chemistry=50, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ", total)

SyntaxError: ignored

In [199]:
def print_student_details(name="Mark", school, 
                          math, physics, chemistry=50, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ", total)

SyntaxError: ignored

In [200]:
def print_student_details(name="Mark", school="Harvard", 
                          math=50, physics=50, chemistry=50, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Math: ", math)
    print("Physics: ", physics)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ", total)

In [201]:
print_student_details()

Name:  Mark
School:  Harvard Enrolled:  False
Math:  50
Physics:  50
Chemistry:  50
Biology:  50
Score:  200

In [202]:
print_student_details("Alice")

Name:  Alice
School:  Harvard Enrolled:  False
Math:  50
Physics:  50
Chemistry:  50
Biology:  50
Score:  200

In [203]:
print_student_details("Alice", "Columbia")

Name:  Alice
School:  Columbia Enrolled:  False
Math:  50
Physics:  50
Chemistry:  50
Biology:  50
Score:  200

In [204]:
print_student_details("Alice", "Columbia", 99)

Name:  Alice
School:  Columbia Enrolled:  False
Math:  99
Physics:  50
Chemistry:  50
Biology:  50
Score:  249

In [205]:
print_student_details("Alice", "Columbia", 99, enrolled=True)

Name:  Alice
School:  Columbia Enrolled:  True
Math:  99
Physics:  50
Chemistry:  50
Biology:  50
Score:  249

In [206]:
print_student_details("Alice", "Columbia", 99, enrolled=True)

Name:  Alice
School:  Columbia Enrolled:  True
Math:  99
Physics:  50
Chemistry:  50
Biology:  50
Score:  249

In [207]:
print_student_details("Alice", "Columbia", 99, biology=66, enrolled=True)

Name:  Alice
School:  Columbia Enrolled:  True
Math:  99
Physics:  50
Chemistry:  50
Biology:  66
Score:  265

In [208]:
print()

In [209]:
print("Bob")

Bob

In [210]:
print("Bob", "Peter")

Bob Peter

In [211]:
print("Greg", "Claudia", "Bob")

Greg Claudia Bob

In [212]:
print("Greg", "Claudia", "Bob", "Peter")

Greg Claudia Bob Peter

In [213]:
def print_fn(string_1):
    
    print(string_1)

In [214]:
print_fn()

TypeError: ignored

In [215]:
def print_fn(string_1="\n"):
    
    print(string_1)

In [216]:
print_fn()

In [217]:
print_fn("Bob")

Bob

In [218]:
print_fn("Bob", "Peter")

TypeError: ignored

In [219]:
def print_fn(string_1="\n", string_2=""):
    
    print(string_1, string_2)

In [220]:
print_fn()

In [221]:
print_fn("Bob")

Bob

In [222]:
print_fn("Bob", "Peter")

Bob Peter

In [223]:
print_fn("Greg", "Claudia", "Bob")

TypeError: ignored

In [224]:
def print_fn(*args):
    
    args_type = type(args)
    print(args_type)
    
    print(args)

In [225]:
print_fn()

<class 'tuple'>
()

In [226]:
print_fn("Bob")

<class 'tuple'>
('Bob',)

In [227]:
print_fn("Bob", "Peter")

<class 'tuple'>
('Bob', 'Peter')

In [228]:
print_fn("Greg", "Claudia", "Bob")

<class 'tuple'>
('Greg', 'Claudia', 'Bob')

In [229]:
print_fn("Greg", "Claudia", "Bob", "Alice", "Steve", "Jim")

<class 'tuple'>
('Greg', 'Claudia', 'Bob', 'Alice', 'Steve', 'Jim')

In [230]:
names_list = ["Greg", "Claudia", "Bob", "Alice", "Steve", "Jim"]


print_fn(names_list)

<class 'tuple'>
(['Greg', 'Claudia', 'Bob', 'Alice', 'Steve', 'Jim'],)

In [231]:
print_fn(*names_list)

<class 'tuple'>
('Greg', 'Claudia', 'Bob', 'Alice', 'Steve', 'Jim')

In [232]:
def students_in_college(college, city, *students):
    
    print("College: ", college)
    print("City: ", city)
    print("Students: ", students)

In [233]:
students_in_college()

TypeError: ignored

In [234]:
students_in_college("Columbia")

TypeError: ignored

In [235]:
students_in_college("Columbia", "New York")

College:  Columbia
City:  New York
Students:  ()

In [236]:
students_in_college("Columbia", "New York", "Bob")

College:  Columbia
City:  New York
Students:  ('Bob',)

In [237]:
students_in_college("Columbia", "New York", "Peter", "Julie")

College:  Columbia
City:  New York
Students:  ('Peter', 'Julie')

In [238]:
students_in_college("Columbia", "New York", "Peter", "Julie", "Trista")

College:  Columbia
City:  New York
Students:  ('Peter', 'Julie', 'Trista')

In [239]:
students_in_college(city="New York", college="Columbia", "Peter", "Julie")

SyntaxError: ignored

In [240]:
def students_in_college(*students, college, city):
    
    print("College: ", college)
    print("City: ", city)
    print("Students: ", students)

In [241]:
students_in_college("Columbia", "New York", "Bob")

TypeError: ignored

In [242]:
students_in_college("Bob", college="Columbia", city="New York")

College:  Columbia
City:  New York
Students:  ('Bob',)

In [243]:
students_in_college("Bob", "Peter", college="Columbia", city="New York")

College:  Columbia
City:  New York
Students:  ('Bob', 'Peter')

In [244]:
def students_in_college(*students, college, city="Boston"):
    
    print("College: ", college)
    print("City: ", city)
    print("Students: ", students)

In [245]:
students_in_college("Bob")

TypeError: ignored

In [246]:
students_in_college("Bob", "Harvard")

TypeError: ignored

In [247]:
students_in_college("Bob", college="Harvard")

College:  Harvard
City:  Boston
Students:  ('Bob',)

In [248]:
students_in_college("Bob", college="Columbia", city="New York")

College:  Columbia
City:  New York
Students:  ('Bob',)

In [249]:
def student_details(**kwargs):
    
    print(type(kwargs))
    print(kwargs)

In [250]:
student_details()

<class 'dict'>
{}

In [251]:
student_details(name="John")

<class 'dict'>
{'name': 'John'}

In [252]:
student_details(name="John", age=18)

<class 'dict'>
{'name': 'John', 'age': 18}

In [253]:
student_details(name="John", age=18, college="Boston University")

<class 'dict'>
{'name': 'John', 'age': 18, 'college': 'Boston University'}

In [254]:
def student_details(**details):
    
    for key, value in details.items():
        print(key, value)

In [255]:
student_details(name="John", age=18, college="Boston University")

name John
age 18
college Boston University

In [256]:
details_dictionary = {'name': 'John', 'age': 18, 'college': 'Boston University'}

In [257]:
student_details(details_dictionary)

TypeError: ignored

In [258]:
student_details(**details_dictionary)

name John
age 18
college Boston University

In [259]:
def student_details(**details):
    
    if 'name' in details:
        print("Name: ", details['name'])
    
    if 'age' in details:
        print("Age: ", details['age'])
        
    if 'college' in details:
        print("College: ", details['college'])

In [260]:
student_details(name="John")

Name:  John

In [261]:
student_details(name="John", college="Boston University")

Name:  John
College:  Boston University

In [262]:
student_details(name="John", college="Boston University", age=21)

Name:  John
Age:  21
College:  Boston University

In [263]:
def students_in_college(*student_names, **college_details):
    print("Students--")
    for s in student_names:
        print(s)
    
    print()
    
    print("College Details--")
    for key, value in college_details.items():
        print(key, value)

In [264]:
students_in_college("Alison", "Bob", "Charlie", name="Stanford", city="Palo Alto")

Students--
Alison
Bob
Charlie

College Details--
name Stanford
city Palo Alto