In [1]:
10 == 10

True

In [2]:
10 == 20

False

In [3]:
20 == "Hello"

False

In [4]:
20 = "Hello"

SyntaxError: can't assign to literal (<ipython-input-4-d36b08588c45>, line 1)

In [5]:
"Hello" == 20

False

In [6]:
"Hello" == "Hello"

True

In [7]:
20 != 20

False

In [8]:
20 != 10

True

In [9]:
20 != "Hello"

True

In [10]:
"Hello" != "Hello"

False

In [11]:
x = "Hello"

In [12]:
x == "Hello"

True

In [13]:
x == "Python"

False

In [14]:
x != "Python"

True

In [15]:
10 < 20

True

In [16]:
10 < 9

False

In [17]:
10 < 10

False

In [18]:
15 > 20

False

In [19]:
20 <= 15

False

In [20]:
20 <= 20

True

In [21]:
20 < 20

False

In [22]:
10 >= 20

False

In [23]:
2 + 3 < 6

True

In [24]:
(2 + 3) < 6

True

In [25]:
8 + 5 > 10 + 2

True

In [26]:
8 + 5 == 10 + 3

True

In [27]:
2 * 5 > 10

False

In [28]:
2 * 5 >= 10

True

In [29]:
40 % 3 == 0

False

In [30]:
40 % 2 == 0

True

In [31]:
0 == 40 % 2

True

In [32]:
5 > 3 and 4 < 6

True

In [33]:
(5 > 3) and (4 < 6)

True

In [34]:
5 > 3 and 4 < 2

False

In [35]:
10 == 10 == True

False

In [36]:
10 == 10 and 10 == True

False

In [37]:
(10 == 10) == True

True

In [38]:
5 > 3 or 4 < 2

True

In [39]:
5 > 3 or 4 < 6

True

In [40]:
5 > 6 or 4 < 2

False

In [41]:
not(5 > 3 and 4 < 2)

True

In [42]:
not(5 > 3 or 4 < 6)

False

In [1]:
if 10 < 15:
    
    print("10 is less than 15")

10 is less than 15

In [2]:
if 46 > 40 + 5:
    
    print("46 is greater than 45")

46 is greater than 45

In [3]:
if 46 > 40:
    
print("46 is greater than 40")

IndentationError: expected an indented block (<ipython-input-3-3d53fbde06da>, line 3)

In [4]:
x_value = 65

y_value = 25

In [5]:
if x_value < y_value:
    
    print('Value of x is less than the value of y')

In [6]:
if x_value > y_value:
    
    print('Value of x is greater than the value of y')

Value of x is greater than the value of y

In [7]:
my_string = "Hello python world"

In [8]:
if "python" in my_string:
    
    print('Yes, "python" is in my_string')

Yes, "python" is in my_string

In [9]:
if "pythonworld" in my_string:
    
    print('Yes, "python world" is in my_string')

In [10]:
if "python world" in my_string:
    
    print('Yes, "python world" is in my_string')

Yes, "python world" is in my_string

In [11]:
if "Python World" in my_string:
    
    print('Yes, "python world" is in my_string')

In [12]:
list_student = ["Ayden", "Gavin", "Ian", "Jose", "Jane"]

list_student

['Ayden', 'Gavin', 'Ian', 'Jose', 'Jane']

In [13]:
if "Jose" in list_student:
    
    print("Jose is a student")

Jose is a student

In [14]:
if "Eva" in list_student:
    
    print("Eva is a student")

In [15]:
tuple_teachers = ("Alice", "Alexa", "Robert", "Bella")

tuple_teachers

('Alice', 'Alexa', 'Robert', 'Bella')

In [16]:
if "Alexa" in tuple_teachers:
    
    print("Alexa is a teacher")

Alexa is a teacher

In [17]:
student_score = {"Ayden":60, "Gavin":85, "Ian":76, "Jose":70, "Jane":82}
student_score

{'Ayden': 60, 'Gavin': 85, 'Ian': 76, 'Jose': 70, 'Jane': 82}

In [18]:
if "Ian" in student_score:
    
    print("Ian is in the student_score dictionary")

Ian is in the student_score dictionary

In [19]:
if "Jane" in student_score:
    
    print("Jane's score:", student_score["Jane"])

Jane's score: 82

In [20]:
if "Ayden" in student_score:
    
    print("Ayden's score:", student_score["Ayden"])

Ayden's score: 60

In [21]:
a = 60
b = 35

In [22]:
if a > b and b < a:
    print("a is greater than b")

a is greater than b

In [23]:
if a > b and b > a:
    print("a is greater than b")

In [24]:
print(x_value)
print(y_value)

65
25

In [25]:
z_value = x_value + y_value
z_value

90

In [26]:
if x_value > y_value and y_value < z_value:
    
    print("Both conditions are True")

Both conditions are True

In [27]:
a,b

(60, 35)

In [28]:
if a > b or b < a:
    print("At least one of the above conditions is true")

At least one of the above conditions is true

In [29]:
bike_price = 716

In [30]:
bike_is_electric = False

In [31]:
if bike_price > 500 or bike_is_electric:
    print("At least one of the above conditions is true")

At least one of the above conditions is true

In [32]:
if bike_price > 1000 or bike_is_electric:
    print("At least one of the above conditions is true")

In [33]:
if not bike_is_electric:
    print("It's a human-powered bike")

It's a human-powered bike

In [34]:
x = 45
y = 78

In [35]:
if not (x < y):
    print("x is not less than y")

In [36]:
if not (x > y):
    print("x is not greater than y")

x is not greater than y

In [1]:
if 10 < 15:
    
    print("10 is less than 15")

10 is less than 15

In [2]:
if 46 > 40 + 5:
    
    print("46 is greater than 45")

46 is greater than 45

In [3]:
if 46 > 40:
    
print("46 is greater than 40")

IndentationError: expected an indented block (<ipython-input-3-3d53fbde06da>, line 3)

In [4]:
x_value = 65

y_value = 25

In [5]:
if x_value < y_value:
    
    print('Value of x is less than the value of y')

In [6]:
if x_value > y_value:
    
    print('Value of x is greater than the value of y')

Value of x is greater than the value of y

In [7]:
my_string = "Hello python world"

In [8]:
if "python" in my_string:
    
    print('Yes, "python" is in my_string')

Yes, "python" is in my_string

In [9]:
if "pythonworld" in my_string:
    
    print('Yes, "python world" is in my_string')

In [10]:
if "python world" in my_string:
    
    print('Yes, "python world" is in my_string')

Yes, "python world" is in my_string

In [11]:
if "Python World" in my_string:
    
    print('Yes, "python world" is in my_string')

In [12]:
list_student = ["Ayden", "Gavin", "Ian", "Jose", "Jane"]

list_student

['Ayden', 'Gavin', 'Ian', 'Jose', 'Jane']

In [13]:
if "Jose" in list_student:
    
    print("Jose is a student")

Jose is a student

In [14]:
if "Eva" in list_student:
    
    print("Eva is a student")

In [15]:
tuple_teachers = ("Alice", "Alexa", "Robert", "Bella")

tuple_teachers

('Alice', 'Alexa', 'Robert', 'Bella')

In [16]:
if "Alexa" in tuple_teachers:
    
    print("Alexa is a teacher")

Alexa is a teacher

In [17]:
student_score = {"Ayden":60, "Gavin":85, "Ian":76, "Jose":70, "Jane":82}
student_score

{'Ayden': 60, 'Gavin': 85, 'Ian': 76, 'Jose': 70, 'Jane': 82}

In [18]:
if "Ian" in student_score:
    
    print("Ian is in the student_score dictionary")

Ian is in the student_score dictionary

In [19]:
if "Jane" in student_score:
    
    print("Jane's score:", student_score["Jane"])

Jane's score: 82

In [20]:
if "Ayden" in student_score:
    
    print("Ayden's score:", student_score["Ayden"])

Ayden's score: 60

In [21]:
a = 60
b = 35

In [22]:
if a > b and b < a:
    print("a is greater than b")

a is greater than b

In [23]:
if a > b and b > a:
    print("a is greater than b")

In [24]:
print(x_value)
print(y_value)

65
25

In [25]:
z_value = x_value + y_value
z_value

90

In [26]:
if x_value > y_value and y_value < z_value:
    
    print("Both conditions are True")

Both conditions are True

In [27]:
a,b

(60, 35)

In [28]:
if a > b or b < a:
    print("At least one of the above conditions is true")

At least one of the above conditions is true

In [29]:
bike_price = 716

In [30]:
bike_is_electric = False

In [31]:
if bike_price > 500 or bike_is_electric:
    print("At least one of the above conditions is true")

At least one of the above conditions is true

In [32]:
if bike_price > 1000 or bike_is_electric:
    print("At least one of the above conditions is true")

In [33]:
if not bike_is_electric:
    print("It's a human-powered bike")

It's a human-powered bike

In [34]:
x = 45
y = 78

In [35]:
if not (x < y):
    print("x is not less than y")

In [36]:
if not (x > y):
    print("x is not greater than y")

x is not greater than y

In [1]:
if 10 > 20:
    print("10 is greater than 20")
    print("if block activated")
    
else:
    print("10 is less than 20")
    print("else block activated")

10 is less than 20
else block activated

In [2]:
bike_price = 7160
bike_price

7160

In [3]:
if bike_price <= 8000:
    print("It's a cheap bike")
    print("if block activated")
    
else:
    print("It's an expensive bike")
    print("else block activated")

It's a cheap bike
if block activated

In [4]:
bike_price = 9000

if bike_price <= 8000:
    print("It's a cheap bike")
    
    else:
        print("It's an expensive bike")

SyntaxError: invalid syntax (<ipython-input-4-2fa0f571119d>, line 6)

In [5]:
bike_price = 9000

if bike_price <= 8000:
    print("It's a cheap bike")
    
else:
    print("It's an expensive bike")

It's an expensive bike

In [6]:
num = 50
print("num before expression: ", num)

num = num - 20 if num > 20 else num + 20

print("num after expression: ", num)

num before expression:  50
num after expression:  30

In [7]:
num = 50
print("num before expression: ", num)

if num > 20:
    num = num - 20
else:
    num = num + 20

print("num after expression: ", num)

num before expression:  50
num after expression:  30

In [8]:
num = 100
print("Number before expression : ", num)

result = num / 5 if num < 50 else num * 5

print("Number after expression : ", result)

Number before expression :  100
Number after expression :  500

In [9]:
if 15 > 20:
    print("15 is greater than 20")
    print("if block activated")
    
elif 15 < 20:
    print("15 is less than 20")
    print("elif block activated")
    
else:
    print("Both are equal")
    print("else block activated")

15 is less than 20
elif block activated

In [10]:
a = 45
b = 45

if b > a:
    print("b is greater than a")
    print("if block activated")
    
elif a == b:
    print("a and b are equal")
    print("elif block activated")
    
else:
    print("a is greater than b")
    print("else block activated")

a and b are equal
elif block activated

In [11]:
bike_price = 20000

In [12]:
if bike_price < 6000:
    print("It's a cheap bike")
    
elif bike_price >= 6000 and bike_price < 10000:
    print("It's a moderately priced bike")
    
elif bike_price >= 10000 and bike_price < 15000:
    print("It's a somewhat expensive bike")

In [13]:
if bike_price < 6000:
    print("It's a cheap bike")
    
elif bike_price >= 6000 and bike_price < 10000:
    print("It's a moderately priced bike")
    
elif bike_price >= 10000:
    print("It's a somewhat expensive bike")
    
elif bike_price >= 20000:
    print("It's a very expensive bike")

It's a somewhat expensive bike

In [14]:
x = 25
y = 35
z = 45

In [15]:
if x < y:
    print("The first condition is true")
    
    if x < z:
        print("Both conditions are true")
        
    else:
        print("The first condition is true, the second one is false")

The first condition is true
Both conditions are true

In [16]:
x = 55

if x < y:
    print("The first condition is true")
    
    if x < z:
        print("Both conditions are true")
        
    else:
        print("The first condition is true, the second one is false")
        
else:
    print("The first condition is false")

The first condition is false

In [17]:
age = int(input("Enter your age: "))

if age >= 15:
    
    if age > 20:
        print("You are too old for this camping trip!")
        
    else:
        print("You are of the right age for this camping trip!")
        
else:
    print("You are too young for this camping trip!")

Enter your age: 21
You are too old for this camping trip!

In [19]:
total = int(input("What is the total amount of your online shopping? "))
country = input("USA or Canada? ")

if country == "USA":
    if total <= 50:
        print ("Shipping Cost is $9.00")
        
    elif total <= 100:
        print ("Shipping Cost is $6.00")
        
    else:
        print ("Shipping is FREE")
        
if country == "Canada":
    if total <= 50:
        print ("Shipping Cost is $12.00")
        
    elif total <= 100:
        print ("Shipping Cost is $8.00")
   
    else:
        print (" Shipping is FREE")

What is the total amount of your online shopping? 80
USA or Canada? USA
Shipping Cost is $6.00

In [1]:
if 10 > 20:
    print("10 is greater than 20")
    print("if block activated")
    
else:
    print("10 is less than 20")
    print("else block activated")

10 is less than 20
else block activated

In [2]:
bike_price = 7160
bike_price

7160

In [3]:
if bike_price <= 8000:
    print("It's a cheap bike")
    print("if block activated")
    
else:
    print("It's an expensive bike")
    print("else block activated")

It's a cheap bike
if block activated

In [4]:
bike_price = 9000

if bike_price <= 8000:
    print("It's a cheap bike")
    
    else:
        print("It's an expensive bike")

SyntaxError: invalid syntax (<ipython-input-4-2fa0f571119d>, line 6)

In [5]:
bike_price = 9000

if bike_price <= 8000:
    print("It's a cheap bike")
    
else:
    print("It's an expensive bike")

It's an expensive bike

In [6]:
num = 50
print("num before expression: ", num)

num = num - 20 if num > 20 else num + 20

print("num after expression: ", num)

num before expression:  50
num after expression:  30

In [7]:
num = 50
print("num before expression: ", num)

if num > 20:
    num = num - 20
else:
    num = num + 20

print("num after expression: ", num)

num before expression:  50
num after expression:  30

In [8]:
num = 100
print("Number before expression : ", num)

result = num / 5 if num < 50 else num * 5

print("Number after expression : ", result)

Number before expression :  100
Number after expression :  500

In [9]:
if 15 > 20:
    print("15 is greater than 20")
    print("if block activated")
    
elif 15 < 20:
    print("15 is less than 20")
    print("elif block activated")
    
else:
    print("Both are equal")
    print("else block activated")

15 is less than 20
elif block activated

In [10]:
a = 45
b = 45

if b > a:
    print("b is greater than a")
    print("if block activated")
    
elif a == b:
    print("a and b are equal")
    print("elif block activated")
    
else:
    print("a is greater than b")
    print("else block activated")

a and b are equal
elif block activated

In [11]:
bike_price = 20000

In [12]:
if bike_price < 6000:
    print("It's a cheap bike")
    
elif bike_price >= 6000 and bike_price < 10000:
    print("It's a moderately priced bike")
    
elif bike_price >= 10000 and bike_price < 15000:
    print("It's a somewhat expensive bike")

In [13]:
if bike_price < 6000:
    print("It's a cheap bike")
    
elif bike_price >= 6000 and bike_price < 10000:
    print("It's a moderately priced bike")
    
elif bike_price >= 10000:
    print("It's a somewhat expensive bike")
    
elif bike_price >= 20000:
    print("It's a very expensive bike")

It's a somewhat expensive bike

In [14]:
x = 25
y = 35
z = 45

In [15]:
if x < y:
    print("The first condition is true")
    
    if x < z:
        print("Both conditions are true")
        
    else:
        print("The first condition is true, the second one is false")

The first condition is true
Both conditions are true

In [16]:
x = 55

if x < y:
    print("The first condition is true")
    
    if x < z:
        print("Both conditions are true")
        
    else:
        print("The first condition is true, the second one is false")
        
else:
    print("The first condition is false")

The first condition is false

In [17]:
age = int(input("Enter your age: "))

if age >= 15:
    
    if age > 20:
        print("You are too old for this camping trip!")
        
    else:
        print("You are of the right age for this camping trip!")
        
else:
    print("You are too young for this camping trip!")

Enter your age: 21
You are too old for this camping trip!

In [19]:
total = int(input("What is the total amount of your online shopping? "))
country = input("USA or Canada? ")

if country == "USA":
    if total <= 50:
        print ("Shipping Cost is $9.00")
        
    elif total <= 100:
        print ("Shipping Cost is $6.00")
        
    else:
        print ("Shipping is FREE")
        
if country == "Canada":
    if total <= 50:
        print ("Shipping Cost is $12.00")
        
    elif total <= 100:
        print ("Shipping Cost is $8.00")
   
    else:
        print (" Shipping is FREE")

What is the total amount of your online shopping? 80
USA or Canada? USA
Shipping Cost is $6.00

In [1]:
fruit_list = ["apple", "orange", "grape", "banana", "avocado"]

In [2]:
if "grape" in fruit_list:
    print("Yes, grape is in the fruit list")
    
else:
    print("No, grape is not in the fruit list")

Yes, grape is in the fruit list

In [3]:
if "strawberry" in fruit_list:
    print("strawberry is in the fruit list")
    
elif "orange" in fruit_list:
    print("orange is in the fruit list")
    
else:
    print("Both strawberry and orange are not in the fruit list")

orange is in the fruit list

In [4]:
if fruit_list[1] == "orange":
    print("True")
    
else:
    print("False")

True

In [5]:
if fruit_list[4] == "avocado":
    
    print("Yes, avocado is at the fourth index")
    print("Replacing avocado with strawberry at the fourth index")
    
    fruit_list[4] = "strawberry"
    print(fruit_list)
    
else:
    print("avocado is not at the fourth index")

Yes, avocado is at the fourth index
Replacing avocado with strawberry at the fourth index
['apple', 'orange', 'grape', 'banana', 'strawberry']

In [6]:
car_tuple = ('Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla')

In [7]:
if "Honda Accord" in car_tuple:
    print("Honda Accord is present in our car tuple")
    
else:
    print("Honda Accord is not present in our car tuple")

Honda Accord is present in our car tuple

In [8]:
if "Ducati Monster" in car_tuple:
    print("Ducati Monster is a car")
    
else:
    print("Ducati Monster is not a car")

Ducati Monster is not a car

In [9]:
if "Ducati Monster" in car_tuple and 'Honda Accord' in car_tuple:
    
    print("Ducati Monster and Honda Accord are both cars")
    
else:
    print("At least one of Ducati Monster and Honda Accord is not a car")

At least one of Ducati Monster and Honda Accord is not a car

In [10]:
if "Ducati Monster" in car_tuple or 'Honda Accord' in car_tuple:
    print("At least one of Ducati Monster and Honda Accord is a car")
    
else:
    print("Neither Ducati Monster nor Honda Accord is a car")

At least one of Ducati Monster and Honda Accord is a car

In [2]:
salary_details = {"Lisa":25000,
                  "Jason":45000,
                  "Cooper":35000,
                  "Elias":23000,
                  "Jordan":77000}

In [3]:
salary_details

{'Lisa': 25000,
 'Jason': 45000,
 'Cooper': 35000,
 'Elias': 23000,
 'Jordan': 77000}

In [4]:
if "Lisa" in salary_details:
    print("We have the salary details for Lisa")
    
else:
    print("We don't have the salary details for Lisa")

We have the salary details for Lisa

In [14]:
if "Ruby" in salary_details:
    print("We have the salary details for Ruby ")
    
else:
    print("We don't have the salary details for Ruby ")

We don't have the salary details for Ruby

In [15]:
if "Cora" in salary_details:
    print("We have salary details for Cora")
    
else :
    salary_details["Cora"] = 31000
    print("Cora's annual income is %s"%salary_details["Cora"])

Cora's annual income is 31000

In [16]:
salary_details

{'Lisa': 25000,
 'Jason': 45000,
 'Cooper': 35000,
 'Elias': 23000,
 'Jordan': 77000,
 'Cora': 31000}

In [17]:
age_details = {"Lisa": 25, "Jason": 30, "Cooper": 29, "Sarah": 22}

In [18]:
if age_details["Lisa"] < age_details["Jason"]:
    
    print("Jason is older than Lisa")
    
    if age_details["Jason"] > age_details["Cooper"]:
        
        print("Jason is older than Cooper")
        
        if age_details["Cooper"] < age_details["Sarah"]:

             print("Cooper is younger than Sarah")
                
        elif age_details["Cooper"] > age_details["Sarah"]:

             print("Jason is the oldest person in the given dictionary")
            
else:
    print("Jason is not the oldest person in the given dictionary")

Jason is older than Lisa
Jason is older than Cooper
Jason is the oldest person in the given dictionary

In [19]:
details = [['Jane', 'Amanda', 'Emma'], 
           [35, 40, 50], 
           [20000, 50000, 40000]]

In [20]:
max_sal = max(details[2])

if (details[2][1] == max_sal):
        
        if(details[1][1] > 30):
            print(details[0][1], "has the highest salary and her age is greater than 30")
            
        elif(details[1][1] == 30):
            print(details[0][1],"has the highest salary and she is 30 years old")
           
        else:
            print("Amanda has the highest salary and her age is less than 30")
else:
    print("Amanda is not the highest paid employee")

Amanda has the highest salary and her age is greater than 30

In [1]:
type(66)

int

In [2]:
float(66)

66.0

In [3]:
a = 66

type(a)

int

In [4]:
my_float = float(a)

my_float

66.0

In [5]:
type(my_float)

float

In [6]:
type(390.8)

float

In [7]:
int(390.8)

390

In [8]:
b = 66.6

my_int = int(b)

my_int

66

In [9]:
type(b)

float

In [10]:
type(my_int)

int

In [11]:
num_int = 76
num_float = 23.4

print("datatype of num_int:", type(num_int))
print("datatype of num_float:", type(num_float))

datatype of num_int: <class 'int'>
datatype of num_float: <class 'float'>

In [12]:
new_num = num_int + num_float

print(new_num)
print("datatype of new_num is", type(new_num))

99.4
datatype of new_num is <class 'float'>

In [13]:
my_float = 66.999999

In [14]:
my_num = int(my_float)

my_num

66

In [15]:
a = 125.0
b = 390.8

print(int (a))
print(int (b))

125
390

In [16]:
int('12')

12

In [17]:
a = "66"

type(a)

str

In [18]:
my_int = int(a)

my_int

66

In [19]:
type (my_int)

int

In [20]:
num_int = 123
num_str = "456"

print(num_int + num_str)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
print("Data type of num_int:", type(num_int))
print("Data type of num_str:", type(num_str))

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

In [22]:
num_str = int(num_str)

print("Data type of num_str:", type(num_str))

Data type of num_str: <class 'int'>

In [23]:
sum_value = num_int + num_str

print(sum_value)
print("Data type of sum_value:",type(sum_value))

579
Data type of sum_value: <class 'int'>

In [24]:
value_str = "five"

value_int = int(value_str)

ValueError: invalid literal for int() with base 10: 'five'

In [25]:
str(12)

'12'

In [26]:
my_str = str(num_int)
my_str

'123'

In [27]:
my_float = 5524.53

print("John has " + str(my_float) + " points.")

John has 5524.53 points.

In [28]:
user = "John"
lines = 50

print("Congratulations, " + user + "! You just wrote " + lines + " lines of code.")

TypeError: can only concatenate str (not "int") to str

In [29]:
user = "John"
lines = 50

print("Congratulations, " + user + "! You just wrote " + str (lines) + " lines of code.")

Congratulations, John! You just wrote 50 lines of code.

In [30]:
number = input()

plus_ten = number + 10

6

TypeError: can only concatenate str (not "int") to str

In [31]:
type(number)

str

In [32]:
number = int(input())

plus_ten = number + 10

print ("If we add 10 to this number, we get " + plus_ten)

7

TypeError: can only concatenate str (not "int") to str

In [33]:
number = int(input())

plus_ten = number + 10

print ("If we add 10 to this number, we get " + str(plus_ten))

6
If we add 10 to this number, we get 16

In [34]:
number = int(input())
plus_ten = number + 10
plus_twenty = number + 20

print ("\nIf we add 10 and 20 to this number, we get %s and %s " %(plus_ten, plus_twenty))

67

If we add 10 and 20 to this number, we get 77 and 87

In [1]:
old_num = "500"

new_num = "10"

remaining_num = old_num - new_num

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [2]:
type(old_num)

str

In [3]:
int(old_num)

500

In [4]:
type(int(old_num))

int

In [5]:
old_num = "500"
new_num = "10"

remaining_num = int(old_num) - int(new_num)

remaining_num

490

In [6]:
old_code = "40.6"
new_code = "60.8"

total_code = old_code + new_code

total_code

'40.660.8'

In [7]:
old_code = "40.6"
new_code = "60.4"

total_code = float(old_code) + float(new_code)

total_code

101.0

In [8]:
my_float = "4.6"
my_int = "6"

total = float(my_float) + int(my_int)
total

10.6

In [9]:
value_str = "python world"

value_list = list(value_str)
value_list

['p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd']

In [10]:
print('Type of value_str is:', type(value_str))

print('Type of value_list is:', type(value_list))

Type of value_str is: <class 'str'>
Type of value_list is: <class 'list'>

In [11]:
list(1, 2, 3, 4, 5)

TypeError: list expected at most 1 arguments, got 5

In [12]:
list((1, 2, 3, 4, 5))

[1, 2, 3, 4, 5]

In [13]:
my_tuple = ('Apple', 'Orange', 'Mango', 'Banana')

my_tuple

('Apple', 'Orange', 'Mango', 'Banana')

In [14]:
type(my_tuple)

tuple

In [15]:
my_list = list(my_tuple)

my_list

['Apple', 'Orange', 'Mango', 'Banana']

In [16]:
type (my_list)

list

In [17]:
value_str = "python world"

value_tup = tuple(value_str)

value_tup

('p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd')

In [18]:
print('Type of value_str is:', type(value_str))

print('Type of value_tup is:', type(value_tup))

Type of value_str is: <class 'str'>
Type of value_tup is: <class 'tuple'>

In [19]:
tuple(5000)

TypeError: 'int' object is not iterable

In [20]:
my_list = ['Apple', 'Orange', 'Mango', 'Banana']

print(my_list)

['Apple', 'Orange', 'Mango', 'Banana']

In [21]:
type(my_list)

list

In [22]:
my_tuple = tuple(my_list)

print(my_tuple)

('Apple', 'Orange', 'Mango', 'Banana')

In [23]:
type (my_tuple)

tuple

In [24]:
age_list = [['William', 50], ['Henry', 60], ['James', 90]]

age_tuple = tuple(age_list)

age_tuple

(['William', 50], ['Henry', 60], ['James', 90])

In [25]:
age_tuple = tuple(age_list[0])

age_tuple

('William', 50)

In [26]:
print('Type of age_list is:', type(age_list))

print('Type of age_tuple is:', type(age_tuple))

Type of age_list is: <class 'list'>
Type of age_tuple is: <class 'tuple'>

In [27]:
pet_list = [('Dog', 1), ('Cat', 2), ('Cow', 3), ('Goat', 4)]

In [28]:
pet_tuple = tuple(pet_list)

pet_tuple

(('Dog', 1), ('Cat', 2), ('Cow', 3), ('Goat', 4))

In [29]:
age_tuple = ('Leo', 18,
             'Aaron', 25,
             'Easton', 34,
             'Jordan', 30)

In [30]:
age_tuple

('Leo', 18, 'Aaron', 25, 'Easton', 34, 'Jordan', 30)

In [31]:
dict(age_tuple)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [32]:
age_tuple1 = (('Leo', 18),
              ('Aaron', 25),
              ('Easton', 34),
              ('Jordan', 30))


age_tuple1

(('Leo', 18), ('Aaron', 25), ('Easton', 34), ('Jordan', 30))

In [33]:
dict(age_tuple1)

{'Leo': 18, 'Aaron': 25, 'Easton': 34, 'Jordan': 30}

In [34]:
age_tuple2 = (('Leo', 18),
              ('Aaron', 25),
              ('Easton', 34),
              (['Jordan', 'John'], 30))

age_tuple2

(('Leo', 18), ('Aaron', 25), ('Easton', 34), (['Jordan', 'John'], 30))

In [35]:
dict(age_tuple2)

TypeError: unhashable type: 'list'

In [36]:
age_tuple3 = (('Leo', 18),
              ('Aaron', 25),
              ('Easton', 34),
              ('Jordan', ['John', 30]))

age_tuple3

(('Leo', 18), ('Aaron', 25), ('Easton', 34), ('Jordan', ['John', 30]))

In [37]:
dict(age_tuple3)

{'Leo': 18, 'Aaron': 25, 'Easton': 34, 'Jordan': ['John', 30]}

In [38]:
age_list = [['William', 50],
            ['Joanne', 60],
            ['Maria', 90]]

age_dict = dict(age_list)

age_dict

{'William': 50, 'Joanne': 60, 'Maria': 90}

In [39]:
print('Type of age_list is:', type(age_list))

print('Type of age_dict is:', type(age_dict))

Type of age_list is: <class 'list'>
Type of age_dict is: <class 'dict'>

In [40]:
set('apple')

{'a', 'e', 'l', 'p'}

In [41]:
fruit_tuple = ('Apple', 'Orange', 'Mango', 'Banana', 'Banana')

fruit_set = set(fruit_tuple)

fruit_set

{'Apple', 'Banana', 'Mango', 'Orange'}

In [42]:
type(fruit_set)

set

In [43]:
hex(50)

'0x32'

In [44]:
hex(60)

'0x3c'

In [45]:
oct(50)

'0o62'

In [46]:
oct(9)

'0o11'

In [47]:
bin(5)

'0b101'

In [48]:
bin(10)

'0b1010'

In [49]:
int('0b1010',2)

10

In [50]:
int('0b1010', 0)

10

In [51]:
int('0x101', 16)

257

In [52]:
ord('a')

97

In [53]:
ord('A')

65

In [54]:
chr(100)

'd'

In [55]:
chr(97)

'a'

In [56]:
complex(1j)

1j

In [57]:
complex(10)

(10+0j)

In [58]:
complex(1,2)

(1+2j)

In [1]:
old_num = "500"

new_num = "10"

remaining_num = old_num - new_num

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [2]:
type(old_num)

str

In [3]:
int(old_num)

500

In [4]:
type(int(old_num))

int

In [5]:
old_num = "500"
new_num = "10"

remaining_num = int(old_num) - int(new_num)

remaining_num

490

In [6]:
old_code = "40.6"
new_code = "60.8"

total_code = old_code + new_code

total_code

'40.660.8'

In [7]:
old_code = "40.6"
new_code = "60.4"

total_code = float(old_code) + float(new_code)

total_code

101.0

In [8]:
my_float = "4.6"
my_int = "6"

total = float(my_float) + int(my_int)
total

10.6

In [9]:
value_str = "python world"

value_list = list(value_str)
value_list

['p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd']

In [10]:
print('Type of value_str is:', type(value_str))

print('Type of value_list is:', type(value_list))

Type of value_str is: <class 'str'>
Type of value_list is: <class 'list'>

In [11]:
list(1, 2, 3, 4, 5)

TypeError: list expected at most 1 arguments, got 5

In [12]:
list((1, 2, 3, 4, 5))

[1, 2, 3, 4, 5]

In [13]:
my_tuple = ('Apple', 'Orange', 'Mango', 'Banana')

my_tuple

('Apple', 'Orange', 'Mango', 'Banana')

In [14]:
type(my_tuple)

tuple

In [15]:
my_list = list(my_tuple)

my_list

['Apple', 'Orange', 'Mango', 'Banana']

In [16]:
type (my_list)

list

In [17]:
value_str = "python world"

value_tup = tuple(value_str)

value_tup

('p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd')

In [18]:
print('Type of value_str is:', type(value_str))

print('Type of value_tup is:', type(value_tup))

Type of value_str is: <class 'str'>
Type of value_tup is: <class 'tuple'>

In [19]:
tuple(5000)

TypeError: 'int' object is not iterable

In [20]:
my_list = ['Apple', 'Orange', 'Mango', 'Banana']

print(my_list)

['Apple', 'Orange', 'Mango', 'Banana']

In [21]:
type(my_list)

list

In [22]:
my_tuple = tuple(my_list)

print(my_tuple)

('Apple', 'Orange', 'Mango', 'Banana')

In [23]:
type (my_tuple)

tuple

In [24]:
age_list = [['William', 50], ['Henry', 60], ['James', 90]]

age_tuple = tuple(age_list)

age_tuple

(['William', 50], ['Henry', 60], ['James', 90])

In [25]:
age_tuple = tuple(age_list[0])

age_tuple

('William', 50)

In [26]:
print('Type of age_list is:', type(age_list))

print('Type of age_tuple is:', type(age_tuple))

Type of age_list is: <class 'list'>
Type of age_tuple is: <class 'tuple'>

In [27]:
pet_list = [('Dog', 1), ('Cat', 2), ('Cow', 3), ('Goat', 4)]

In [28]:
pet_tuple = tuple(pet_list)

pet_tuple

(('Dog', 1), ('Cat', 2), ('Cow', 3), ('Goat', 4))

In [29]:
age_tuple = ('Leo', 18,
             'Aaron', 25,
             'Easton', 34,
             'Jordan', 30)

In [30]:
age_tuple

('Leo', 18, 'Aaron', 25, 'Easton', 34, 'Jordan', 30)

In [31]:
dict(age_tuple)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [32]:
age_tuple1 = (('Leo', 18),
              ('Aaron', 25),
              ('Easton', 34),
              ('Jordan', 30))


age_tuple1

(('Leo', 18), ('Aaron', 25), ('Easton', 34), ('Jordan', 30))

In [33]:
dict(age_tuple1)

{'Leo': 18, 'Aaron': 25, 'Easton': 34, 'Jordan': 30}

In [34]:
age_tuple2 = (('Leo', 18),
              ('Aaron', 25),
              ('Easton', 34),
              (['Jordan', 'John'], 30))

age_tuple2

(('Leo', 18), ('Aaron', 25), ('Easton', 34), (['Jordan', 'John'], 30))

In [35]:
dict(age_tuple2)

TypeError: unhashable type: 'list'

In [36]:
age_tuple3 = (('Leo', 18),
              ('Aaron', 25),
              ('Easton', 34),
              ('Jordan', ['John', 30]))

age_tuple3

(('Leo', 18), ('Aaron', 25), ('Easton', 34), ('Jordan', ['John', 30]))

In [37]:
dict(age_tuple3)

{'Leo': 18, 'Aaron': 25, 'Easton': 34, 'Jordan': ['John', 30]}

In [38]:
age_list = [['William', 50],
            ['Joanne', 60],
            ['Maria', 90]]

age_dict = dict(age_list)

age_dict

{'William': 50, 'Joanne': 60, 'Maria': 90}

In [39]:
print('Type of age_list is:', type(age_list))

print('Type of age_dict is:', type(age_dict))

Type of age_list is: <class 'list'>
Type of age_dict is: <class 'dict'>

In [40]:
set('apple')

{'a', 'e', 'l', 'p'}

In [41]:
fruit_tuple = ('Apple', 'Orange', 'Mango', 'Banana', 'Banana')

fruit_set = set(fruit_tuple)

fruit_set

{'Apple', 'Banana', 'Mango', 'Orange'}

In [42]:
type(fruit_set)

set

In [43]:
hex(50)

'0x32'

In [44]:
hex(60)

'0x3c'

In [45]:
oct(50)

'0o62'

In [46]:
oct(9)

'0o11'

In [47]:
bin(5)

'0b101'

In [48]:
bin(10)

'0b1010'

In [49]:
int('0b1010',2)

10

In [50]:
int('0b1010', 0)

10

In [51]:
int('0x101', 16)

257

In [52]:
ord('a')

97

In [53]:
ord('A')

65

In [54]:
chr(100)

'd'

In [55]:
chr(97)

'a'

In [56]:
complex(1j)

1j

In [57]:
complex(10)

(10+0j)

In [58]:
complex(1,2)

(1+2j)

In [1]:
salary = int(input("Enter salary amount: "))
expenses = int(input("Enter expenses: "))

savings = salary - expenses

print("My total savings in a month is: ", savings)

Enter salary amount: 700
Enter expenses: 230
My total savings in a month is:  470

In [1]:
first_num = int(input("Enter first variable: "))      
second_num = int(input("Enter second variable: "))    

first_num = first_num + second_num       
second_num = first_num - second_num       
first_num = first_num - second_num       

print ("\nFirst_num is:", first_num , "\nSecond_num is:", second_num)

Enter first variable: 20
Enter second variable: 25

First_num is: 25
Second_num is: 20

In [3]:
num = int(input("Enter a number: "))

temp1 = str(num)                       
temp2 = temp1 + temp1                  
temp3 = temp1 + temp1 + temp1           

total = num + (int(temp2) + int(temp3)) 

print(temp1, '+', temp2, '+', temp3, '=', total)

Enter a number: 12
12 + 1212 + 121212 = 122436

In [1]:
num_1 = int(input("Enter first number: "))
num_2 = int(input("Enter second number: "))

Quotient = int(num_1 / num_2)
print("\nQuotient:", Quotient)
        
Remainder = num_1 % num_2
print("Remainder:", Remainder)

Enter first number: 13
Enter second number: 4

Quotient: 3
Remainder: 1

In [2]:
principle = float(input("Enter the principle amount: "))
time = int(input("Enter the time(years): "))
rate = float(input("Enter the rate: "))

simple_int = (principle * time * rate) / 100

print("The simple interest is:",simple_int)

Enter the principle amount: 800
Enter the time(years): 6
Enter the rate: 3
The simple interest is: 144.0

In [6]:
cm = int(input("Give the height in centimeters: "))
inches = 0.394 * cm
feet = 0.0324 * cm

print ("The length in inches: ", round(inches, 2))
print ("The length in feet: ", round(feet, 2))

Give the height in centimeters: 168
The length in inches:  66.19
The length is feet:  5.44

In [7]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]

print("List of cars before the swap: ", cars_list)

cars_list_temp = cars_list[0]

cars_list[0] = cars_list[2]

cars_list[2] = cars_list_temp

print("List of cars after the swap: ", cars_list)

List of cars before the swap:  ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
List of cars after the swap:  ['Honda Civic', 'Honda Accord', 'Toyota Camry', 'Toyota Corolla']

In [8]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]

print("list of cars before the swap: ", cars_list)

car1 = 1
car2 = 2

cars_list[car1], cars_list[car2] = cars_list[car2], cars_list[car1]

print("list of cars after  the swap: ", cars_list)

list of cars before the swap:  ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
list of cars after  the swap:  ['Toyota Camry', 'Honda Civic', 'Honda Accord', 'Toyota Corolla']

In [4]:
list_student = ["Sofia", "Ella", "Samuel", "Ella", "Aiden", "Sofia"]

print("Student list: ", list_student)

print("Number of Students: ", len(list_student))

student_set = set(list_student)

print("\nNew student list: ", list(student_set))

print("Length of modified students list: ", len(student_set))

print("There are %s duplicate elements"%(len(list_student) - len(student_set)))

Student list:  ['Sofia', 'Ella', 'Samuel', 'Ella', 'Aiden', 'Sofia']
Number of Students:  6

New student list:  ['Ella', 'Samuel', 'Aiden', 'Sofia']
Length of modified students list:  4
There are 2 duplicate elements

In [5]:
list_str = ["Sofia","Ella","Samuel","Ella","Aiden","Sofia"]

len_list_str = len(list_str)

len_set_str = len(set(list_str))

if len_list_str == len_set_str:
    
    print("There are no duplicate elements")
    
else:
    
    print("There are {} duplicate elements".format(len_list_str - len_set_str))

There are 2 duplicate elements

In [11]:
num_value = 50
print("The number stored in num_value is :", num_value)

if not num_value % 2 == 0:
    print("The number is an odd number")
else:
    print("The number is an even number")

The number stored in num_value is : 50
The number is an even number

In [12]:
values = input("Enter some comma separated numbers : ")

list_value = values.split(",")
tuple_value = tuple(list_value)

print("List : ", list_value)
print("Tuple : ", tuple_value)

Enter some comma separated numbers : 12,23,45,56
List :  ['12', '23', '45', '56']
Tuple :  ('12', '23', '45', '56')

In [13]:
list_words = input("Enter some comma separated words : ")

words = list_words.split(",")

new_list_words = sorted(words)

print (new_list_words)

Enter some comma separated words : Kiwi,Apple,Banana
['Apple', 'Banana', 'Kiwi']

what lies behind us and what lies before us are tiny matters compared to what lies within us

In [2]:
sentence = input("Enter some whitespace-separated words : ")

words = sentence.split(" ")

set_of_words = set(words)

sorted_set_of_words = sorted(set_of_words)

print(" ".join(sorted_set_of_words))

Enter some whitespace-separated words : what lies behind us and what lies before us are tiny matters compared to what lies within us
and are before behind compared lies matters tiny to us what within

In [15]:
num_dict = dict()

num_dict[1] = 1
num_dict[2] = 2 ** 2
num_dict[3] = 3 ** 2

print (num_dict)

{1: 1, 2: 4, 3: 9}

In [3]:
string_1 = input("Enter first string: ")

string_2 = input("Enter second string: ")

set_1 = set(string_1)
set_2 = set(string_2)

common_char = set_1.intersection(set_2)

print("\nCommon letters: ", list(common_char))

Enter first string: hello
Enter second string: python

Common letters:  ['h', 'o']

In [7]:
list_num = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

len_of_list = len(list_num)

print("Numbers before slicing: %s" %list_num)
print("Length of numbers before slicing: ", len_of_list)

half = int(len_of_list / 2)

list_num1 = list_num[:half]
list_num2 = list_num[half:]

print("\nFirst half: %s" %list_num1)
print("Second half: %s" %list_num2)

Numbers before slicing: [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
Length of numbers before slicing:  12

First half: [10, 11, 12, 13, 14, 15]
Second half: [16, 17, 18, 19, 20, 21]

In [19]:
num = float(input("Enter a number: "))

if num >= 0:
    
    if num == 0:
        print("Zero")
        
    else:
        print("Positive number")
        
else:
    
    print("Negative number")

Enter a number: -12
Negative number

run this cell twice first with var = 3

the var = 1+2j

In [12]:
var = 3

if (type(var) == int):
    print("Type of the variable is Integer")
    
elif (type(var) == float):
    print("Type of the variable is Float")
    
elif (type(var) == complex):
    print("Type of the variable is Complex")

else:
    print("Type of the variable is Unknown")

Type of the variable is Integer

In [22]:
num = int(input("Enter a number: "))

if (num % 2) == 0:
    
    print("%d is Even" % num)
    
else:
    
    print("%d is Odd" % num)

Enter a number: 59
59 is Odd

In [24]:
num1 = float(input("Enter the first number: "))

operator = input("Operator: ")

num2 = float(input("Enter the second number: "))

if operator == "+":
    print("Addition: ", num1 + num2)

elif operator == "-":
    print("Subtraction: ", num1 - num2)

elif operator == "*":
    print("Multiplication: ", num1 * num2)

elif operator == "/":
    print("Division: ", num1 / num2)
    
else:
    print("This is not a valid operator")

Enter the first number: 12
Operator: /
Enter the second number: 4
Division:  3.0

In [26]:
num_1 = int(input("Enter a number: "))

if num_1 % 5 == 0 and num_1 % 7 == 0:
    print("This number is divisible by both 5 and 7")
    
elif num_1 % 5 == 0:
    print("This number is divisible by 5")
    
elif num_1 % 7 == 0:
    print("This number is divisible by 7")
    
else:
    print("This number is neither divisible by 5 nor 7")

Enter a number: 35
This number is divisible by both 5 and 7

In [28]:
bike_price = int(input('Enter a number: '))

if bike_price < 4000:
    
    print("It's a cheap bike")
    
elif bike_price >= 4000 and bike_price < 7000:
    print("It's a moderately priced bike")
    
elif bike_price >= 7000 and bike_price < 12000:
    print("It's an expensive bike")
    
else:
    print("This bike is very expensive")

Enter a number: 13000
This bike is very expensive

In [29]:
human_age = int(input("Enter dog's age in human years: "))

if human_age < 0:
    print("Age must be a positive number.")
    exit()
    
if human_age <= 2:
    dog_age = human_age * 10.5
    
else:
    dog_age = 21 + (human_age - 2)*4

print("The dog's age in dog years is", dog_age)

Enter dog's age in human years: 3
The dog's age in dog years is 25

In [32]:
letter = input("Enter a letter of the alphabet: ")
letter = letter.lower()

if letter in ('a', 'e', 'i', 'o', 'u'):
    
    print("%s is a vowel." % letter)
    
elif letter == 'y':
    print("Y is ambiguous. It depends where it is used")
    
else:
    print("%s is a consonant." % letter)

Enter a letter of the alphabet: y
Y is ambiguous. It depends where it is used

In [34]:
month_name = input("Enter the name of the Month: ")

if month_name == "February":
    print("No. of days: 28/29 days")
    
elif month_name in ("April", "June", "September", "November"):
    print("No. of days: 30 days")
    
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
    print("No. of days: 31 days")
    
else:
    print("Give a correct month name")

Enter the name of the Month: April
No. of days: 30 days

In [35]:
num_1 = float(input("Enter first number: "))
num_2 = float(input("Enter second number: "))
num_3 = float(input("Enter third number: "))

if num_1 > num_2:
    
    if num_1 < num_3:
        median = num_1
        
    elif num_2 > num_3:
        median = num_2
        
    else:
        median = num_3
        
else:
    if num_1 > num_3:
        median = num_1
        
    elif num_2 < num_3:
        median = num_2
        
    else:
        median = num_3

print("\nThe median is", median)

Enter first number: 34
Enter second number: 23
Enter third number: 45

The median is 34.0

In [38]:
a = int(input("a: "))
b = int(input("b: "))
c = int(input("c: "))

if a == b == c:
    print("Equilateral triangle")
    
elif a == b or b == c or c == a:
    print("Isosceles triangle")
    
else:
    print("\nScalene triangle")

a: 12
b: 12
c: 12
Equilateral triangle

In [40]:
str_value = input("Enter the string: ")

reversed_str = str_value[::-1]

if(str_value == reversed_str):
      print("The string is a palindrome")
        
else:
      print("The string is not a palindrome")

Enter the string: madam
The string is a palindrome

In [42]:
ans = int(input("How many days are there in a leap year? "))
print("You entered:", ans)
    
if ans == 366 :
    print("You have cleared the first level.")
    
    ans = input("\nWhich month has an extra day in a leap year?").lower()
    if ans == "february" :
        
        print("You have cleared the test.")
        
    else :
        
        print("You have failed the test.")
        
else :
    print("Your answer is wrong, please try again.")

How many days are there in a leap year? 366
You entered: 366
You have cleared the first level.

Which month has an extra day in a leap year?february
You have cleared the test.

In [43]:
score = int(input("Enter a score: "))

if score >= 90:
    print("A grade")

elif score >=80:
    print("B grade")

elif score >=70:
    print("C grade")

elif score >= 50:
    print("D grade")

else:
    print("Fail")

Enter a score: 75
C grade

In [1]:
salary = int(input("Enter annual salary: "))

years_service = int(input("Enter years of service: "))

if years_service >= 10: 
    print ("Bonus is: ", .15 * salary)

elif years_service >= 5 and years_service < 10:
    print ("Bonus is: ", .05 * salary)
    
else:
    print ("No bonus")

Enter annual salary: 40000
Enter years of service: 8
Bonus is:  2000.0

In [1]:
salary = int(input("Enter salary amount: "))
expenses = int(input("Enter expenses: "))

savings = salary - expenses

print("My total savings in a month is: ", savings)

Enter salary amount: 700
Enter expenses: 230
My total savings in a month is:  470

In [1]:
first_num = int(input("Enter first variable: "))      
second_num = int(input("Enter second variable: "))    

first_num = first_num + second_num       
second_num = first_num - second_num       
first_num = first_num - second_num       

print ("\nFirst_num is:", first_num , "\nSecond_num is:", second_num)

Enter first variable: 20
Enter second variable: 25

First_num is: 25
Second_num is: 20

In [3]:
num = int(input("Enter a number: "))

temp1 = str(num)                       
temp2 = temp1 + temp1                  
temp3 = temp1 + temp1 + temp1           

total = num + (int(temp2) + int(temp3)) 

print(temp1, '+', temp2, '+', temp3, '=', total)

Enter a number: 12
12 + 1212 + 121212 = 122436

In [1]:
num_1 = int(input("Enter first number: "))
num_2 = int(input("Enter second number: "))

Quotient = int(num_1 / num_2)
print("\nQuotient:", Quotient)
        
Remainder = num_1 % num_2
print("Remainder:", Remainder)

Enter first number: 13
Enter second number: 4

Quotient: 3
Remainder: 1

In [2]:
principle = float(input("Enter the principle amount: "))
time = int(input("Enter the time(years): "))
rate = float(input("Enter the rate: "))

simple_int = (principle * time * rate) / 100

print("The simple interest is:",simple_int)

Enter the principle amount: 800
Enter the time(years): 6
Enter the rate: 3
The simple interest is: 144.0

In [6]:
cm = int(input("Give the height in centimeters: "))
inches = 0.394 * cm
feet = 0.0324 * cm

print ("The length in inches: ", round(inches, 2))
print ("The length in feet: ", round(feet, 2))

Give the height in centimeters: 168
The length in inches:  66.19
The length is feet:  5.44

In [7]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]

print("List of cars before the swap: ", cars_list)

cars_list_temp = cars_list[0]

cars_list[0] = cars_list[2]

cars_list[2] = cars_list_temp

print("List of cars after the swap: ", cars_list)

List of cars before the swap:  ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
List of cars after the swap:  ['Honda Civic', 'Honda Accord', 'Toyota Camry', 'Toyota Corolla']

In [8]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]

print("list of cars before the swap: ", cars_list)

car1 = 1
car2 = 2

cars_list[car1], cars_list[car2] = cars_list[car2], cars_list[car1]

print("list of cars after  the swap: ", cars_list)

list of cars before the swap:  ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
list of cars after  the swap:  ['Toyota Camry', 'Honda Civic', 'Honda Accord', 'Toyota Corolla']

In [4]:
list_student = ["Sofia", "Ella", "Samuel", "Ella", "Aiden", "Sofia"]

print("Student list: ", list_student)

print("Number of Students: ", len(list_student))

student_set = set(list_student)

print("\nNew student list: ", list(student_set))

print("Length of modified students list: ", len(student_set))

print("There are %s duplicate elements"%(len(list_student) - len(student_set)))

Student list:  ['Sofia', 'Ella', 'Samuel', 'Ella', 'Aiden', 'Sofia']
Number of Students:  6

New student list:  ['Ella', 'Samuel', 'Aiden', 'Sofia']
Length of modified students list:  4
There are 2 duplicate elements

In [5]:
list_str = ["Sofia","Ella","Samuel","Ella","Aiden","Sofia"]

len_list_str = len(list_str)

len_set_str = len(set(list_str))

if len_list_str == len_set_str:
    
    print("There are no duplicate elements")
    
else:
    
    print("There are {} duplicate elements".format(len_list_str - len_set_str))

There are 2 duplicate elements

In [11]:
num_value = 50
print("The number stored in num_value is :", num_value)

if not num_value % 2 == 0:
    print("The number is an odd number")
else:
    print("The number is an even number")

The number stored in num_value is : 50
The number is an even number

In [12]:
values = input("Enter some comma separated numbers : ")

list_value = values.split(",")
tuple_value = tuple(list_value)

print("List : ", list_value)
print("Tuple : ", tuple_value)

Enter some comma separated numbers : 12,23,45,56
List :  ['12', '23', '45', '56']
Tuple :  ('12', '23', '45', '56')

In [13]:
list_words = input("Enter some comma separated words : ")

words = list_words.split(",")

new_list_words = sorted(words)

print (new_list_words)

Enter some comma separated words : Kiwi,Apple,Banana
['Apple', 'Banana', 'Kiwi']

what lies behind us and what lies before us are tiny matters compared to what lies within us

In [2]:
sentence = input("Enter some whitespace-separated words : ")

words = sentence.split(" ")

set_of_words = set(words)

sorted_set_of_words = sorted(set_of_words)

print(" ".join(sorted_set_of_words))

Enter some whitespace-separated words : what lies behind us and what lies before us are tiny matters compared to what lies within us
and are before behind compared lies matters tiny to us what within

In [15]:
num_dict = dict()

num_dict[1] = 1
num_dict[2] = 2 ** 2
num_dict[3] = 3 ** 2

print (num_dict)

{1: 1, 2: 4, 3: 9}

In [3]:
string_1 = input("Enter first string: ")

string_2 = input("Enter second string: ")

set_1 = set(string_1)
set_2 = set(string_2)

common_char = set_1.intersection(set_2)

print("\nCommon letters: ", list(common_char))

Enter first string: hello
Enter second string: python

Common letters:  ['h', 'o']

In [7]:
list_num = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

len_of_list = len(list_num)

print("Numbers before slicing: %s" %list_num)
print("Length of numbers before slicing: ", len_of_list)

half = int(len_of_list / 2)

list_num1 = list_num[:half]
list_num2 = list_num[half:]

print("\nFirst half: %s" %list_num1)
print("Second half: %s" %list_num2)

Numbers before slicing: [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
Length of numbers before slicing:  12

First half: [10, 11, 12, 13, 14, 15]
Second half: [16, 17, 18, 19, 20, 21]

In [19]:
num = float(input("Enter a number: "))

if num >= 0:
    
    if num == 0:
        print("Zero")
        
    else:
        print("Positive number")
        
else:
    
    print("Negative number")

Enter a number: -12
Negative number

run this cell twice first with var = 3

the var = 1+2j

In [12]:
var = 3

if (type(var) == int):
    print("Type of the variable is Integer")
    
elif (type(var) == float):
    print("Type of the variable is Float")
    
elif (type(var) == complex):
    print("Type of the variable is Complex")

else:
    print("Type of the variable is Unknown")

Type of the variable is Integer

In [22]:
num = int(input("Enter a number: "))

if (num % 2) == 0:
    
    print("%d is Even" % num)
    
else:
    
    print("%d is Odd" % num)

Enter a number: 59
59 is Odd

In [24]:
num1 = float(input("Enter the first number: "))

operator = input("Operator: ")

num2 = float(input("Enter the second number: "))

if operator == "+":
    print("Addition: ", num1 + num2)

elif operator == "-":
    print("Subtraction: ", num1 - num2)

elif operator == "*":
    print("Multiplication: ", num1 * num2)

elif operator == "/":
    print("Division: ", num1 / num2)
    
else:
    print("This is not a valid operator")

Enter the first number: 12
Operator: /
Enter the second number: 4
Division:  3.0

In [26]:
num_1 = int(input("Enter a number: "))

if num_1 % 5 == 0 and num_1 % 7 == 0:
    print("This number is divisible by both 5 and 7")
    
elif num_1 % 5 == 0:
    print("This number is divisible by 5")
    
elif num_1 % 7 == 0:
    print("This number is divisible by 7")
    
else:
    print("This number is neither divisible by 5 nor 7")

Enter a number: 35
This number is divisible by both 5 and 7

In [28]:
bike_price = int(input('Enter a number: '))

if bike_price < 4000:
    
    print("It's a cheap bike")
    
elif bike_price >= 4000 and bike_price < 7000:
    print("It's a moderately priced bike")
    
elif bike_price >= 7000 and bike_price < 12000:
    print("It's an expensive bike")
    
else:
    print("This bike is very expensive")

Enter a number: 13000
This bike is very expensive

In [29]:
human_age = int(input("Enter dog's age in human years: "))

if human_age < 0:
    print("Age must be a positive number.")
    exit()
    
if human_age <= 2:
    dog_age = human_age * 10.5
    
else:
    dog_age = 21 + (human_age - 2)*4

print("The dog's age in dog years is", dog_age)

Enter dog's age in human years: 3
The dog's age in dog years is 25

In [32]:
letter = input("Enter a letter of the alphabet: ")
letter = letter.lower()

if letter in ('a', 'e', 'i', 'o', 'u'):
    
    print("%s is a vowel." % letter)
    
elif letter == 'y':
    print("Y is ambiguous. It depends where it is used")
    
else:
    print("%s is a consonant." % letter)

Enter a letter of the alphabet: y
Y is ambiguous. It depends where it is used

In [34]:
month_name = input("Enter the name of the Month: ")

if month_name == "February":
    print("No. of days: 28/29 days")
    
elif month_name in ("April", "June", "September", "November"):
    print("No. of days: 30 days")
    
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
    print("No. of days: 31 days")
    
else:
    print("Give a correct month name")

Enter the name of the Month: April
No. of days: 30 days

In [35]:
num_1 = float(input("Enter first number: "))
num_2 = float(input("Enter second number: "))
num_3 = float(input("Enter third number: "))

if num_1 > num_2:
    
    if num_1 < num_3:
        median = num_1
        
    elif num_2 > num_3:
        median = num_2
        
    else:
        median = num_3
        
else:
    if num_1 > num_3:
        median = num_1
        
    elif num_2 < num_3:
        median = num_2
        
    else:
        median = num_3

print("\nThe median is", median)

Enter first number: 34
Enter second number: 23
Enter third number: 45

The median is 34.0

In [38]:
a = int(input("a: "))
b = int(input("b: "))
c = int(input("c: "))

if a == b == c:
    print("Equilateral triangle")
    
elif a == b or b == c or c == a:
    print("Isosceles triangle")
    
else:
    print("\nScalene triangle")

a: 12
b: 12
c: 12
Equilateral triangle

In [40]:
str_value = input("Enter the string: ")

reversed_str = str_value[::-1]

if(str_value == reversed_str):
      print("The string is a palindrome")
        
else:
      print("The string is not a palindrome")

Enter the string: madam
The string is a palindrome

In [42]:
ans = int(input("How many days are there in a leap year? "))
print("You entered:", ans)
    
if ans == 366 :
    print("You have cleared the first level.")
    
    ans = input("\nWhich month has an extra day in a leap year?").lower()
    if ans == "february" :
        
        print("You have cleared the test.")
        
    else :
        
        print("You have failed the test.")
        
else :
    print("Your answer is wrong, please try again.")

How many days are there in a leap year? 366
You entered: 366
You have cleared the first level.

Which month has an extra day in a leap year?february
You have cleared the test.

In [43]:
score = int(input("Enter a score: "))

if score >= 90:
    print("A grade")

elif score >=80:
    print("B grade")

elif score >=70:
    print("C grade")

elif score >= 50:
    print("D grade")

else:
    print("Fail")

Enter a score: 75
C grade

In [1]:
salary = int(input("Enter annual salary: "))

years_service = int(input("Enter years of service: "))

if years_service >= 10: 
    print ("Bonus is: ", .15 * salary)

elif years_service >= 5 and years_service < 10:
    print ("Bonus is: ", .05 * salary)
    
else:
    print ("No bonus")

Enter annual salary: 40000
Enter years of service: 8
Bonus is:  2000.0

In [1]:
salary = int(input("Enter salary amount: "))
expenses = int(input("Enter expenses: "))

savings = salary - expenses

print("My total savings in a month is: ", savings)

Enter salary amount: 700
Enter expenses: 230
My total savings in a month is:  470

In [1]:
first_num = int(input("Enter first variable: "))      
second_num = int(input("Enter second variable: "))    

first_num = first_num + second_num       
second_num = first_num - second_num       
first_num = first_num - second_num       

print ("\nFirst_num is:", first_num , "\nSecond_num is:", second_num)

Enter first variable: 20
Enter second variable: 25

First_num is: 25
Second_num is: 20

In [3]:
num = int(input("Enter a number: "))

temp1 = str(num)                       
temp2 = temp1 + temp1                  
temp3 = temp1 + temp1 + temp1           

total = num + (int(temp2) + int(temp3)) 

print(temp1, '+', temp2, '+', temp3, '=', total)

Enter a number: 12
12 + 1212 + 121212 = 122436

In [1]:
num_1 = int(input("Enter first number: "))
num_2 = int(input("Enter second number: "))

Quotient = int(num_1 / num_2)
print("\nQuotient:", Quotient)
        
Remainder = num_1 % num_2
print("Remainder:", Remainder)

Enter first number: 13
Enter second number: 4

Quotient: 3
Remainder: 1

In [2]:
principle = float(input("Enter the principle amount: "))
time = int(input("Enter the time(years): "))
rate = float(input("Enter the rate: "))

simple_int = (principle * time * rate) / 100

print("The simple interest is:",simple_int)

Enter the principle amount: 800
Enter the time(years): 6
Enter the rate: 3
The simple interest is: 144.0

In [6]:
cm = int(input("Give the height in centimeters: "))
inches = 0.394 * cm
feet = 0.0324 * cm

print ("The length in inches: ", round(inches, 2))
print ("The length in feet: ", round(feet, 2))

Give the height in centimeters: 168
The length in inches:  66.19
The length is feet:  5.44

In [7]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]

print("List of cars before the swap: ", cars_list)

cars_list_temp = cars_list[0]

cars_list[0] = cars_list[2]

cars_list[2] = cars_list_temp

print("List of cars after the swap: ", cars_list)

List of cars before the swap:  ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
List of cars after the swap:  ['Honda Civic', 'Honda Accord', 'Toyota Camry', 'Toyota Corolla']

In [8]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]

print("list of cars before the swap: ", cars_list)

car1 = 1
car2 = 2

cars_list[car1], cars_list[car2] = cars_list[car2], cars_list[car1]

print("list of cars after  the swap: ", cars_list)

list of cars before the swap:  ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
list of cars after  the swap:  ['Toyota Camry', 'Honda Civic', 'Honda Accord', 'Toyota Corolla']

In [4]:
list_student = ["Sofia", "Ella", "Samuel", "Ella", "Aiden", "Sofia"]

print("Student list: ", list_student)

print("Number of Students: ", len(list_student))

student_set = set(list_student)

print("\nNew student list: ", list(student_set))

print("Length of modified students list: ", len(student_set))

print("There are %s duplicate elements"%(len(list_student) - len(student_set)))

Student list:  ['Sofia', 'Ella', 'Samuel', 'Ella', 'Aiden', 'Sofia']
Number of Students:  6

New student list:  ['Ella', 'Samuel', 'Aiden', 'Sofia']
Length of modified students list:  4
There are 2 duplicate elements

In [5]:
list_str = ["Sofia","Ella","Samuel","Ella","Aiden","Sofia"]

len_list_str = len(list_str)

len_set_str = len(set(list_str))

if len_list_str == len_set_str:
    
    print("There are no duplicate elements")
    
else:
    
    print("There are {} duplicate elements".format(len_list_str - len_set_str))

There are 2 duplicate elements

In [11]:
num_value = 50
print("The number stored in num_value is :", num_value)

if not num_value % 2 == 0:
    print("The number is an odd number")
else:
    print("The number is an even number")

The number stored in num_value is : 50
The number is an even number

In [12]:
values = input("Enter some comma separated numbers : ")

list_value = values.split(",")
tuple_value = tuple(list_value)

print("List : ", list_value)
print("Tuple : ", tuple_value)

Enter some comma separated numbers : 12,23,45,56
List :  ['12', '23', '45', '56']
Tuple :  ('12', '23', '45', '56')

In [13]:
list_words = input("Enter some comma separated words : ")

words = list_words.split(",")

new_list_words = sorted(words)

print (new_list_words)

Enter some comma separated words : Kiwi,Apple,Banana
['Apple', 'Banana', 'Kiwi']

what lies behind us and what lies before us are tiny matters compared to what lies within us

In [2]:
sentence = input("Enter some whitespace-separated words : ")

words = sentence.split(" ")

set_of_words = set(words)

sorted_set_of_words = sorted(set_of_words)

print(" ".join(sorted_set_of_words))

Enter some whitespace-separated words : what lies behind us and what lies before us are tiny matters compared to what lies within us
and are before behind compared lies matters tiny to us what within

In [15]:
num_dict = dict()

num_dict[1] = 1
num_dict[2] = 2 ** 2
num_dict[3] = 3 ** 2

print (num_dict)

{1: 1, 2: 4, 3: 9}

In [3]:
string_1 = input("Enter first string: ")

string_2 = input("Enter second string: ")

set_1 = set(string_1)
set_2 = set(string_2)

common_char = set_1.intersection(set_2)

print("\nCommon letters: ", list(common_char))

Enter first string: hello
Enter second string: python

Common letters:  ['h', 'o']

In [7]:
list_num = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

len_of_list = len(list_num)

print("Numbers before slicing: %s" %list_num)
print("Length of numbers before slicing: ", len_of_list)

half = int(len_of_list / 2)

list_num1 = list_num[:half]
list_num2 = list_num[half:]

print("\nFirst half: %s" %list_num1)
print("Second half: %s" %list_num2)

Numbers before slicing: [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
Length of numbers before slicing:  12

First half: [10, 11, 12, 13, 14, 15]
Second half: [16, 17, 18, 19, 20, 21]

In [19]:
num = float(input("Enter a number: "))

if num >= 0:
    
    if num == 0:
        print("Zero")
        
    else:
        print("Positive number")
        
else:
    
    print("Negative number")

Enter a number: -12
Negative number

run this cell twice first with var = 3

the var = 1+2j

In [12]:
var = 3

if (type(var) == int):
    print("Type of the variable is Integer")
    
elif (type(var) == float):
    print("Type of the variable is Float")
    
elif (type(var) == complex):
    print("Type of the variable is Complex")

else:
    print("Type of the variable is Unknown")

Type of the variable is Integer

In [22]:
num = int(input("Enter a number: "))

if (num % 2) == 0:
    
    print("%d is Even" % num)
    
else:
    
    print("%d is Odd" % num)

Enter a number: 59
59 is Odd

In [24]:
num1 = float(input("Enter the first number: "))

operator = input("Operator: ")

num2 = float(input("Enter the second number: "))

if operator == "+":
    print("Addition: ", num1 + num2)

elif operator == "-":
    print("Subtraction: ", num1 - num2)

elif operator == "*":
    print("Multiplication: ", num1 * num2)

elif operator == "/":
    print("Division: ", num1 / num2)
    
else:
    print("This is not a valid operator")

Enter the first number: 12
Operator: /
Enter the second number: 4
Division:  3.0

In [26]:
num_1 = int(input("Enter a number: "))

if num_1 % 5 == 0 and num_1 % 7 == 0:
    print("This number is divisible by both 5 and 7")
    
elif num_1 % 5 == 0:
    print("This number is divisible by 5")
    
elif num_1 % 7 == 0:
    print("This number is divisible by 7")
    
else:
    print("This number is neither divisible by 5 nor 7")

Enter a number: 35
This number is divisible by both 5 and 7

In [28]:
bike_price = int(input('Enter a number: '))

if bike_price < 4000:
    
    print("It's a cheap bike")
    
elif bike_price >= 4000 and bike_price < 7000:
    print("It's a moderately priced bike")
    
elif bike_price >= 7000 and bike_price < 12000:
    print("It's an expensive bike")
    
else:
    print("This bike is very expensive")

Enter a number: 13000
This bike is very expensive

In [29]:
human_age = int(input("Enter dog's age in human years: "))

if human_age < 0:
    print("Age must be a positive number.")
    exit()
    
if human_age <= 2:
    dog_age = human_age * 10.5
    
else:
    dog_age = 21 + (human_age - 2)*4

print("The dog's age in dog years is", dog_age)

Enter dog's age in human years: 3
The dog's age in dog years is 25

In [32]:
letter = input("Enter a letter of the alphabet: ")
letter = letter.lower()

if letter in ('a', 'e', 'i', 'o', 'u'):
    
    print("%s is a vowel." % letter)
    
elif letter == 'y':
    print("Y is ambiguous. It depends where it is used")
    
else:
    print("%s is a consonant." % letter)

Enter a letter of the alphabet: y
Y is ambiguous. It depends where it is used

In [34]:
month_name = input("Enter the name of the Month: ")

if month_name == "February":
    print("No. of days: 28/29 days")
    
elif month_name in ("April", "June", "September", "November"):
    print("No. of days: 30 days")
    
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
    print("No. of days: 31 days")
    
else:
    print("Give a correct month name")

Enter the name of the Month: April
No. of days: 30 days

In [35]:
num_1 = float(input("Enter first number: "))
num_2 = float(input("Enter second number: "))
num_3 = float(input("Enter third number: "))

if num_1 > num_2:
    
    if num_1 < num_3:
        median = num_1
        
    elif num_2 > num_3:
        median = num_2
        
    else:
        median = num_3
        
else:
    if num_1 > num_3:
        median = num_1
        
    elif num_2 < num_3:
        median = num_2
        
    else:
        median = num_3

print("\nThe median is", median)

Enter first number: 34
Enter second number: 23
Enter third number: 45

The median is 34.0

In [38]:
a = int(input("a: "))
b = int(input("b: "))
c = int(input("c: "))

if a == b == c:
    print("Equilateral triangle")
    
elif a == b or b == c or c == a:
    print("Isosceles triangle")
    
else:
    print("\nScalene triangle")

a: 12
b: 12
c: 12
Equilateral triangle

In [40]:
str_value = input("Enter the string: ")

reversed_str = str_value[::-1]

if(str_value == reversed_str):
      print("The string is a palindrome")
        
else:
      print("The string is not a palindrome")

Enter the string: madam
The string is a palindrome

In [42]:
ans = int(input("How many days are there in a leap year? "))
print("You entered:", ans)
    
if ans == 366 :
    print("You have cleared the first level.")
    
    ans = input("\nWhich month has an extra day in a leap year?").lower()
    if ans == "february" :
        
        print("You have cleared the test.")
        
    else :
        
        print("You have failed the test.")
        
else :
    print("Your answer is wrong, please try again.")

How many days are there in a leap year? 366
You entered: 366
You have cleared the first level.

Which month has an extra day in a leap year?february
You have cleared the test.

In [43]:
score = int(input("Enter a score: "))

if score >= 90:
    print("A grade")

elif score >=80:
    print("B grade")

elif score >=70:
    print("C grade")

elif score >= 50:
    print("D grade")

else:
    print("Fail")

Enter a score: 75
C grade

In [1]:
salary = int(input("Enter annual salary: "))

years_service = int(input("Enter years of service: "))

if years_service >= 10: 
    print ("Bonus is: ", .15 * salary)

elif years_service >= 5 and years_service < 10:
    print ("Bonus is: ", .05 * salary)
    
else:
    print ("No bonus")

Enter annual salary: 40000
Enter years of service: 8
Bonus is:  2000.0

In [1]:
salary = int(input("Enter salary amount: "))
expenses = int(input("Enter expenses: "))

savings = salary - expenses

print("My total savings in a month is: ", savings)

Enter salary amount: 700
Enter expenses: 230
My total savings in a month is:  470

In [1]:
first_num = int(input("Enter first variable: "))      
second_num = int(input("Enter second variable: "))    

first_num = first_num + second_num       
second_num = first_num - second_num       
first_num = first_num - second_num       

print ("\nFirst_num is:", first_num , "\nSecond_num is:", second_num)

Enter first variable: 20
Enter second variable: 25

First_num is: 25
Second_num is: 20

In [3]:
num = int(input("Enter a number: "))

temp1 = str(num)                       
temp2 = temp1 + temp1                  
temp3 = temp1 + temp1 + temp1           

total = num + (int(temp2) + int(temp3)) 

print(temp1, '+', temp2, '+', temp3, '=', total)

Enter a number: 12
12 + 1212 + 121212 = 122436

In [1]:
num_1 = int(input("Enter first number: "))
num_2 = int(input("Enter second number: "))

Quotient = int(num_1 / num_2)
print("\nQuotient:", Quotient)
        
Remainder = num_1 % num_2
print("Remainder:", Remainder)

Enter first number: 13
Enter second number: 4

Quotient: 3
Remainder: 1

In [2]:
principle = float(input("Enter the principle amount: "))
time = int(input("Enter the time(years): "))
rate = float(input("Enter the rate: "))

simple_int = (principle * time * rate) / 100

print("The simple interest is:",simple_int)

Enter the principle amount: 800
Enter the time(years): 6
Enter the rate: 3
The simple interest is: 144.0

In [6]:
cm = int(input("Give the height in centimeters: "))
inches = 0.394 * cm
feet = 0.0324 * cm

print ("The length in inches: ", round(inches, 2))
print ("The length in feet: ", round(feet, 2))

Give the height in centimeters: 168
The length in inches:  66.19
The length is feet:  5.44

In [7]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]

print("List of cars before the swap: ", cars_list)

cars_list_temp = cars_list[0]

cars_list[0] = cars_list[2]

cars_list[2] = cars_list_temp

print("List of cars after the swap: ", cars_list)

List of cars before the swap:  ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
List of cars after the swap:  ['Honda Civic', 'Honda Accord', 'Toyota Camry', 'Toyota Corolla']

In [8]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]

print("list of cars before the swap: ", cars_list)

car1 = 1
car2 = 2

cars_list[car1], cars_list[car2] = cars_list[car2], cars_list[car1]

print("list of cars after  the swap: ", cars_list)

list of cars before the swap:  ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
list of cars after  the swap:  ['Toyota Camry', 'Honda Civic', 'Honda Accord', 'Toyota Corolla']

In [4]:
list_student = ["Sofia", "Ella", "Samuel", "Ella", "Aiden", "Sofia"]

print("Student list: ", list_student)

print("Number of Students: ", len(list_student))

student_set = set(list_student)

print("\nNew student list: ", list(student_set))

print("Length of modified students list: ", len(student_set))

print("There are %s duplicate elements"%(len(list_student) - len(student_set)))

Student list:  ['Sofia', 'Ella', 'Samuel', 'Ella', 'Aiden', 'Sofia']
Number of Students:  6

New student list:  ['Ella', 'Samuel', 'Aiden', 'Sofia']
Length of modified students list:  4
There are 2 duplicate elements

In [5]:
list_str = ["Sofia","Ella","Samuel","Ella","Aiden","Sofia"]

len_list_str = len(list_str)

len_set_str = len(set(list_str))

if len_list_str == len_set_str:
    
    print("There are no duplicate elements")
    
else:
    
    print("There are {} duplicate elements".format(len_list_str - len_set_str))

There are 2 duplicate elements

In [11]:
num_value = 50
print("The number stored in num_value is :", num_value)

if not num_value % 2 == 0:
    print("The number is an odd number")
else:
    print("The number is an even number")

The number stored in num_value is : 50
The number is an even number

In [12]:
values = input("Enter some comma separated numbers : ")

list_value = values.split(",")
tuple_value = tuple(list_value)

print("List : ", list_value)
print("Tuple : ", tuple_value)

Enter some comma separated numbers : 12,23,45,56
List :  ['12', '23', '45', '56']
Tuple :  ('12', '23', '45', '56')

In [13]:
list_words = input("Enter some comma separated words : ")

words = list_words.split(",")

new_list_words = sorted(words)

print (new_list_words)

Enter some comma separated words : Kiwi,Apple,Banana
['Apple', 'Banana', 'Kiwi']

what lies behind us and what lies before us are tiny matters compared to what lies within us

In [2]:
sentence = input("Enter some whitespace-separated words : ")

words = sentence.split(" ")

set_of_words = set(words)

sorted_set_of_words = sorted(set_of_words)

print(" ".join(sorted_set_of_words))

Enter some whitespace-separated words : what lies behind us and what lies before us are tiny matters compared to what lies within us
and are before behind compared lies matters tiny to us what within

In [15]:
num_dict = dict()

num_dict[1] = 1
num_dict[2] = 2 ** 2
num_dict[3] = 3 ** 2

print (num_dict)

{1: 1, 2: 4, 3: 9}

In [3]:
string_1 = input("Enter first string: ")

string_2 = input("Enter second string: ")

set_1 = set(string_1)
set_2 = set(string_2)

common_char = set_1.intersection(set_2)

print("\nCommon letters: ", list(common_char))

Enter first string: hello
Enter second string: python

Common letters:  ['h', 'o']

In [7]:
list_num = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

len_of_list = len(list_num)

print("Numbers before slicing: %s" %list_num)
print("Length of numbers before slicing: ", len_of_list)

half = int(len_of_list / 2)

list_num1 = list_num[:half]
list_num2 = list_num[half:]

print("\nFirst half: %s" %list_num1)
print("Second half: %s" %list_num2)

Numbers before slicing: [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
Length of numbers before slicing:  12

First half: [10, 11, 12, 13, 14, 15]
Second half: [16, 17, 18, 19, 20, 21]

In [19]:
num = float(input("Enter a number: "))

if num >= 0:
    
    if num == 0:
        print("Zero")
        
    else:
        print("Positive number")
        
else:
    
    print("Negative number")

Enter a number: -12
Negative number

run this cell twice first with var = 3

the var = 1+2j

In [12]:
var = 3

if (type(var) == int):
    print("Type of the variable is Integer")
    
elif (type(var) == float):
    print("Type of the variable is Float")
    
elif (type(var) == complex):
    print("Type of the variable is Complex")

else:
    print("Type of the variable is Unknown")

Type of the variable is Integer

In [22]:
num = int(input("Enter a number: "))

if (num % 2) == 0:
    
    print("%d is Even" % num)
    
else:
    
    print("%d is Odd" % num)

Enter a number: 59
59 is Odd

In [24]:
num1 = float(input("Enter the first number: "))

operator = input("Operator: ")

num2 = float(input("Enter the second number: "))

if operator == "+":
    print("Addition: ", num1 + num2)

elif operator == "-":
    print("Subtraction: ", num1 - num2)

elif operator == "*":
    print("Multiplication: ", num1 * num2)

elif operator == "/":
    print("Division: ", num1 / num2)
    
else:
    print("This is not a valid operator")

Enter the first number: 12
Operator: /
Enter the second number: 4
Division:  3.0

In [26]:
num_1 = int(input("Enter a number: "))

if num_1 % 5 == 0 and num_1 % 7 == 0:
    print("This number is divisible by both 5 and 7")
    
elif num_1 % 5 == 0:
    print("This number is divisible by 5")
    
elif num_1 % 7 == 0:
    print("This number is divisible by 7")
    
else:
    print("This number is neither divisible by 5 nor 7")

Enter a number: 35
This number is divisible by both 5 and 7

In [28]:
bike_price = int(input('Enter a number: '))

if bike_price < 4000:
    
    print("It's a cheap bike")
    
elif bike_price >= 4000 and bike_price < 7000:
    print("It's a moderately priced bike")
    
elif bike_price >= 7000 and bike_price < 12000:
    print("It's an expensive bike")
    
else:
    print("This bike is very expensive")

Enter a number: 13000
This bike is very expensive

In [29]:
human_age = int(input("Enter dog's age in human years: "))

if human_age < 0:
    print("Age must be a positive number.")
    exit()
    
if human_age <= 2:
    dog_age = human_age * 10.5
    
else:
    dog_age = 21 + (human_age - 2)*4

print("The dog's age in dog years is", dog_age)

Enter dog's age in human years: 3
The dog's age in dog years is 25

In [32]:
letter = input("Enter a letter of the alphabet: ")
letter = letter.lower()

if letter in ('a', 'e', 'i', 'o', 'u'):
    
    print("%s is a vowel." % letter)
    
elif letter == 'y':
    print("Y is ambiguous. It depends where it is used")
    
else:
    print("%s is a consonant." % letter)

Enter a letter of the alphabet: y
Y is ambiguous. It depends where it is used

In [34]:
month_name = input("Enter the name of the Month: ")

if month_name == "February":
    print("No. of days: 28/29 days")
    
elif month_name in ("April", "June", "September", "November"):
    print("No. of days: 30 days")
    
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
    print("No. of days: 31 days")
    
else:
    print("Give a correct month name")

Enter the name of the Month: April
No. of days: 30 days

In [35]:
num_1 = float(input("Enter first number: "))
num_2 = float(input("Enter second number: "))
num_3 = float(input("Enter third number: "))

if num_1 > num_2:
    
    if num_1 < num_3:
        median = num_1
        
    elif num_2 > num_3:
        median = num_2
        
    else:
        median = num_3
        
else:
    if num_1 > num_3:
        median = num_1
        
    elif num_2 < num_3:
        median = num_2
        
    else:
        median = num_3

print("\nThe median is", median)

Enter first number: 34
Enter second number: 23
Enter third number: 45

The median is 34.0

In [38]:
a = int(input("a: "))
b = int(input("b: "))
c = int(input("c: "))

if a == b == c:
    print("Equilateral triangle")
    
elif a == b or b == c or c == a:
    print("Isosceles triangle")
    
else:
    print("\nScalene triangle")

a: 12
b: 12
c: 12
Equilateral triangle

In [40]:
str_value = input("Enter the string: ")

reversed_str = str_value[::-1]

if(str_value == reversed_str):
      print("The string is a palindrome")
        
else:
      print("The string is not a palindrome")

Enter the string: madam
The string is a palindrome

In [42]:
ans = int(input("How many days are there in a leap year? "))
print("You entered:", ans)
    
if ans == 366 :
    print("You have cleared the first level.")
    
    ans = input("\nWhich month has an extra day in a leap year?").lower()
    if ans == "february" :
        
        print("You have cleared the test.")
        
    else :
        
        print("You have failed the test.")
        
else :
    print("Your answer is wrong, please try again.")

How many days are there in a leap year? 366
You entered: 366
You have cleared the first level.

Which month has an extra day in a leap year?february
You have cleared the test.

In [43]:
score = int(input("Enter a score: "))

if score >= 90:
    print("A grade")

elif score >=80:
    print("B grade")

elif score >=70:
    print("C grade")

elif score >= 50:
    print("D grade")

else:
    print("Fail")

Enter a score: 75
C grade

In [1]:
salary = int(input("Enter annual salary: "))

years_service = int(input("Enter years of service: "))

if years_service >= 10: 
    print ("Bonus is: ", .15 * salary)

elif years_service >= 5 and years_service < 10:
    print ("Bonus is: ", .05 * salary)
    
else:
    print ("No bonus")

Enter annual salary: 40000
Enter years of service: 8
Bonus is:  2000.0