#### Break Keyword

* The `break` keyword is used to break out a `for loop`

End the loop val is equals to n

In [ ]:
for letter in "python":
    if letter == "o":
        
        break
    print(letter)

p
y
t
h

In [ ]:
for letter in "python":
    print(letter)
    
    if letter == "o":
        break

p
y
t
h
o

In [ ]:
for char in 'icecream':
    if char == 'c':
        
        print ('The letter %s was found in the string' % char)
        break
else:
    print('The letter %s does not exist in the string' % char)

The letter c was found in the string

In [ ]:
for num in [3, 11, 22, 35, 90]:
    print (num)
    
    if (num == 22):
        print ("The number %d has been found" % num )
        print ("Terminating the loop...")
        
        break

3
11
22
The number 22 has been found
Terminating the loop...

#### Break statement using range

In [ ]:
for i in range (5):
    
    if i == 4:
        break
        
    print(i)

0
1
2
3

End the loop if i is larger than num

In [ ]:
for i in range (1, 10):
    
    if i >= 5:
        break 
        
    print(i, "is less than 5")

1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5

Print the number to the power of 2

In [ ]:
my_list = range(10)
 
for num in my_list:
    if num ** 2 > 20:
         
        break
        
    print(num, "square", num ** 2 )

0 square 0
1 square 1
2 square 4
3 square 9
4 square 16

* Here the variable number is initialized 0.  Then a for statement constructs the loop which executes as long as the variable is less than 10.
* Within the for loop, the number increases incrementally by 1 with each pass
* Then if statement presents the condition that if the variable is equivalent to the integer 5,then the loop will break
* Print() statement within loop will execute with each iteration until the loop breaks, since it is after the break statement
* When we are out of the loop, we have included a final print() statement outside of the for loop.

In [ ]:
number = 0

for number in range (10):
    
    number = number + 1     
    
    if number == 5:
        break
        
    print ("number is: " + str(number)) 
    
print ("we are out of the loop")

number is: 1
number is: 2
number is: 3
number is: 4
we are out of the loop

Here we have small change within the for loop the `i` variable increses incrementally by `i` value not 1.

Here we can see break statement is not applying because when we pass the itereation each time that number incrementing with i that means, in if statemet number is 3 and i is 3 (number + i)it will give you output is 6, not 5 that's why here that output is coming upto range 10.

Print 'Odd Numbers Between', start and End

In [ ]:
start = 0
end = 10

print ("odd numbers between",start, "and", end, "are:")

for i in range (start, end + 1):
    
    if (i % 2) != 0:
        print (i)
        
    if i == 7:
        break

odd numbers between 0 and 10 are:
1
3
5
7

Find the sum of first five integers

In [ ]:
num_tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90)

sum_num = 0
count = 0

for num in num_tuple:
    
    sum_num = sum_num + num
    print("at index", count, " the sum is", sum_num)
    
    count = count + 1
    
    if count == 5:
        break
print ("the sum of first", count, "integers is:", sum_num)

at index 0  the sum is 10
at index 1  the sum is 30
at index 2  the sum is 60
at index 3  the sum is 100
at index 4  the sum is 150
the sum of first 5 integers is: 150

#### The else clause! After the loop is completed, and has not encountered a break statement, it will run the code in else. However, if the loop is broken out of manually, it will skip the else altogether.

Since 'Mali' was not in the list, we see the message "The villain got away agian.  'If we change the value of villain_at to Norway, we will see 'Villain captured!' instead. 
code got from https://dev.to/codemouse92/dead-simple-python-loops-and-iterators-15bp

In [ ]:
places = ["New Zealand", "Norway", "Botswana", "Zimbabwe", "Uzbekistan", "Paraguay"]

villain_at = "Mali"  

for place in places:
    if place == villain_at:
        
        print("The Villain has been captured!")
        break
else:
    print("The villain got away :(")

The villain got away :(

In [ ]:
places = ["New Zealand", "Norway", "Botswana", "Zimbabwe", "Uzbekistan", "Paraguay"]

villain_at = "Norway"  

for place in places:
    if place == villain_at:
        
        print("The Villain has been captured!")
        break
else:
    print("The villain got away :(")

The Villain has been captured!

Run this once with Apple and once with Mango

In [ ]:
list_of_fruits = ["Apple", "Watermelon", "Orange", "Papaya", "Kiwi"]

In [ ]:
fruit = input("Enter a fruit: ")

for i in list_of_fruits:
    
    if i == fruit:
        
        print("The fruit was found in the list")
        break
        
else:
    print ("The fruit was not found")

Enter a fruit: Mango
The fruit was not found

Finding prime number

In [ ]:
num = int(input("Enter a number: "))

for i in range(2, num//2):
    if num % i == 0:
        
        print("It is not a prime number")
        break
        
else:
    print(num,"is a prime number")

Enter a number: 6
It is not a prime number

Find Prime numbers with given range(10 to 20)

Here the list is defined and the user is asked to input a number if the number is found then it will report that it is found otherwise it will say not found

# technically correct?

In [ ]:
id_number = [1, 3, 6, 5, 2, 7, 4]
print (id_number)

x = int (input("\nEnter a number: "))

for i in range (len(id_number)):
    if x == id_number[i]:
        break
        
if i < len(id_number) - 1:
    print (x, "found at index:", i )
    
else:
    print (x,"is not in the list")

[1, 3, 6, 5, 2, 7, 4]

Enter a number: 5
5 found at index: 3

first enter 3 wrong guesses then run again and pass correct password

In [ ]:
for i in range(3):
    password = str(input("Enter a password: "))
    
    if password == "secret":
        print ("you guessed the password :)")
        break
        
else:
    print ("3 incorrect password attempts")

Enter a password: secret
you guessed the password :)

first check gor great then for level

In [ ]:
my_str = input("Enter a string: ")
length = len(my_str)
start = 0
end = int(length // 2 + 1)

for i in range(start, end):
    if my_str[i] == my_str[-i -1]:
        
        i = i + 1
        
    else:
        break
        
if i < (length / 2):
    print("This is not a palindrome")
    
else:
    print ("This is a palindrome")

Enter a string: madam
This is a palindrome

* Here the variable number is initialized 0.  Then a for statement constructs the loop which executes as long as the variable is less than 10.
* Within the for loop, the number increases incrementally by 1 with each pass
* Then if statement presents the condition that if the variable is equivalent to the integer 5,then the loop will break
* Print() statement within loop will execute with each iteration until the loop breaks, since it is after the break statement
* When we are out of the loop, we have included a final print() statement outside of the for loop.

Here we have small change within the for loop the `i` variable increses incrementally by `i` value not 1.

Here we can see break statement is not applying because when we pass the itereation each time that number incrementing with i that means, in if statemet number is 3 and i is 3 (number + i)it will give you output is 6, not 5 that's why here that output is coming upto range 10.

In [40]:
num_tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90)

sum_num = 0
count = 0

for num in num_tuple:
    
    sum_num = sum_num + num
    print("at index", count, " the sum is", sum_num)
    
    count = count + 1
    
    if count == 5:
        break
print ("the sum of first", count, "integers is:", sum_num)

at index 0  the sum is 10
at index 1  the sum is 30
at index 2  the sum is 60
at index 3  the sum is 100
at index 4  the sum is 150
the sum of first 5 integers is: 150

#### The else clause! After the loop is completed, and has not encountered a break statement, it will run the code in else. However, if the loop is broken out of manually, it will skip the else altogether.

#### Continue keyword
* The continue statement is used to skip the rest of the code inside a loop for the current iteration only.
* Loop does not terminate but continues on with the next iteration.

Here letter `i` is skipped

In [ ]:
for letter in "string":
    
    if letter == "i":
        continue
        
    print(letter)  
    
print ("The end")

s
t
r
n
g
The end

Here `e` and `s` both skipped

In [ ]:
my_string = "Students"

for letter in my_string:
    if (letter == "e" or letter == "s"):
        
        continue
    else:
        print(letter)

S
t
u
d
n
t

Here the numbers divisible by `2` will prints and remaining numbers will skip

In [ ]:
for i in range (1, 10):
    
    if i % 2 == 0:
        print ("Is %s is an even number? " % i)

    else:    
        continue
        
    print("Yes")

Is 2 is an even number?
Yes
Is 4 is an even number?
Yes
Is 6 is an even number?
Yes
Is 8 is an even number?
Yes

In [ ]:
for num in range(1, 10):
    
    if num % 2 == 0:
        print("Found an even number:", num)
        
        continue
    print(num)

1
Found an even number: 2
3
Found an even number: 4
5
Found an even number: 6
7
Found an even number: 8
9

Here the values divisible by `3` and `5` both got skipped

In [ ]:
for value in range(10):
    
    if value % 3 == 0 or value % 5== 0:
        
        continue
        
    print(value, "is not divisible by either 3 or 5")

1 is not divisible by either 3 or 5
2 is not divisible by either 3 or 5
4 is not divisible by either 3 or 5
7 is not divisible by either 3 or 5
8 is not divisible by either 3 or 5

Continue will despite the disruption when the variable number is evaluated as equivalent to `5`

Here we see that the line Number is `5` never occurs in the output, but the loop `continues` after that point to print lines for the numbers `6-8` before leaving the loop.

In [ ]:
number = 0

for number in range(8):
    number = number + 1
    
    if number == 5:
        continue
        
    print ("number is: " + str(number))
print("out of the for loop")

number is: 1
number is: 2
number is: 3
number is: 4
number is: 6
number is: 7
number is: 8
out of the for loop

In [ ]:
for i in range (1, 12):
    
    print()
    print ("Before the continue statement", i)
    
    if i % 3 == 0:
        continue
        
    print("After the continue statement", i)

Before the continue statement 1
After the continue statement 1

Before the continue statement 2
After the continue statement 2

Before the continue statement 3

Before the continue statement 4
After the continue statement 4

Before the continue statement 5
After the continue statement 5

Before the continue statement 6

Before the continue statement 7
After the continue statement 7

Before the continue statement 8
After the continue statement 8

Before the continue statement 9

Before the continue statement 10
After the continue statement 10

Before the continue statement 11
After the continue statement 11

printing `sum of all positive numbers` in given list

In [ ]:
num_list = [5, 4, -4, -3, 1, 2, -3, -5]

total = 0

for element in num_list:
    if element <= 0:
        
        
        continue
    total += element
    print("At index",num_list.index(element) , "sum is", total)

print("\nSum of all positive numbers is:", total)

At index 0 sum is 5
At index 1 sum is 9
At index 4 sum is 10
At index 5 sum is 12

Sum of all positive numbers is: 12

In [ ]:
files = ["Junk", "Trash", "Useless", "Important File", "Random File"]

for file in files:
    print (file)
    
    if file == "Important File":        
        print ("That's exactly what we were looking for :)")
        
        continue
        
    else:
        print("We are not looking for this")

Junk
We are not looking for this
Trash
We are not looking for this
Useless
We are not looking for this
Important File
That's exactly what we were looking for :)
Random File
We are not looking for this

Here lists are created: one with the numeric items and other with months. Skip which are 30 days, 28 days and print remaining which has 31 days

In [ ]:
num_days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] 
months = ["Jan", "Feb","Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
 
new_dict = dict() 

for i, j in zip(months, num_days):
    new_dict.update({i:j})
    
    if new_dict[i] < 29:  
        continue
        
    else:
        print(i, "month has", new_dict[i], "days")

Jan month has 31 days
Mar month has 31 days
Apr month has 30 days
May month has 31 days
Jun month has 30 days
Jul month has 31 days
Aug month has 31 days
Sep month has 30 days
Oct month has 31 days
Nov month has 30 days
Dec month has 31 days

Here we are using both break and continue keyword in this list

In [ ]:
animals = ["Deer", "Rabbit", "Lion", "Dog", "Cat", "Elephant", "Giraffe"]

for pet in animals:
    
    if pet == "Lion":
        
        continue
    if pet == "Elephant":
        
        break
        
    print (pet)

Deer
Rabbit
Dog
Cat

#### Pass keyword

The pass statement does nothing. It can be used when a statement is required syntactically but the program requires no action.

The pass statement occurring after the if conditional statement is telling the program to continue to run the loop and ignore the fact that the variable number evaluates as equivalent to 5 during one of its iterations.

The pass statement tells the program to disregard that condition and continue to run the program as usual.  This sttement is a null operation; nothing happens when it executes.

The pass statement is used to write the empty loop

In [ ]:
for letter in "string": 
    if letter == "r":
        pass
        
    print (letter)

s
t
r
i
n
g

# print statements

In [ ]:
for letter in "string": 
    
    if letter == "r":
        
        pass
        print("This is the pass block")
    
    else:   
        print ("Current Letter :", letter)
print ("out of the loop")

Current Letter : s
Current Letter : t
This is the pass block
Current Letter : i
Current Letter : n
Current Letter : g
out of the loop

program for getting all the odd numbers

In [ ]:
for i in range(10):
    
    if(i % 2 == 0):
        pass
    
    else:
        print(i)

1
3
5
7
9

The difference becomes apparent if we added another statement after the if: After executing pass,  this further statement would be executed

In [ ]:
odd_count = 0
total_count = 0

for i in range(10):
    
    if(i % 2 == 0):
        pass
    
    else:
        print(i)
        odd_count += 1
        
    total_count += 1
    
    print("Count of odd numbers: ", odd_count)
    print("Total count of numbers: ", total_count, "\n")

Count of odd numbers:  0
Total count of numbers:  1

1
Count of odd numbers:  1
Total count of numbers:  2

Count of odd numbers:  1
Total count of numbers:  3

3
Count of odd numbers:  2
Total count of numbers:  4

Count of odd numbers:  2
Total count of numbers:  5

5
Count of odd numbers:  3
Total count of numbers:  6

Count of odd numbers:  3
Total count of numbers:  7

7
Count of odd numbers:  4
Total count of numbers:  8

Count of odd numbers:  4
Total count of numbers:  9

9
Count of odd numbers:  5
Total count of numbers:  10

Write a python program that accepts a string and calculate the number of digits and letters.

Enter the following strings:
* python3
* python$$3

In [ ]:
my_str = input ("Input a string: ")

digits = 0
letters = 0

for i in my_str:
    if i.isdigit():
        digits = digits + 1
        
    elif i.isalpha():
        letters = letters + 1
        
    else:
        pass
    
print("Digits = ", digits)
print("Letters = ", letters)

Input a string: python$%#2
Digits =  1
Letters =  6

"Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
Hello world!
Then, the output should be:
UPPER CASE 1
LOWER CASE 9"

Your Time Is Limited, So Don't Waste It Living Someone Else's Life.

In [ ]:
sentence = input("Pass In A Sentence : ")

case = {"upper_case":0, "lower_case":0}

for i in sentence:    
    if i.isupper():
        case["upper_case"] += 1
        
    elif i.islower():
            case["lower_case"] += 1
            
    else:
        pass

print ("no. of upper case characters : ", case["upper_case"])
print ("no. of lower case Characters : ", case["lower_case"])

Pass In A Sentence : The rain in Spain is mainly in the Plain
no. of upper case characters :  3
no. of lower case Characters :  29

let's see the difference between **break continue and pass** with one example

In [ ]:
for i in range(10):
    
    print(i)
    
    if i > 3:
        break
        
    else:
        print("hello")
        
    print("end of an iteration of the for loop")

0
hello
end of an iteration of the for loop
1
hello
end of an iteration of the for loop
2
hello
end of an iteration of the for loop
3
hello
end of an iteration of the for loop
4

here continue doesn't break out of the loop. it does not contine going down instead it goes back to the begining of the loop.

In [ ]:
for i in range(10):
    
    print(i)
    
    if i > 3:
        continue
        
    else:
        print("hello")
        
    print("end of an iteration of the for loop")

0
hello
end of an iteration of the for loop
1
hello
end of an iteration of the for loop
2
hello
end of an iteration of the for loop
3
hello
end of an iteration of the for loop
4
5
6
7
8
9

pass is nothing but do nothing

In [ ]:
for i in range(10):
    
    print(i)
    
    if i > 3:
        pass
    
    else:
        print("hello")
        
    print("end of an iteration of the for loop")

0
hello
end of an iteration of the for loop
1
hello
end of an iteration of the for loop
2
hello
end of an iteration of the for loop
3
hello
end of an iteration of the for loop
4
end of an iteration of the for loop
5
end of an iteration of the for loop
6
end of an iteration of the for loop
7
end of an iteration of the for loop
8
end of an iteration of the for loop
9
end of an iteration of the for loop

### List Comprehension
#### An elegant way to define and create lists in python.  List comprehension allows you to generate a list of numbers from another list of numbes

In [41]:
num = range(10)

In [42]:
[x * x for x in num]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
letters = [letter for letter in "anxiety"]

print (letters)

['a', 'n', 'x', 'i', 'e', 't', 'y']

In [44]:
list_of_words = ["this", "is", "a", "list", "of", "words"]

items = [word[0] for word in list_of_words]

print (items)

['t', 'i', 'a', 'l', 'o', 'w']

In [45]:
[word[0].upper() for word in list_of_words]

['T', 'I', 'A', 'L', 'O', 'W']

In [46]:
[word.upper() for word in list_of_words]

['THIS', 'IS', 'A', 'LIST', 'OF', 'WORDS']

####  conditional expressions with for loops

In [47]:
[x * x for x in num if x % 2 != 0]

[1, 9, 25, 49, 81]

In [48]:
number_list = [number for number in range(20) if number % 2 == 0]

print(number_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

numbers that are divisible between 0 and 300 that are divisible by 27.

In [49]:
multiples_27 = [i for i in range(300) if i % 27 == 0]

print(multiples_27)

[0, 27, 54, 81, 108, 135, 162, 189, 216, 243, 270, 297]

In [50]:
[i for i in "MATHEMATICS" if i in ["A", "E", "I", "O", "U"]]

['A', 'E', 'A', 'I']

Extracting all the numbers from a string

In [51]:
string = "Hello 12345 World"

numbers = [int(x) for x in string if x.isdigit()]

print (numbers)

[1, 2, 3, 4, 5]

Extracting all the alpha from string

In [52]:
alpha = [x for x in string if x.isalpha()]

print (alpha)

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

#### nested for

In [53]:
stationery = ["Pen", "Marker", "Ink"]
colors = ["Red", "Blue", "Green"]

combined = [(i, j) for j in stationery for i in colors ]

combined

[('Red', 'Pen'),
 ('Blue', 'Pen'),
 ('Green', 'Pen'),
 ('Red', 'Marker'),
 ('Blue', 'Marker'),
 ('Green', 'Marker'),
 ('Red', 'Ink'),
 ('Blue', 'Ink'),
 ('Green', 'Ink')]

#### nested if

In [54]:
number_list = [number for number in range(51) if number % 2 == 0 if number % 5 == 0]

print(number_list)

[0, 10, 20, 30, 40, 50]

if-else

In [55]:
num = ["Even" if i % 2 == 0 else "Odd" for i in range(10)]
print(num)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [56]:
numbers = [22, 30, 45, 50, 18, 69, 43, 44, 12]

[x + 1  if x >= 45  else  x + 5  for x in numbers]

[27, 35, 46, 51, 23, 70, 48, 49, 17]

In [57]:
z = ["small" if number < 20 else "large" for number in numbers if number % 2 == 0 if number % 3 == 0]

print(z)

['large', 'small', 'small']

#### Nested list comprehension

In [58]:
[ [ 1 if item_idx == row_idx else 0 for item_idx in range(0, 3) ] for row_idx in range(0, 3) ]

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

Transpose of a Matrix using List Comprehension<br>
Find transpose of a matrix using nested loop inside list comprehension.

In [59]:
matrix = [[1, 2], [3,4], [5,6], [7,8]]

transpose = [[row[i] for row in matrix] for i in range(2)]
print (transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [60]:
flattened = [item for row in matrix for item in row]
print (flattened)

[1, 2, 3, 4, 5, 6, 7, 8]

##### Generator Comprehensions

Generator Comprehensions are very similar to list comprehensions.  One difference between them is that generator comprhensions use circular brackets whereas list comprehensions use square brackets.  The major difference between them is that generators don't allocate memory for the whole list.  Instead, they generate each value one by one which is why they are memory efficient.

In [61]:
input_list = [1, 2, 3, 4, 5, 6, 7]

output_gen = (var for var in input_list if var % 2 == 0)

print(output_gen)

<generator object <genexpr> at 0x7feddcd56c50>

If we want to print the output for generator expressions, we can simply iterate it over generator object

In [62]:
for i in output_gen:
    print(i)

2
4
6

Generator expression allows creating a generator on a fly without a yield keyword. However, it doesn't share the whole power of genertor created with a yield function.

In [64]:
gen_exp = (x ** 2 for x in range(10) if x % 2 == 0)

for x in gen_exp:
    print(x)

0
4
16
36
64

##### Set comprehension
The code creates a set of all the first letters in a sequence of words

you become what you believe

In [65]:
sentence = input("write a sentence: ")

words = sentence.split()
words

write a sentence: you become what you believe

['you', 'become', 'what', 'you', 'believe']

In [66]:
first_letters1 = [w[0] for w in words]

first_letters1

['y', 'b', 'w', 'y', 'b']

In [67]:
first_letters = {w[0] for w in words}

first_letters

{'b', 'w', 'y'}

##### Dictionary comprehension
Code that makes a new dictionary by swapping the keys and values of the original one:

In [68]:
original = {"alpha":"a", "beta":"b", "gamma":"g"}

flipped = {value: key for key, value in original.items()}

flipped

{'a': 'alpha', 'b': 'beta', 'g': 'gamma'}

In [69]:
objects = ["lunchbox", "candles", "tape"]
price = [13, 17, 6]

dict_obj = {key:value for (key, value) in zip (objects, price)}

print(dict_obj)

{'lunchbox': 13, 'candles': 17, 'tape': 6}

#### Python Program to Create a List of Tuples with the First Element as the Number and Second Element as the Square of the Number

In [70]:
num_1 = int(input("enter a number: "))
num_2 = int(input("enter another number: "))

a = [(x, x ** 2) for x in (num_1, num_2)]

print(a)

enter a number: 3
enter another number: 8
[(3, 9), (8, 64)]